/*
 * Friends > Add Friends
 */
.a145951f2e72a285-icon path[fill="var(--white)"] /* ("discover" icon) */ {
  fill: var(--black-500);
}

/*
 * Quests
 */
.b5b7aaa6ce54422c-verifiedIcon path[fill='var(--white)'] {
  fill: var(--black-500);
}

._956c67492d3b967a-completionAnimation {
  background-image: linear-gradient(
    180deg,
    hsla(var(--nord-green-hsl) / 0.05),
    hsla(var(--nord-green-hsl) / 0.1)
  );
}
