/*
 * Friends > Add Friends
 */
.icon_a14595 path[fill="var(--white)"] /* ("discover" icon) */ {
  fill: var(--black-500);
}

/*
 * Quests
 */
.verifiedIcon_b5b7aa path[fill='var(--white-500)'] {
  fill: var(--black-500);
}

.completionAnimation__956c6 {
  background-image: linear-gradient(
    180deg,
    hsla(var(--nord-green-hsl) / 0.05),
    hsla(var(--nord-green-hsl) / 0.1)
  );
}
