@if is_uniform() {
  .members_cbd271, /* DM group + Server > members sidebar */
  .profilePanel_b433b4 /* member sidebar */ {
    border-left: 1px solid var(--background-secondary-alt);
  }

  .profilePanel_b433b4 .userProfileOuterUnthemed_c69a7b .userPanelInnerThemed_c69a7b /* DM unthemed user profile sidebar */ {
    background: var(--background-primary) !important;
  }
}

/*
 * call icons
 */
.icon_e62b38[style*='background-image: url("/assets/617505e363f7f7cf9492.svg")'] {
  background-image: url(svg('user/dm-channel/call-incoming.svg')) !important;
}
.icon_e62b38[style*='background-image: url("/assets/22ff731ec050e3214b69.svg")'] {
  background-image: url(svg('user/dm-channel/call-missed.svg')) !important;
}
