/*
 * > title (status)
 */
.mask-2Me5HY rect[fill^='rgba(#{$green-360-rgb}'],
.mask-2Me5HY rect[fill='#{$green-360-hex}'] {
  fill: var(--user-status-online);
}
.mask-2Me5HY rect[fill^='rgba(#{$yellow-300-rgb}'],
.mask-2Me5HY rect[fill='#{$yellow-300-hex}'] {
  fill: var(--user-status-idle);
}
.mask-2Me5HY rect[fill^='rgba(#{$red-400-rgb}'],
.mask-2Me5HY rect[fill='#{$red-400-hex}'] {
  fill: var(--user-status-dnd);
}
.mask-2Me5HY rect[fill^='rgba(#{$twitch-rgb}'],
.mask-2Me5HY rect[fill='#{$twitch-hex}'] {
  fill: var(--user-status-twitch);
}
.mask-2Me5HY rect[fill^='rgba(#{$primary-400-rgb}'],
.mask-2Me5HY rect[fill='#{$primary-400-hex}'] {
  fill: var(--user-status-invisible);
}

/*
 * call icons
 */
.icon-JRJzJz[style*='background-image: url("/assets/7f75ab26bc5deb393cd8db44d9fe14e7.svg")'] {
  background-image: url(svg('user/dm-channel/call-incoming.svg')) !important;
}
.icon-JRJzJz[style*='background-image: url("/assets/5e64269a40d5bb745c2f3df29f26738d.svg")'] {
  background-image: url(svg('user/dm-channel/call-missed.svg')) !important;
}
