@use '../discord-color' as discord;

/* Profile popup (with custom theme > "Add friend" btn */
.custom-user-profile-theme .a22cb0c66246f5d3-primary {
  color: var(--white);
}

._8061a5f9dbf6d829-badge {
  &[src*='/6bdc42827a38498929a4920da12695d9.png'] {
    content: url(svg('user/profile/badge-active-developer.svg'));
  }
  &[src*='/6f9e37f9029ff57aef81db857890005e.png'] {
    content: url(svg('user/profile/badge-commands.svg'));
  }
  &[src='/fee1624003e2fee35cb398e125dc479b.png'] {
    content: url(svg('user/profile/badge-certified-moderator.svg'));
  }
  &[src*='/bf01d1073931f921909045f3a39fd264.png'] {
    content: url(svg('user/profile/badge-hypesquad.svg'));
  }
  &[src*='/8a88d63823d8a71cd5e390baa45efa02.png'] {
    content: url(svg('user/profile/badge-hypesquad-house-1.svg'));
  }
  &[src*='/011940fd013da3f7fb926e4a1cd2e618.png'] {
    content: url(svg('user/profile/badge-hypesquad-house-2.svg'));
  }
  &[src*='/3aa41de486fa12454c3761e8e223442e.png'] {
    content: url(svg('user/profile/badge-hypesquad-house-3.svg'));
  }
  &[src*='/3f9748e53446a137a052f3454e2de41e.png'] {
    content: url(svg('user/profile/badge-partner.svg'));
  }
  &[src*='/5e74e9b61934fc1f67c65515d1f7e60d.png'] {
    content: url(svg('user/profile/badge-staff.svg'));
  }
  &[src*='/6df5892e0f35b051f8b61eace34f4967.png'] {
    content: url(svg('user/profile/badge-verified-developer.svg'));
  }
  &[src*='/6de6d34650760ba5551a79732e98ed60.png'] {
    content: url(png('user/profile/badge-originally-know-as.png'));
  }
}

._82f0793afa59e5dc-botTagRegular:not(._82f0793afa59e5dc-botTagOP) /** "APP" tag */ {
  color: var(--black-500);

  path[fill='var(--white)'] /* Verified badge*/ {
    fill: currentColor;
  }
}

/*
 * > Status
 ! Friends list
 ! DM list
 ! DM channel > title bar
 ! Server > members list
 */
._44b0c28be7879b7b-mask {
  rect[fill='#{discord.$green-new-38-hex}'] {
    fill: var(--user-status-online);
  }
  rect[fill='#{discord.$yellow-new-30-hex}'] {
    fill: var(--user-status-idle);
  }
  rect[fill='#{discord.$red-new-46-hex}'] {
    fill: var(--user-status-dnd);
  }
  rect[fill='#{discord.$twitch-hex}'] /* (not on DM title bar) */ {
    fill: var(--user-status-twitch);
  }
  rect[fill='#{discord.$neutral-34-hex}'] {
    fill: var(--user-status-invisible);
  }
}

/*
 * User popup (sidebar left) > status (online, dnd, etc)
 */
.a423bdd721ddcc83-status {
  &[style='background-color: rgb(#{discord.$green-new-38-rgb});'] {
    background-color: var(--user-status-online) !important;
  }
  &[style='background-color: rgb(#{discord.$yellow-new-30-rgb});'] {
    background-color: var(--user-status-idle) !important;
  }
  &[style='background-color: rgb(#{discord.$red-new-46-rgb});'] {
    background-color: var(--user-status-dnd) !important;
  }
  &[style='background-color: rgb(#{discord.$neutral-34-rgb});'] {
    background-color: var(--user-status-invisible) !important;
  }
}

/*
 * Activity icon (in user list)
 */
.c9d15c8a962de3c8-icon path[fill='#{discord.$green-new-38-hex}'] {
  fill: var(--nord-green);
}
