.profileBadge-2YySEb[src='/assets/48d5bdcffe9e7848067c2e187f1ef951.svg'] {
  content: url(svg('user/profile/badge-staff.svg'));
}
.profileBadge-2YySEb[src='/assets/34306011e46e87f8ef25f3415d3b99ca.svg'] {
  content: url(svg('user/profile/badge-partner.svg'));
}
.profileBadge-2YySEb[src='/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg'] {
  content: url(svg('user/profile/badge-hypesquad-event.svg'));
}
.profileBadge-2YySEb[src='/assets/efcc751513ec434ea4275ecda4f61136.svg'] {
  content: url(svg('user/profile/badge-hypesquad-bravery.svg'));
}
.profileBadge-2YySEb[src='/assets/ec8e92568a7c8f19a052ef42f862ff18.svg'] {
  content: url(svg('user/profile/badge-hypesquad-brillance.svg'));
}
.profileBadge-2YySEb[src='/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg'] {
  content: url(svg('user/profile/badge-hypesquad-blance.svg'));
}
.profileBadge-2YySEb[src='/assets/4441e07fe0f46b3cb41b79366236fca6.svg'] {
  content: url(svg('user/profile/badge-early-verified-bot.svg'));
}
.profileBadge-2YySEb[src='/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg'] {
  content: url(svg('user/profile/badge-certified-moderator.svg'));
}
.profileBadge-2YySEb[src='/assets/26c7a60fb1654315e0be26107bd47470.svg'] {
  content: url(svg('user/profile/badge-active-developer.svg'));
}

/*
 * Popup > supports commands badge
 */
.profileBadge22-3OAigE[src='/assets/498591d63b352256a1bf18061eff9d57.svg'] {
  content: url(svg('user/profile/badge-commands.svg'));
}

/*
 * Popup > status > menu
 */
.status-2DiCMd[style*='background-color: #{$status-green-600}'] {
  background-color: var(--user-status-online) !important;
}
.status-2DiCMd[style*='background-color: #{$status-yellow-500}'] {
  background-color: var(--user-status-idle) !important;
}
.status-2DiCMd[style*='background-color: #{$status-red-500}'] {
  background-color: var(--user-status-dnd) !important;
}
.status-2DiCMd[style*='background-color: #{$status-grey-500}'] {
  background-color: var(--user-status-invisible) !important;
}

/*
 * Popup > status > switch account
 */
.activeIcon-1ykRnF path[fill='#{$brand-500}'] {
  fill: var(--brand-new-500);
}
.activeIcon-1ykRnF circle[fill='#{$white-500}'] {
  fill: var(--black-500);
}

/*
 * > status
 ! Friends list
 ! DM list
 ! server > member list
 */
.mask-1FEkla rect[fill='#{$status-green-600}'] {
  fill: var(--user-status-online);
}
.mask-1FEkla rect[fill='#{$status-yellow-500}'] {
  fill: var(--user-status-idle);
}
.mask-1FEkla rect[fill='#{$status-red-500}'] {
  fill: var(--user-status-dnd);
}
.mask-1FEkla rect[fill='#{$status-grey-500}'] {
  fill: var(--user-status-invisible);
}

/*
 ! Friends list
 ! DM list
 ! server > member list
 */
.mask-1FEkla rect[fill='#{$twitch}'] {
  fill: var(--user-status-twitch);
}
