/*
 * server boost status (btn)
 */
.cbe0b48ace22cf15-serverBoostTabItem[aria-selected='true'] {
  color: var(--black-500) !important;

  .cbe0b48ace22cf15-icon path {
    fill: var(--black-500);
  }
}
