/*
 * server boost status (btn)
 */
.serverBoostTabItem_f7189e[aria-selected='true'] {
  color: var(--black-500) !important;

  .icon_f7189e {
    fill: var(--black-500) !important;
  }
}

/* badge */
.icon_f7189e[fill='#{$guild-boosting-pink-hex}' i] {
  fill: var(--guild-boosting-pink);
}
