/*
 * > Integration
 */
.permissionV3BannerContainer-3_4aSa {
  path[fill='#737FFF'] {
    fill: var(--brand-400);
  }

  /* commands block */
  path[fill='#202225'] {
    fill: var(--background-tertiary);
  }
  path[fill='#2F3136'] {
    fill: var(--background-primary);
  }
  line[stroke='#3B3D42'] {
    stroke: var(--background-secondary-alt);
  }

  path[fill='#B9BBBE'] {
    fill: var(--header-secondary);
  }
  path[fill='white'] {
    fill: var(--header-primary);
  }
  path[fill='#B9BBBE'] {
    fill: var(--text-muted);
  }
  path[fill='#00B0F4'] {
    fill: var(--text-link);
  }

  /* robot */
  path[fill='#8CD9FF'] /* (also sparks) */ {
    fill: var(--nord-cyan);
  }
  path[fill="#66BCFF"],
  path[fill='#3442D9'] /* sparks */ {
    fill: var(--blue-330);
  }
  path[fill='black'] {
    fill: var(--black-500);
  }
  path[fill='#FFE75C'] /* (also sparks) */ {
    fill: var(--yellow-500);
  }
  path[fill='#57F287'] /* (also sparks) */ {
    fill: var(--green-500);
  }

  /* sparks */
  path[fill='#FF78B9'] {
    fill: var(--nord-pink);
  }
}
