/*
 * > enable community
 */
._7dd5e5d187db8f31-sparkles[src='/assets/2990c2614b7e7388.svg'] {
  content: url(svg('server/settings/community/stars.svg'));
}

/*
 * > enable community > get started
 */
.b071d449c343cb88-overviewSidebar {
  background: linear-gradient(
    180deg,
    var(--blurple-58) 6.65%,
    var(--blurple-52) 69.44%,
    var(--blurple-48) 106.24%
  );
}

.b071d449c343cb88-header,
.b071d449c343cb88-stepIndex,
.b071d449c343cb88-stepTitle,
.b071d449c343cb88-selected .b071d449c343cb88-stepTitle {
  color: var(--black-500);
}

.b071d449c343cb88-selected .b071d449c343cb88-stepIndex {
  color: var(--brand-900);
}

._50e4ecc92cc862b6-content {
  img[src='/assets/0280ce34b0947c59.svg'] {
    content: url(svg('server/settings/community/shield.svg'));
  }
  img[src='/assets/83bf855b8ecf7f86.svg'] /** (step 2) */ {
    content: url(svg('server/settings/community/wrench.svg'));
  }
  img[src='/assets/30c9caf58319d0f5.svg'] /** (step 3) */ {
    content: url(svg('server/settings/community/check.svg'));
  }
}
