/*
 * > enable community
 */
.featureIcon-2sTnDK path[fill='#{$status-green-600}'] {
  fill: var(--text-positive);
}
.featureIcon-2sTnDK path[fill='#{$partner}'] {
  fill: var(--nord-blue);
}
.featureIcon-2sTnDK path[fill='#{$status-red-400}'] {
  fill: var(--text-danger);
}

.sparkles-1nSL9S[src='/assets/7418d03d0480ed13eed00c28584d275a.svg'] {
  content: url(svg('server/settings/community/stars.svg'));
}

/*
 * > enable community > get started
 */
.overviewSidebar-3JDLaJ {
  background: linear-gradient(
    180deg,
    var(--brand-new-500) 6.65%,
    var(--brand-new-600) 69.44%,
    var(--brand-new-800) 106.24%
  );
}

.header-3ABLD1,
.stepIndex-Kqaht-,
.stepTitle-2LVW-a,
.selected-2HDz3F .stepTitle-2LVW-a {
  color: var(--black-500);
}

.selected-2HDz3F .stepIndex-Kqaht- {
  color: var(--brand-new-900);
}

.content--gAC_W img[src='/assets/070f1b98adc8ce07c7823021133efed5.svg'] {
  content: url(svg('server/settings/community/shield.svg'));
}
.content--gAC_W img[src='/assets/d8a03b9985d824edc78c6eb4785dc949.svg'] /** (step 2) */ {
  content: url(svg('server/settings/community/wrench.svg'));
}
.content--gAC_W img[src='/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg'] /** (step 3) */ {
  content: url(svg('server/settings/community/check.svg'));
}

/*
 * > partner programme
 */
.featureIcon-2sTnDK path[fill='#{$brand-500}'] {
  fill: var(--brand-new-500);
}

.checklistIcon-D7psvE path[fill='#{$white-500}'] {
  fill: var(--black-500);
}
.checklistIcon-D7psvE path[fill='#{$status-red-500}'] {
  fill: var(--text-danger);
}
.checklistIcon-D7psvE path[fill='#{$status-yellow-500}'] {
  fill: var(--text-warning);
}

/*
 * > discovery
 */
.sparkles-1JOsCC[src='/assets/89c185367e2d2dd521f4265f2b8c93ee.svg'] {
  content: url(svg('server/settings/community/discovery-stars.svg'));
}

/*
 * > welcome screen
 */
.activeCircle-3rE6-u {
  color: var(--black-500);
}
