/*
 * > enable community
 */
.sparkles__67f09[src='/assets/d763245961e240231735.svg'] {
  content: url(svg('server/settings/community/stars.svg'));
}

/*
 * > enable community > get started
 */
.overviewSidebar__80841 {
  background: linear-gradient(
    180deg,
    var(--brand-500) 6.65%,
    var(--brand-600) 69.44%,
    var(--brand-800) 106.24%
  );
}

.header_be1547,
.stepIndex__1d9d1,
.stepTitle__026a8,
.selected_de8f03 .stepTitle__026a8 {
  color: var(--black-500);
}

.selected_de8f03 .stepIndex__1d9d1 {
  color: var(--brand-900);
}

.content__98380img[src='/assets/e30b03b1854a7d11fb6d.svg'] {
  content: url(svg('server/settings/community/shield.svg'));
}
.content__98380 img[src='/assets/58bf98682d30fb823326.svg'] /** (step 2) */ {
  content: url(svg('server/settings/community/wrench.svg'));
}
.content__98380 img[src='/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg'] /** (step 3) */ {
  content: url(svg('server/settings/community/check.svg'));
}

/*
 * > Onboarding > check it out (skip button)
 */
.colorPrimary__6ed40 .button_c388c8[style*='color: rgb(#{$white-500-rgb})'] {
  color: var(--white-500) !important;
}

/*
 * > discovery
 */
.sparkles__67f09[src='/assets/d763245961e240231735.svg'] {
  content: url(svg('server/settings/community/discovery-stars.svg'));
}
