/*
 * > enable community
 */
.sparkles_bebc5b[src='/assets/2990c2614b7e7388.svg'] {
  content: url(svg('server/settings/community/stars.svg'));
}

/*
 * > enable community > get started
 */
.overviewSidebar_afb566 {
  background: linear-gradient(
    180deg,
    var(--brand-500) 6.65%,
    var(--brand-600) 69.44%,
    var(--brand-800) 106.24%
  );
}

.header_afb566,
.stepIndex_afb566,
.stepTitle_afb566,
.selected_afb566 .stepTitle_afb566 {
  color: var(--black-500);
}

.selected_afb566 .stepIndex_afb566 {
  color: var(--brand-900);
}

.content_ef2eb4 {
  img[src='/assets/0280ce34b0947c59.svg'] {
    content: url(svg('server/settings/community/shield.svg'));
  }
  img[src='/assets/83bf855b8ecf7f86.svg'] /** (step 2) */ {
    content: url(svg('server/settings/community/wrench.svg'));
  }
  img[src='/assets/30c9caf58319d0f5.svg'] /** (step 3) */ {
    content: url(svg('server/settings/community/check.svg'));
  }
}

/*
 * > discovery
 */
.sparkles__5afba[src='/assets/dfcaffb5a0388dc3.svg'] {
  content: url(svg('server/settings/community/discovery-stars.svg'));
}
