/*
 * > enable community
 */
._7dd5e5d187db8f31-sparkles[src='/assets/2990c2614b7e7388.svg'] {
  content: url(svg('server/settings/community/stars.svg'));
}

/*
 * > enable community > get started
 */
._6515e2dee2dfdb8e-overviewSidebar {
  background: linear-gradient(
    180deg,
    var(--brand-500) 6.65%,
    var(--brand-600) 69.44%,
    var(--brand-800) 106.24%
  );
}

._6515e2dee2dfdb8e-header,
._6515e2dee2dfdb8e-stepIndex,
._6515e2dee2dfdb8e-stepTitle,
._6515e2dee2dfdb8e-selected ._6515e2dee2dfdb8e-stepTitle {
  color: var(--black-500);
}

._6515e2dee2dfdb8e-selected ._6515e2dee2dfdb8e-stepIndex {
  color: var(--brand-900);
}

.ef2eb43282958c32-content {
  img[src='/assets/0280ce34b0947c59.svg'] {
    content: url(svg('server/settings/community/shield.svg'));
  }
  img[src='/assets/83bf855b8ecf7f86.svg'] /** (step 2) */ {
    content: url(svg('server/settings/community/wrench.svg'));
  }
  img[src='/assets/30c9caf58319d0f5.svg'] /** (step 3) */ {
    content: url(svg('server/settings/community/check.svg'));
  }
}
