/*
 * > Stickers
 */
.upsellHeader__17daa,
.upsellDescription__17daa {
  color: var(--white);
}
.currentTierIcon_c44edb {
  color: var(--black-500) !important;
}

/* ! + Server Boost Status */
.tierIconLocked_a36dee {
  color: var(--interactive-muted);
}
