/*
 * > Stickers
 */
.upsellHeader__17daa,
.upsellDescription__17daa {
  color: var(--white);
}
.currentTierIcon_c44edb {
  color: var(--black-500) !important;
}

/*
 ! Channel settings > Permissions
 */
.allow__344e6.selected__344e6 {
  color: var(--black-500);
}

/*
 * > Server Boost Status
 */
.tierIconLocked_a36dee {
  color: var(--interactive-muted);
}
