@if is_uniform() {
  .theme-dark .avatarUploaderInnerEmpty_f0a9ff, /* > Overview (server without avatar) */
  .tierBody_da77bd /* > Sticker */ {
    background-color: var(--background-secondary) !important;
  }
}

/*
 * > Overview
 */
@if is_uniform() {
  .theme-light .avatarUploaderInnerEmpty_f0a9ff .imageUploaderAcronym_de76e4 {
    color: var(--black-500);
  }
}

/*
 * > Stickers
 */
.upsellHeader_bb33d5,
.upsellDescription_bb33d5 {
  color: var(--white-100);
}
.currentTierIcon_a4fd01 {
  color: var(--black-500) !important;
}

@if is_uniform() {
  .theme-dark .tierHeaderLocked_da77bd,
  .theme-dark .tierHeaderUnlocked_da77bd {
    background-color: var(--background-secondary-alt);
  }
  .theme-dark .tierIconLocked_da77bd {
    color: var(--text-muted);
  }
}
