@if is_uniform() {
  .theme-dark .avatarUploaderInnerEmpty-1WzULT, /* > Overview (server without avatar) */
  .tierBody-1d3UiS /* > Sticker */ {
    background-color: var(--background-secondary) !important;
  }
}

/*
 * > Overview
 */
@if is_uniform() {
  .theme-light .avatarUploaderInnerEmpty-1WzULT .imageUploaderAcronym-2JJw9B {
    color: var(--black-500);
  }
}

/*
 * > Stickers
 */
.upsellHeader-3707cG,
.upsellDescription-2O_p3B {
  color: var(--white-100);
}
.currentTierIcon-23IR3F {
  color: var(--black-500) !important;
}

@if is_uniform() {
  .theme-dark .tierHeaderLocked-30MLlO,
  .theme-dark .tierHeaderUnlocked-1OpOLf {
    background-color: var(--c-background-secondary-alt2);
  }
  .theme-dark .tierIconLocked-RGSkSl {
    color: var(--text-muted);
  }
}

/*
 * > Server template
 */
.descriptionIcon-3nDZrK {
  path[fill='hsl(#{$green-360-hsl})'] {
    fill: var(--green-360);
  }
  path[fill='hsl(#{$red-400-hsl})'] {
    fill: var(--red-400);
  }
}
