/*
 * > Stickers
 */
._17daa163c83740ad-upsellHeader,
._17daa163c83740ad-upsellDescription {
  color: var(--white);
}
.c44edb7a6ac077d8-currentTierIcon {
  color: var(--black-500) !important;
}

/* ! + Server Boost Status */
.a36dee84341ac9f5-tierIconLocked {
  color: var(--interactive-muted);
}
