/*
 * > server template
 */
.descriptionIcon-3nDZrK circle[fill='var(--white-500)'] {
  fill: var(--black-500);
}

/*
 * Stickers
 */
.upsellHeader-3707cG,
.upsellDescription-2O_p3B {
  color: var(--white-100);
}
.currentTierIcon-23IR3F {
  color: var(--black-500) !important;
}
