/*
 * > audit log
 */
._43dab84f7529cb48-typeUpdate:after {
  background: url(svg('server/settings/moderation/type-create.svg'));
}
._43dab84f7529cb48-typeCreate:after {
  background: url(svg('server/settings/moderation/type-update.svg'));
}
._43dab84f7529cb48-typeDelete:after {
  background: url(svg('server/settings/moderation/type-delete.svg'));
}
