/*
 * > Safety Setup > AutoMod
 */
.textBadge__9e179[style*='background-color: var(--brand-500)'], /* "AUTOMOD" badge */
.textBadge__45d79[style*='background-color: var(--brand-500)']  /* "beta" tag */ {
  color: var(--black-500);
}

.automodText_b20021 /* "AUTOMOD" badge */ {
  color: currentColor;
}

/*
 * > audit log
 */
.typeCreate__18a1f:after {
  background: url(svg('server/settings/moderation/type-create.svg'));
}
.typeUpdate__7c320:after {
  background: url(svg('server/settings/moderation/type-update.svg'));
}
.typeDelete__1e939:after {
  background: url(svg('server/settings/moderation/type-delete.svg'));
}
