/*
 * > audit log
 */
.typeUpdate__43dab:after {
  background: url(svg('server/settings/moderation/type-create.svg'));
}
.typeCreate__43dab:after {
  background: url(svg('server/settings/moderation/type-update.svg'));
}
.typeDelete__43dab:after {
  background: url(svg('server/settings/moderation/type-delete.svg'));
}
