/*
 * > Server subscriptions
 */
.earningsPreviewContainer__02e4c[style*='background-color: rgb(46, 54, 56)'] {
  background-color: hsl(var(--green-760-hsl) / 0.1) !important;
}

/* badge on "learn from other creators */
.subscriberCountValue__2485e {
  background-color: var(--brand-800);

  & > div {
    color: var(--white-100) !important;
  }
}
.subscriberCountText__2485e {
  path[fill='var(--white)'] {
    fill: var(--black-500);
  }
  & > div {
    color: var(--black-500) !important;
  }
}
