/** Beta tag */
.baseShapeRound-3epLEv[style*='background-color: var(--brand-500)'] {
  color: var(--black-500);
}

/*
 * Nitro badge
 */
.premiumLabel-3HPvdB.selected-2Uns2B {
  path[fill='url(#paint0_linear_6413_12612)'],
  path[fill='url(#paint1_linear_6413_12612)'] {
    fill: var(--black-500);
  }
}

/*
 * Nitro badge (with offer)
 ! DM > Nitro btn (with offer)
 */
.offerBadge-1KDtMz {
  color: var(--black-500) !important;
}
