/*
 * > registered games
 */
.cc46f0f859f26200-nowPlaying {
  .cc46f0f859f26200-gameName,
  .cc46f0f859f26200-lastPlayed,
  .cc46f0f859f26200-overlayStatusText {
    color: var(--neutral-76);
  }

  .cc46f0f859f26200-fill {
    fill: var(--neutral-76) !important;
  }
}

/* Verified badge */
.cc46f0f859f26200-gameVerifiedIcon
  ._3e3b0b1c0f688f9e-childContainer
  path[fill='var(--white-500)'] {
  fill: var(--neutral-76);
}
