/*
 * > registered games
 */
.theme-light .nowPlayingAdd_fd966d {
  color: var(--text-normal);
}

.nowPlaying_fd966d {
  .gameName_fd966d,
  .lastPlayed_fd966d {
    color: var(--black-500) !important;
  }
}

.default_a467ac {
  background-image: url(svg('user/settings/activity/cross.svg'));
}

.theme-light .game_fd966d {
  box-shadow: 0 1px 0 0 var(--background-tertiary);
}
.theme-light .card_ffe375:before {
  background-color: var(--background-secondary);
}

/* Verified badge */
.gameVerifiedIcon_fd966d .childContainer_ff7d90 path[fill='var(--white-500)'] {
  fill: var(--black-500);
}
