/*
 * > registered games
 */
.theme-light .nowPlayingAdd_cc46f0 {
  color: var(--text-normal);
}

.nowPlaying_cc46f0 {
  .gameName_cc46f0,
  .lastPlayed_cc46f0,
  .overlayStatusText_cc46f0 {
    color: var(--neutral-76);
  }

  .fill_cc46f0 {
    fill: var(--neutral-76) !important;
  }
}

/* Verified badge */
.gameVerifiedIcon_cc46f0 .childContainer__3e3b0 path[fill='var(--white-500)'] {
  fill: var(--neutral-76);
}
