/*
 * > Voice & Video
 */
.theme-light .bar_a562c8,
.theme-light .markDash_a562c8, /* (slider) */
.theme-light .progress__06283 /* (mic test) */ {
  background-color: var(--background-secondary-alt);
}

.theme-light .notches__06283 {
  color: var(--background-primary);
}

/*
 * > Keybinds
 */
.key_fcddc1 {
  border-color: var(--background-tertiary);
  box-shadow: inset 0 -4px 0 var(--background-secondary);
}
