/*
 * > Voice & Video
 */
.theme-light .bar_c7a159,
.theme-light .markDash_c7a159, /* (slider) */
.theme-light .progress_e5cdf3 /* (mic test) */ {
  background-color: var(--background-secondary-alt);
}

.theme-light .notches_e5cdf3 {
  color: var(--background-primary);
}

/*
 * > Keybinds
 */
.key_c90023 {
  border-color: var(--background-tertiary);
  box-shadow: inset 0 -4px 0 var(--background-secondary);
}
