/*
 * > my account
 */
.lockIcon_cf3a4d[src='/assets/2035204bfda605f5ac43.svg'],
.secured__615be:before /*! sidebar left > click on 'voice connected' */ {
  content: url(svg('user/settings/general/lock.svg'));
}

/*
 * > profiles
 */
.uploadIcon__68f2c {
  color: var(--primary-460-hsl);
}

/*
 * >> server profile
 */
.upsellTextContainer__62647 > div[style*='color: white'] {
  color: var(--black-500) !important;
}

/*
 * >>> choose a server
 */
.selectedIcon__4b0ba circle[fill='white'] {
  fill: var(--black-500);
}

/*
 * > Privacy & Safety
 */
@if is_uniform() {
  .itemFilled__373d7[aria-checked='true'] {
    background-color: var(--background-secondary-alt);
  }
}

/*
 * > authorizes apps
 */
.permissionCheckmark__27f79 {
  background-image: url(svg('user/settings/general/checkmark.svg'));
}
