/*
 * > my account
 */
.lockIcon-3t6Ow0[src='/assets/55b367aaef0b83c837ac6c3bfe01da4c.svg'],
.secured-2wavXv:before /*! sidebar left > click on 'voice connected' */ {
  content: url(svg('user/settings/general/lock.svg'));
}

/*
 * >> edit username
 */
.questionMark-3V9mGJ .icon-3JHfo7 {
  color: var(--black-500);
}

/*
 * >> edit mail
 */
/* .headerImage-2osrlm[src='/assets/7b5789bc4c78776081a765ce007a210e.svg'] { !TODO: couldn't replaced
} */

/*
 * > profiles
 */
.theme-dark .imageUploaderIcon-2OHmFu {
  background-image: url(svg('user/settings/general/upload.svg'));
}

.premiumFeatureBorder-1i95si {
  background: linear-gradient(var(--background-primary), var(--background-primary)) padding-box,
    linear-gradient(45deg, var(--premium-tier-2-purple-for-gradients), var(--premium-tier-2-pink-for-gradients))
      border-box;
}

/*
 * >> server profiles > choose a server
 */
.selectedIcon-19TbzU circle[fill='white'] {
  fill: var(--black-500);
}

/*
 * > Privacy & Safety
 */
.itemFilled-2Fo7lr[aria-checked='true'] {
  background-color: var(--c-background-secondary-alt2);
}

/*
 * > authorizes apps
 */
.permissionCheckmark-ji-OoY {
  background-image: url(svg('user/settings/general/checkmark.svg'));
}

.cardPrimaryOutline-1ofwVz {
  border-color: var(--c-separator-border);
}
