/*
 * > my account
 */
.lockIcon__2666b[src='/assets/513846bd926efc73.svg'] {
  content: url(svg('user/settings/general/lock.svg'));
}

/*
 * > profiles
 */
.uploadIcon_edf440 /* Change avatar */ {
  color: var(--black-500);
}

/*
 * >> server profile
 */
.upsellTextContainer__0f7dc > div[style*='color: white'] {
  color: var(--black-500) !important;
}

/*
 * >>> choose a server
 */
.selectedIcon__3f413 circle[fill='white'] {
  fill: var(--black-500);
}

/*
 * > Content & Social
 */
@if is_uniform() {
  .itemFilled__001a7[aria-checked='true'] {
    background-color: var(--background-secondary-alt);
  }
}

/* Discord icon (when "all server") */
.guildSelectOptionIcon_b476ba path[fill='white'] {
  fill: var(--black-500);
}

/*
 * > authorizes apps
 */
.permissionCheckmark__50a54 {
  background-image: url(svg('user/settings/general/checkmark.svg'));
}
