/*
 * > nitro
 */
.giftButton_b322b1:hover:not(:active) {
  color: var(--black-500) !important;
}

.subButton__81281, .subButtonText_ac86f6, .subButton__70f7f, .v2SubButtonText_ac86f6, /* ("subscribe" button) */
.upsellButton_c0eeaa /*! server settings > stickers */ {
  color: var(--blurple-87) !important;
}

// Tier blocks
.premiumCards_ac86f6,
.tier2MarketingCard__9e160, /*  ("subscribe" button clicked) */
.tier0Card__176c7 /* !+ server settings > server boost status */ {
  .pricePerInterval_fd0764[style*='color: white'],
  .text-md\/normal_cf4812[style*='color: white'] {
    color: currentColor !important;
  }
}
/* !+ server settings > server boost status */
.tier2_ac86f6 {
  color: var(--neutral-76);
}

/* "Gift nitro" button */
.buttonWhite_b322b1 {
  color: var(--white-500) !important;
  border-color: var(--white-500) !important;
}
.buttonBrand_b322b1 {
  color: var(--blurple-65) !important;
  border-color: var(--blurple-65) !important;
}

/*
 * >> pick plan section
 */
.mostPopularText_e4ef5c {
  color: var(--neutral-76);
}

/*
 * >> subscribe (popup)
 ! Get nitro
 */
.planOptionDiscount_b13085[style*='color: white'] {
  color: var(--black-500) !important;
}

/*
 * > Subscriptions
 */
.noItemsIcon_e335a7,
.noItemsIcon__70151 {
  background: var(--neutral-45-hsl) !important;
}
