/*
 * > nitro
 */
._81281805fb6b6ae4-subButton, .ac86f68ab746d5ff-subButtonText, ._70f7f6541f6f031e-subButton /* ("subscribe" button) */ {
  color: var(--blurple-87) !important;
}

// Tier blocks
.ac86f68ab746d5ff-premiumCards,
._176c72b6f550dacc-tier0Card /* !+ server settings > server boost status */ {
  .fd0764d549c356e7-pricePerInterval[style*='color: white'],
  .cf48127484dbde85-text-md\/normal[style*='color: white'] {
    color: currentColor !important;
  }
}
/* !+ server settings > server boost status */
.ac86f68ab746d5ff-tier2 {
  color: var(--neutral-76);
}

/*
 * >> pick plan section
 */
.e4ef5cb9eb007591-mostPopularText {
  color: var(--neutral-76);
}

/*
 * >> subscribe (popup)
 ! Get nitro
 */
._6df1abcb56d96feb-card .e7b36efa701226e4-pillGradient {
  background: var(--nord-pink);

  & > div[style*='color: var(--text-strong)'] {
    color: var(--neutral-76) !important;
  }
}

.b130855d8984d74e-annualPlanOptionDiscount[style*='color: white'],
.b130855d8984d74e-planOptionDiscount[style*='color: white'] {
  color: var(--neutral-76) !important;
}

/*
 * > Subscriptions
 */
.e335a78803b4d1df-noItemsIcon,
._7015147b977b3e0e-noItemsIcon {
  background: var(--background-base-low) !important;
}
