/*
 * > nitro
 */
.subButton__81281, .subButtonText_ac86f6, .subButton__70f7f /*, .v2SubButtonText_ac86f6, */ /* ("subscribe" button) */ {
  color: var(--blurple-87) !important;
}

// Tier blocks
.premiumCards_ac86f6,
.tier0Card__176c7 /* !+ server settings > server boost status */ {
  .pricePerInterval_fd0764[style*='color: white'],
  .text-md\/normal_cf4812[style*='color: white'] {
    color: currentColor !important;
  }
}
/* !+ server settings > server boost status */
.tier2_ac86f6 {
  color: var(--neutral-76);
}

/*
 * >> pick plan section
 */
.mostPopularText_e4ef5c {
  color: var(--neutral-76);
}

/*
 * >> subscribe (popup)
 ! Get nitro
 */
.card__6df1a .pillGradient_e7b36e {
  background: var(--nord-pink);

  & > .pillText_e7b36e {
    color: var(--neutral-76) !important;
  }
}

.planOptionDiscount_b13085[style*='color: white'] {
  color: var(--neutral-76) !important;
}

/*
 * > Subscriptions
 */
.noItemsIcon_e335a7,
.noItemsIcon__70151 {
  background: var(--background-base-low) !important;
}
