/*
 * > nitro
 */
.giftButton_b322b1:hover:not(:active) {
  color: var(--black-500) !important;
}

.subButton__81281, .subButtonText_c880e8, /* ("subscribe" button) */
.lookFilled__201d5.colorBrandInverted__201d5, /*+ user settings > profile (go to shop) */
.upsellButton_c0eeaa /*! server settings > stickers */ {
  color: var(--brand-800) !important;
}

// Tier blocks
.premiumCards_ac86f6,
.tier0Card__176c7 /* !+ server settings > server boost status */ {
  .pricePerInterval_fd0764[style*='color: white'],
  .text-md\/normal_cf4812[style*='color: white'] {
    color: currentColor !important;
  }
}
/* !+ server settings > server boost status */
.tier2_ac86f6 {
  color: var(--primary-660);
}

/*
 * >> pick plan section
 */
.mostPopularText_e4ef5c {
  color: var(--primary-660);
}

/*
 * >> subscribe (popup)
 ! Get nitro
 */
.planOptionDiscount_b13085[style*='color: white'] {
  color: var(--black-500) !important;
}

/*
 * > Subscriptions
 */
.noItemsIcon_e335a7,
.noItemsIcon__70151 {
  background: var(--primary-460-hsl) !important;
}
