/*
 * > nitro
 */
.giftButton_b105e9:hover:not(:active) {
  color: var(--black-500) !important;
}

.settingsTextContainer_f26610 > *[style*='color: white'] {
  color: var(--header-primary) !important;
}

.lookFilled_dd4f85.colorBrandInverted_dd4f85, /*+ user settings > profile */
.upsellButton_bb33d5 /*! server settings > stickers */ {
  color: var(--brand-800);
}

// Tier blocks
.premiumCards_c87d73 {
  .display-md_dc00ef[style*='color: white'],
  .pricePerInterval_af8f09[style*='color: white'],
  .text-sm\/normal_dc00ef[style*='color: white'] {
    color: currentColor !important;
  }
}
/* !+ server settings > server boost status */
.tier2_c87d73 {
  color: var(--primary-660);

  .display-md_dc00ef[style*='color: white'],
  .pricePerInterval_af8f09[style*='color: white'],
  .text-md\/normal_dc00ef[style*='color: white'],
  .text-sm\/normal_dc00ef[style*='color: white'] {
    color: currentColor !important;
  }
}

/*
 * >> pick plan section
 */
.mostPopularText_c87d73 {
  color: var(--primary-660);
}

/*
 * >> subscribe (popup)
 ! Get nitro
 */
.planOptionDiscount_bd3462[style*='color: white'] {
  color: var(--black-500) !important;
}

/*
 * > Subscriptions
 */
.noItemsIcon_a206c7,
.noItemsIcon_e70817 {
  background: var(--primary-460-hsl) !important;
}
