/*
 * > nitro
 */
.pricePerInterval-1HgDkM[style*='color: white'],
.text-md-normal-304U3g[style*='color: white'] {
  color: currentColor !important;
}
.tier0-17mYUd {
  background: var(--premium-tier-0-blue);
}
.tier2-qNjKTW {
  background: var(--premium-tier-2-pink);
  color: var(--primary-dark-660);
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.upsellButton-36YQ7c /*! server settings > stickers */ {
  color: var(--brand-new-800);
}

.tag-3Upstw {
  color: var(--black-500);
}

.mostPopularText-1WuXKM {
  color: var(--primary-dark-660);
}

.buttonBrand-2zsm1a {
  color: var(--brand-new-800) !important;
  border-color: var(--brand-new-800) !important;
}

.sparkleStar1-2v0V0s {
  color: var(--premium-perk-blue);
}
.sparkleStar2-1ry0eu {
  color: var(--premium-perk-dark-blue);
}
.sparkleStar3-3rxehx {
  color: var(--premium-perk-light-blue);
}
.sparkleStar4-3-pq8C {
  color: var(--premium-perk-pink);
}

/*
 * > nitro > subscribe
 ! Get nitro
 */
.warnIcon-3ly1wg {
  background-image: url(svg('user/settings/payment/warn.svg'));
}
.planOptionDiscount-2nex9n {
  color: var(--black-500);
}

/*
 * > server boost
 */
.audioQualityIcon-2V2mE1 {
  color: var(--nord-blue);
}
.uploadSizeIcon-3OSRBC {
  color: var(--premium-tier-2-pink);
}
