/*
 * > profiles > Per-server profile
 */
.upsellTextContainer__0f7dc > div[style*='color: white'] {
  color: var(--neutral-79) !important;
}

/*
 * > Content & Social > Discord icon (when "all server")
 */
.guildSelectOptionIcon_b476ba path[fill='white'] {
  fill: var(--neutral-79);
}

/*
 * > authorizes apps
 */
.permissionCheckmark__50a54 {
  background-image: url(svg('user/settings/general/checkmark.svg'));
}
