{
  "extends": ["eslint:recommended", "standard", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  }
}
