:root {
  --nord-dark1: #2e3440;
  --nord-dark2: #3b4252;
  --nord-dark3: #434c5e;
  --nord-dark4: #4c566a;
  --nord-light1: #d8dee9;
  --nord-light2: #e5e9f0;
  --nord-light3: #eceff4;
  --nord-green-blue: #8fbcbb;
  --nord-turquoise: #88c0d0;
  --nord-cyan: #81a1c1;
  --nord-blue: #5e81ac;
  --nord-red: #bf616a;
  --nord-orange: #d08770;
  --nord-yellow: #ebcb8b;
  --nord-green: #a3be8c;
  --nord-pink: #b48ead;

  --nord-light-1: #cdd3e0;
  --nord-light0: #c5ccd8;
  --nord-light4: #f1f3f7;
  --nord-light5: #f8f9fc;
  --nord-grey1: #9ba2ac;
  --nord-black1: #2b303b;
  --nord-black2: #20242c;
  --nord-black3: #15181e;
  --nord-dark5: #606d85;
  --nord-primary: var(--nord-green-blue);

  --button-primary: var(--nord-primary);
  --button-primary-text: var(--nord-black1);
  --button-primary-hover: #7da8a8;
  --button-primary-active: #709494;
  --button-primary-active-outlined: rgba(143, 188, 187, 0.1);
  --button-primary-disabled: #749191;
  --button-primary-ghost: rgba(143, 188, 187, 0.1);
  --button-primary-ghost-text: var(--nord-primary);
  --button-primary-ghost-hover: rgba(125, 168, 168, 0.1);
  --button-primary-ghost-active: rgba(112, 148, 148, 0.1);
  --button-green: var(--nord-green);
  --button-green-text: var(--nord-dark1);
  --button-green-hover: #93ac7e;
  --button-green-active: #82996f;
  --button-green-ghost: rgba(163, 190, 140, 0.1);
  --button-green-ghost-text: var(--nord-green);
  --button-green-ghost-hover: rgba(147, 172, 126, 0.1);
  --button-green-ghost-active: rgba(130, 153, 111, 0.1);
  --button-grey: var(--nord-dark5);
  --button-grey-text: var(--nord-light5);
  --button-grey-hover: var(--nord-dark4);
  --button-grey-active: var(--nord-dark2);
  --button-grey-ghost: rgba(96, 109, 133, 0.1);
  --button-grey-ghost-text: var(--nord-dark5);
  --button-red: var(--nord-red);
  --button-red-text: var(--nord-light5);
  --button-red-hover: #ac5861;
  --button-red-active: #975056;
  --button-red-active-outlined: rgba(191, 97, 106, 0.1);
  --button-red-disabled: #ab5860;
  --button-white: var(--nord-light3);
  --button-white-text: var(--nord-black1);
  --button-white-hover: var(--nord-light1);
  --button-white-active: var(--nord-light0);
  --button-white-outlined: rgba(236, 239, 244, 0.1);

  --category-fade-background: rgba(143, 188, 187, 0.8);
  --category-fade-background-hover: rgba(143, 188, 187, 0.95);

  --highlight: rgba(235, 203, 139, 0.4);
  --text-bot-badge: var(--text-primary-background);
  --background-bot-badge: var(--nord-primary);

  --status-online: var(--nord-green);
  --status-offline: var(--nord-dark5);
  --status-idle: var(--nord-orange);
  --status-dnd: var(--nord-red);
  --status-stream: var(--nord-pink);
  --ownerIcon: var(--nord-orange);
  --managementIcon: var(--nord-yellow);
}

.theme-dark {
  --header-primary: var(--nord-light5);
  --header-secondary: #a6b0bf;
  --text-normal: var(--nord-light2);
  --text-muted: var(--nord-grey1);
  --text-link: hsl(213, calc(var(--saturation-factor, 1) * 75%), 60%); /* #4c91e6 */
  --text-link-low-saturation: hsl(213, calc(var(--saturation-factor, 1) * 32%), 52%); /* --nord-blue */
  --text-positive: hsl(92, calc(var(--saturation-factor, 1) * 28%), 65%); /* --nord-green */
  --text-warning: hsl(14, calc(var(--saturation-factor, 1) * 51%), 63%); /* --nord-orange */
  --text-danger: hsl(354, calc(var(--saturation-factor, 1) * 42%), 56%); /* --nord-red */
  --text-brand: hsl(179, calc(var(--saturation-factor, 1) * 25%), 65%); /* --nord-primary */
  --text-primary-background: var(--nord-black1);
  --calendar-border: var(--nord-black2);

  --interactive-normal: var(--text-normal);
  --interactive-hover: var(--nord-primary);
  --interactive-active: var(--nord-light5);
  --interactive-muted: var(--nord-dark5);

  --text-mention: var(--nord-primary);
  --background-mention: rgba(143, 188, 187, 0.1);
  --text-mention-hover: var(--text-primary-background);
  --background-mention-hover: var(--nord-primary);
  --message-ephemeral: var(--nord-blue);
  --background-ephemeral: rgba(94, 129, 172, 0.1);
  --background-ephemeral-hover: rgba(94, 129, 172, 0.2);
  --mentioned-timestamp: var(--nord-grey1);

  --reaction-count: var(--nord-grey1);
  --reaction-hover: var(--nord-light0);
  --reaction-me: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.3);

  --background-primary: var(--nord-dark2);
  --background-secondary: var(--nord-dark1);
  --background-secondary-alt: var(--nord-black1);
  --background-tertiary: var(--nord-black2);
  --background-accent: var(--nord-dark1);
  --background-floating: var(--background-secondary);
  --background-floating-gradient: linear-gradient(90deg, rgba(46, 52, 64, 0), var(--background-floating) 80%);
  --background-nested-floating: #2f3136;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(43, 48, 59, 0.3);
  --background-modifier-hover-gradient: linear-gradient(
    90deg,
    rgba(43, 48, 59, 0),
    var(--background-secondary-alt) 50%
  );
  --background-modifier-active: rgba(43, 48, 59, 0.24);
  --background-modifier-selected: rgba(43, 48, 59, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-slider: var(--nord-black2);
  --background-channel-header: var(--background-secondary);
  --background-channel-header-gradient: linear-gradient(90deg, rgba(46, 52, 64, 0) 0, var(--background-secondary));

  --info-positive-text: var(--text-normal);
  --info-warning-text: var(--text-normal);
  --info-danger-text: var(--text-normal);
  --info-help-background: hsla(213, calc(var(--saturation-factor, 1) * 32%), 52%, 0.1);
  --info-help-foreground: hsl(213, calc(var(--saturation-factor, 1) * 32%), 52%);
  --info-help-text: var(--text-normal);
  --status-warning-text: #000;

  --keybind-background: var(--nord-dark5);
  --keybind-text: var(--text-normal);
  --keybind-shadow: var(--nord-black2);

  --scrollbar-thin-thumb: var(--nord-black2);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--nord-black2);
  --scrollbar-auto-track: var(--nord-dark1);
  --scrollbar-auto-scrollbar-color-thumb: var(--nord-dark4);
  --scrollbar-auto-scrollbar-color-track: var(--nord-black1);

  --logo-primary: #fff;
  --control-brand-foreground: var(--text-brand);
  --control-brand-foreground-new: var(--text-brand);

  --background-mentioned: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.1);
  --background-mentioned-hover: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.15);
  --background-message-hover: rgba(43, 48, 59, 0.2);
  --channels-default: var(--nord-grey1);
  --guild-header-text-shadow: 0 1px 1px var(--nord-dark1);
  --channeltextarea-background: var(--nord-dark4);
  --activity-card-background: var(--background-secondary-alt);
  --textbox-markdown-syntax: #8e9297;

  --deprecated-card-bg: var(--nord-dark1);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: var(--nord-black2);
  --deprecated-quickswitcher-input-placeholder: var(--text-muted);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.theme-light {
  --header-primary: var(--nord-dark4);
  --header-secondary: #4f5660;
  --text-normal: var(--nord-dark2);
  --text-muted: var(--nord-grey1);
  --text-link: hsl(213, calc(var(--saturation-factor, 1) * 75%), 60%); /* #4c91e6 */
  --text-link-low-saturation: hsl(213, calc(var(--saturation-factor, 1) * 32%), 52%); /* --nord-blue */
  --text-positive: hsl(92, calc(var(--saturation-factor, 1) * 28%), 65%); /* --nord-green */
  --text-warning: hsl(14, calc(var(--saturation-factor, 1) * 51%), 63%); /* --nord-orange */
  --text-danger: hsl(354, calc(var(--saturation-factor, 1) * 42%), 56%); /* --nord-red */
  --text-brand: hsl(179, calc(var(--saturation-factor, 1) * 25%), 65%); /* --nord-primary */
  --text-primary-background: #fff;
  --calendar-border: var(--nord-light0);

  --interactive-normal: var(--text-normal);
  --interactive-hover: var(--nord-primary);
  --interactive-active: var(--nord-primary);
  --interactive-muted: var(--text-muted);

  --text-mention: var(--nord-primary);
  --background-mention: rgba(143, 188, 187, 0.1);
  --text-mention-hover: var(--text-primary-background);
  --background-mention-hover: var(--nord-primary);
  --message-ephemeral: var(--nord-blue);
  --background-ephemeral: rgba(94, 129, 172, 0.1);
  --background-ephemeral-hover: rgba(94, 129, 172, 0.2);
  --mentioned-timestamp: var(--nord-grey1);

  --reaction-count: var(--nord-grey1);
  --reaction-hover: var(--nord-dark5);
  --reaction-me: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.3);

  --background-primary: var(--nord-light1);
  --background-secondary: var(--nord-light2);
  --background-secondary-alt: var(--nord-light3);
  --background-tertiary: var(--nord-light3);
  --background-accent: var(--nord-light-1);
  --background-floating: var(--background-secondary);
  --background-floating-gradient: linear-gradient(90deg, rgba(229, 233, 240, 0), var(--background-floating) 80%);
  --background-nested-floating: #fff;
  --background-mobile-primary: #f8f9f9;
  --background-mobile-secondary: #fff;
  --background-modifier-hover: var(--nord-light3);
  --background-modifier-hover-gradient: linear-gradient(
    90deg,
    rgba(236, 239, 244, 0),
    var(--background-secondary-alt) 50%
  );
  --background-modifier-active: rgba(155, 162, 172, 0.16);
  --background-modifier-selected: rgba(155, 162, 172, 0.24);
  --background-modifier-accent: rgba(96, 109, 133, 0.08);
  --background-slider: var(--nord-light3);
  --background-channel-header: var(--background-secondary);
  --background-channel-header-gradient: linear-gradient(90deg, rgba(229, 233, 240, 0) 0, var(--background-secondary));

  --info-positive-text: var(--text-normal);
  --info-warning-text: var(--text-normal);
  --info-danger-text: var(--text-normal);
  --info-help-background: hsla(213, calc(var(--saturation-factor, 1) * 32%), 52%, 0.1);
  --info-help-foreground: hsl(213, calc(var(--saturation-factor, 1) * 32%), 52%);
  --info-help-text: var(--text-normal);
  --status-warning-text: #fff;

  --keybind-background: var(--nord-light4);
  --keybind-text: var(--text-normal);
  --keybind-shadow: var(--nord-light-1);

  --scrollbar-thin-thumb: var(--nord-dark5);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--nord-light2);
  --scrollbar-auto-track: var(--nord-light-1);
  --scrollbar-auto-scrollbar-color-thumb: var(--nord-light-1);
  --scrollbar-auto-scrollbar-color-track: var(--nord-light1);

  --logo-primary: var(--text-brand);
  --control-brand-foreground: var(--text-brand);
  --control-brand-foreground-new: var(--text-brand);

  --background-mentioned: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.35);
  --background-mentioned-hover: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.45);
  --background-message-hover: rgba(155, 162, 172, 0.15);
  --channels-default: var(--text-normal);
  --guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
  --channeltextarea-background: var(--background-secondary-alt);
  --activity-card-background: var(--background-secondary-alt);
  --textbox-markdown-syntax: #6a7480;

  --deprecated-card-bg: var(--nord-light1);
  --deprecated-card-editable-bg: rgba(236, 239, 244, 0.3);
  --deprecated-store-bg: #f8f9f9;
  --deprecated-quickswitcher-input-background: var(--nord-light4);
  --deprecated-quickswitcher-input-placeholder: var(--text-muted);
  --deprecated-text-input-bg: rgba(255, 255, 255, 0.1);
  --deprecated-text-input-border: rgba(255, 255, 255, 0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}

.theme-dark,
.theme-light {
  --info-positive-background: hsla(92, calc(var(--saturation-factor, 1) * 28%), 65%, 0.1);
  --info-positive-foreground: hsl(92, calc(var(--saturation-factor, 1) * 28%), 65%);
  --info-warning-background: hsla(14, calc(var(--saturation-factor, 1) * 51%), 63%, 0.1);
  --info-warning-foreground: hsl(14, calc(var(--saturation-factor, 1) * 51%), 63%);
  --info-danger-background: hsla(354, calc(var(--saturation-factor, 1) * 42%), 56%, 0.1);
  --info-danger-foreground: hsl(354, calc(var(--saturation-factor, 1) * 42%), 56%);

  --status-positive-background: hsl(92, calc(var(--saturation-factor, 1) * 28%), 65%);
  --status-positive-text: var(--nord-light5);
  --status-warning-background: hsl(14, calc(var(--saturation-factor, 1) * 51%), 63%);
  --status-danger-background: hsl(354, calc(var(--saturation-factor, 1) * 42%), 56%);
  --status-danger-text: var(--nord-light5);

  --focus-primary: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);

  --background-selection: hsla(213, calc(var(--saturation-factor, 1) * 75%), 60%, 0.2);
}

[data-popout-root],
html {
  --brand-experiment: hsl(179, calc(var(--saturation-factor, 1) * 25%), 65%);
  --brand-experiment-500: hsl(179, calc(var(--saturation-factor, 1) * 25%), 65%);

  --brand-experiment-05a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.05);
  --brand-experiment-10a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.1);
  --brand-experiment-15a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.15);
  --brand-experiment-20a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.2);
  --brand-experiment-25a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.25);
  --brand-experiment-30a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.3);
  --brand-experiment-35a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.35);
  --brand-experiment-40a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.4);
  --brand-experiment-45a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.45);
  --brand-experiment-50a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.5);
  --brand-experiment-55a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.55);
  --brand-experiment-60a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.6);
  --brand-experiment-65a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.65);
  --brand-experiment-70a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.7);
  --brand-experiment-75a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.75);
  --brand-experiment-80a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.8);
  --brand-experiment-85a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.85);
  --brand-experiment-90a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.9);
  --brand-experiment-95a: hsla(179, calc(var(--saturation-factor, 1) * 25%), 65%, 0.95);
}
