/**
 * @name Nordic
 * @author orblazer#9152
 * @version 1.0.0
 * @description Complete theme for Nordic (https://www.nordtheme.com/)
 * @source https://github.com/orblazer/discord-nordic
 * @donate https://www.paypal.me/orblazer
 * @authorId 179681974879911946
*/

:root {
  --bd-blue: var(--nord-green-blue);
  --bd-blue-hover: var(--nord-green-blue2);
  --bd-blue-active: var(--nord-green-blue2);
  --blurple: var(--nord-blue);
  --bdfdb-blurple: var(--nord-turquoise);

  --nord-dark1: #2e3440;
  --nord-dark2: #3b4252;
  --nord-dark3: #434c5e;
  --nord-dark4: #4c566a;
  --nord-light1: #d8dee9;
  --nord-light2: #e5e9f0;
  --nord-light3: #eceff4;
  --nord-green-blue: #8fbcbb;
  --nord-turquoise: #88c0d0;
  --nord-cyan: #81a1c1;
  --nord-blue: #5e81ac;
  --nord-red: #bf616a;
  --nord-orange: #d08770;
  --nord-yellow: #ebcb8b;
  --nord-green: #a3be8c;
  --nord-pink: #b48ead;

  --nord-black1: #2b303b;
  --nord-black2: #20242c;
  --nord-black3: #15181e;
  --nord-green-blue2: #95C6C5;
  --nord-red2: #CA505C;
  --nord-dark5: #606d85;
  --nord-green2: #9BBA80;
}

.theme-dark {
  --header-primary: var(--nord-light3);
  --header-secondary: #a6b0bf;
  --text-normal: var(--nord-light1);
  --text-muted: #6b7994;
  --text-link: #3B8EF3;
  --channels-default: var(--text-normal);

  --interactive-normal: var(--text-normal);
  --interactive-hover: var(--nord-green-blue);
  --interactive-active: var(--nord-green-blue);
  --interactive-muted: var(--text-muted);

  --background-primary: var(--nord-dark1);
  --background-secondary: #363c4a;
  --background-secondary-alt: var(--nord-dark2);
  --background-tertiary: var(--nord-dark2);
  --background-accent: var(--nord-dark3);
  --background-floating: var(--background-secondary);
  --background-modifier-hover: rgba(76,86,106,0.3);
  --background-modifier-active: rgba(76,86,106,0.24);
  --background-modifier-selected: rgba(76,86,106,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --background-mentioned: rgba(94, 129, 172, 0.25);
  --background-mentioned-hover: rgba(94, 129, 172, 0.4);
  --background-message-hover: rgba(59,66,82,0.3);
  --background-help-warning: rgba(208,135,112,0.1);
  --background-help-info: rgba(94,129,172,0.1);
  --scrollbar-thin-thumb: var(--nord-dark4);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--nord-dark4);
  --scrollbar-auto-track: var(--nord-black1);
  --scrollbar-auto-scrollbar-color-thumb: var(--nord-dark4);
  --scrollbar-auto-scrollbar-color-track: var(--nord-black1);
  --elevation-stroke: 0 0 0 1px var(--nord-dark1);
  --elevation-low: 0 1px 0 var(--nord-black1);
  --logo-primary: #fff;
  --focus-primary: var(--nord-blue);
  --radio-group-dot-foreground: var(--nord-green-blue);
  --channeltextarea-background: var(--background-secondary-alt);

  --deprecated-card-bg: var(--nord-dark1);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.da-elevationHigh {
    background-color: var(--nord-black1) !important;
}


/**
 * Settings
 **/
.da-sidebarRegionScroller {
    background-color: var(--background-secondary-alt);
}

.da-contentRegionScroller {
    background-color: var(--background-secondary);
}

.da-background, .da-connection, .da-preview.da-card,
.da-contentRegionScroller .da-item:not([aria-checked=true]) {
    background-color: var(--background-primary);
}

.da-fieldList {
    background-color: var(--background-secondary);
}

.da-codeRedemptionRedirect, .da-previewOverlay,
.da-card::before, .da-removeGame {
    background-color: var(--nord-black1) !important;
    border-color: var(--nord-black2) !important;
}

.da-removeKeybind {
    background-color: var(--nord-red);
}

.da-removeKeybind:hover {
    background-color: var(--nord-red2);
}

.da-activeGame.da-notDetected {
    background-color: var(--nord-black1);
}

.da-gameNameInput:focus, .da-gameNameInput:hover {
    background-color: var(--nord-black2) !important;
    border-color: var(--nord-black3) !important;
}

.da-sidebar .da-item[style="color: rgb(240, 71, 71);"] {
    color: var(--nord-red) !important;
}

.da-sidebar .da-item[style="color: rgb(240, 71, 71);"]:hover {
    color: var(--nord-red2) !important;
    background-color: rgba(202, 80, 92, 0.1) !important;
}

.da-avatarUploaderIndicator {
    background-color: var(--nord-light1) !important;
}


/**
 * Servers
 */
.da-pill .da-item {
    background-color: var(--nord-green-blue);
}

.da-selected > .da-childWrapper {
    background-color: var(--nord-green-blue) !important;
}

.da-circleIconButton {
    color: var(--nord-green-blue);
}

.da-circleIconButton.da-selected {
    background-color: var(--nord-green-blue);
}


/**
 * Messages header
 */
.da-title.da-themed {
    background: var(--background-secondary) !important;
}

.da-themed .da-children::after {
    display: none;
}

.da-container#search-results {
    background-color: var(--background-secondary);
}

.da-container#search-results .da-selected {
    background-color: var(--background-modifier-hover);
}

.da-container#search-results .da-option::after {
    display: none;
}

.da-container#search-results .da-focused {
    background-color: var(--background-primary) !important;
}


/**
 * Messages
 **/
.da-mentioned:before {
    background-color: var(--nord-blue);
}

.da-newMessagesBar {
    background-color: var(--nord-green-blue);
}

.da-barButtonBase {
    color: var(--nord-dark1);
}

.da-buttons .da-wrapper {
    background-color: var(--background-secondary);
}


/**
 * Root
 */
.da-fullscreenOnMobile.da-root, .da-contentWrapper {
    background-color: var(--background-primary) !important;
}

.da-fullscreenOnMobile .da-footer {
    background-color: var(--background-secondary);
}


/**
 * User popout
 */
.da-userPopout > .da-body,
.da-userPopout > .da-footer {
    background: var(--background-secondary);
}

.da-headerNormal {
    background-color: var(--nord-dark1) !important;
}

.da-headerPlaying {
    background-color: var(--nord-blue);
}


/**
 * Context menu, tooltip
 */
.da-menu .da-focused {
    background-color: var(--background-modifier-hover) !important;
}

.da-tooltip {
    background-color: var(--nord-black2) !important;
}

.da-tooltip > .da-tooltipPointer {
    border-top-color: var(--nord-black2) !important;
}


/**
 * Hint, protip and colors
 */
.da-hintValue {
    background-color: var(--nord-green-blue) !important;
    color: var(--nord-dark1) !important;
}

.da-protip[class^="colorStatusGreen"], .da-title.da-isEnabled {
    color: var(--nord-green);
    fill: var(--nord-green) !important;
}

.da-colorDanger, .da-beta {
  color: var(--nord-red);
}

.da-strikethrough {
    color: var(--nord-red);
}

.da-iconContainer path[fill="#faa61a"] {
    fill: var(--nord-orange);
}

.da-warning {
    border-color: var(--nord-orange);
    color: var(--nord-light1);
}

.da-warning > .da-icon {
    color: var(--nord-orange);
}

.da-info {
    border-color: var(--nord-blue);
    color: var(--nord-light1);
}

.da-info > .da-icon {
    color: var(--nord-blue);
}

.da-textBadge[style*="background-color: rgb(240, 71, 71);"] {
    background-color: var(--nord-red) !important;
}

.da-pillIconOnline {
    background-color: var(--nord-green);
}


/**
 * Status
 */
.da-pointerEvents[mask="url(#svg-mask-status-online)"],
.da-avatar .da-cursorDefault rect[fill="#43b581"] {
    fill: var(--nord-green);
}

.da-pointerEvents[mask="url(#svg-mask-status-dnd)"],
.da-avatar .da-cursorDefault rect[fill="#f04747"] {
    fill: var(--nord-red);
}

.da-pointerEvents[mask="url(#svg-mask-status-idle)"],
.da-avatar .da-cursorDefault rect[fill="#faa61a"] {
    fill: var(--nord-orange);
}

.da-pointerEvents[mask="url(#svg-mask-status-offline)"] {
    fill: var(--nord-dark4);
}

/**
 * Keybind
 */
.da-keybindShortcut span,
.da-keybindShortcutSearchPopout span {
    background-color: var(--nord-dark2) !important;
    box-shadow: inset 0 -4px 0 var(--nord-black2) !important;
}


/**
 * Form elements
 */
.da-icon > .da-checkbox {
    color: var(--nord-green-blue) !important;
}

.da-slider .da-bar {
    background-color: var(--nord-dark1);
}

.da-slider .da-barFill,
.da-slider .da-speaking {
    background-color: var(--nord-green-blue) !important;
}

.da-item.da-deny.da-selected {
    background-color: var(--nord-red);
}

.da-item.da-deny:not(.da-selected) {
    color: var(--nord-red);
}

.da-item.da-passthrough.da-selected {
    background-color: var(--nord-dark4);
}

.da-item.da-allow.da-selected {
    background-color: var(--nord-green);
    color: var(--nord-black1);
}

.da-item.da-allow:not(.da-selected) {
    color: var(--nord-green);
}

.da-input {
    border-color: var(--nord-black2);
}

.da-input:hover {
    border-color: var(--nord-black3);
}

.da-input:focus {
    border-color: var(--nord-green-blue);
}

.da-defaultValue > .da-markValue {
    color: var(--nord-green) !important;
}

.da-checkbox.da-checked {
    border-color: var(--nord-green-blue) !important;
    background-color: var(--nord-green-blue) !important;
}

.da-control > .da-container > .da-slider > rect {
    fill: var(--nord-light1);
}

.da-control > .da-container[style*="background-color: rgb(67, 181, 129)"] {
    background-color: var(--nord-green-blue) !important;
}
.da-control > .da-container[style*="background-color: rgb(67, 181, 129)"] path[fill="rgba(67, 181, 129, 1)"] {
    fill: var(--nord-green-blue) !important;
}

.da-control > .da-container[style*="background-color: rgb(114, 118, 125)"] {
    background-color: var(--nord-black1) !important;
}
.da-control > .da-container[style*="background-color: rgb(114, 118, 125)"] path[fill="rgba(114, 118, 125, 1)"] {
    fill: var(--nord-dark1) !important;
}


/**
 * Button
 */
.da-button[class*="lookOutlined"][class*="colorRed"] {
    border-color: var(--nord-red);
    color: var(--nord-red);
}

.da-button[class*="lookOutlined"][class*="colorRed"]:hover {
    border-color: var(--nord-red2);
    color: var(--nord-red2);
}

.da-button[class*="lookFilled"][class*="colorRed"] {
    background-color: var(--nord-red);
}

.da-button[class*="lookFilled"][class*="colorRed"]:hover {
    background-color: var(--nord-red2);
}

.da-button[class*="lookFilled"][class*="colorBrand"] {
    background-color: var(--nord-green-blue);
    color: var(--nord-black1);
}

.da-button[class*="lookFilled"][class*="colorBrand"]:hover {
    background-color: var(--nord-green-blue2);
}

.da-button[class*="lookOutlined"][class*="colorBrand"] {
    border-color: var(--nord-green-blue);
    color: var(--nord-green-blue);
}

.da-button[class*="lookOutlined"][class*="colorBrand"]:hover {
    border-color: var(--nord-green-blue2);
    color: var(--nord-green-blue2);
}

.da-button[class*="lookFilled"][class*="colorPrimary"],
.da-button[class*="lookFilled"][class*="colorGrey"] {
    background-color: var(--nord-dark4);
}

.da-button[class*="lookFilled"][class*="colorPrimary"]:hover,
.da-button[class*="lookFilled"][class*="colorGrey"]:hover {
    background-color: var(--nord-dark5);
}

.da-button[class*="lookFilled"][class*="colorGreen"] {
    background-color: var(--nord-green);
    color: var(--nord-black1);
}

.da-button[class*="lookFilled"][class*="colorGreen"]:hover {
    background-color: var(--nord-green2);
}

.da-linkButton[class*="colorBrand"] {
    color: var(--nord-green-blue);
}



/**
 * Date picker
 */
.da-datePicker .react-datepicker,
.da-datePicker .react-datepicker__header {
    background-color: var(--background-secondary) !important;
}


.da-datePicker .react-datepicker__day:hover:not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month),
.da-datePicker .react-datepicker__day.react-datepicker__day--selected:hover,
.da-datePicker .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--nord-green-blue) !important;
}

.da-datePicker .react-datepicker__day--disabled,
.da-datePicker .react-datepicker__day--outside-month {
    background-color: var(--background-primary) !important;
}
