$primary-160-rgb: 238, 239, 241;
$primary-400: hsl(223, calc(var(--saturation-factor, 1) * 5.8%), 52.9%);
$primary-400-hex: #80848e;
$primary-400-rgb: 128, 132, 142;
$primary-700-rgb: 30, 31, 34;
$primary-800-rgb: 17, 18, 20;

$white-500: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
$white-500-rgb: 255, 255, 255;
$white-500-hex: #ffffff;

/*
 * Colors
 */
$yellow-300-hex: #f0b232;
$yellow-300-rgb: 240, 178, 50;

$green-360-rgb: 35, 165, 90;
$green-360-hex: #23a55a;
$status-green-600-hex: #3ba55c; // ? Old value

$red-400-hex: #f23f43;
$red-400-rgb: 242, 63, 67;

/*
 * Brand
 */
$brand-360-hex: #949cf7;
$brand-500: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
$brand-500-hex: #5865f2;
$brand-500-rgb: 88, 101, 242;

/*
 * Other
 */
$guild-boosting-pink-rgb: 255, 115, 250;
$guild-boosting-pink-hex: #ff73fa;
$twitch-rgb: 89, 54, 149;
$twitch-hex: #593695;
