$neutral-34-rgb: 131, 131, 139;
$neutral-34-hex: #83838b;
$neutral-49-rgb: 78, 80, 88;

$blurple-28-hex: #949cf7;
$blurple-49-rgb: 88, 101, 242;
$blurple-49-hex: #5865f2;

$green-new-43-rgb: 35, 165, 90;
$green-new-37-hex: #3ba55c;
$green-new-38-rgb: 67, 162, 90;
$green-new-38-hex: #43a25a;

$yellow-new-30-rgb: 202, 150, 84;
$yellow-new-30-hex: #ca9654;

$red-new-46-rgb: 216, 58, 66;
$red-new-46-hex: #d83a42;

$guild-boosting-pink-hex: #ff73fa;
$twitch-hex: #593695;

/////////////////////////////////////////
// TODO: Bellow is OLD theme (need to be replaced)
$primary-400: hsl(223, calc(var(--saturation-factor, 1) * 5.8%), 52.9%);
$white-500: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
$green-330-hex: #2dc771;
$brand-500: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
