$primary-dark-400: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);
$primary-dark-400-rgb: 114, 118, 125;
$primary-dark-700: hsl(216, calc(var(--saturation-factor, 1) * 7.2%), 13.5%);

$white-500: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
$white-500-hex: #ffffff;

/*
 * Status
 */
$status-grey-500: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);
$status-grey-500-hex: #747f8d;
$status-grey-500-rgb: 116, 127, 141;

$status-yellow-500: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
$status-yellow-500-hex: #faa61a;
$status-yellow-500-rgb: 250, 166, 26;
$status-yellow-560: hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%);

$status-green-500: hsl(139, calc(var(--saturation-factor, 1) * 85.6%), 64.5%);
$status-green-600: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
$status-green-600-hex: #3ba55c;
$status-green-600-rgb: 59, 165, 92;

$status-orange-500: hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%);

$status-red-400: hsl(359, calc(var(--saturation-factor, 1) * 83%), 67.6%);
$status-red-500: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
$status-red-500-hex: #ed4245;
$status-red-500-rgb: 237, 66, 69;

/*
 * Brand
 */
$brand-260: hsl(235, calc(var(--saturation-factor, 1) * 86.2%), 88.6%);
$brand-500: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
$brand-500-hex: #5865f2;
$brand-500-rgb: 88, 101, 242;

$focus-primary-500: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);

/*
 * Premium
 */
$premium-perk-green: hsl(164, calc(var(--saturation-factor, 1) * 55.1%), 69.4%);
$premium-perk-yellow: hsl(47, calc(var(--saturation-factor, 1) * 98.9%), 63.9%);
$premium-perk-purple: hsl(272, calc(var(--saturation-factor, 1) * 100%), 80.2%);
$premium-perk-pink: hsl(305, calc(var(--saturation-factor, 1) * 100%), 75.1%);
$premium-perk-blue: hsl(222, calc(var(--saturation-factor, 1) * 100%), 75.1%);
$premium-perk-orange: hsl(25, calc(var(--saturation-factor, 1) * 96.7%), 64.1%);

/*
 * Other
 */
$guild-boosting-pink-rgb: 255, 115, 250;
$guild-boosting-pink-hex: #ff73fa;
$partner: hsl(215, calc(var(--saturation-factor, 1) * 82.8%), 59%);
$twitch: hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%);
