$neutral-34-rgb: 132, 133, 141;
$neutral-34-hex: #84858d;
$neutral-49-rgb: 78, 80, 88;
$primary-500-hex: #4e5058;

$blurple-26-hex: #94a8ff;
$blurple-49-rgb: 88, 101, 242;
$blurple-60-rgb: 68, 82, 187;
$blurple-49-hex: #5865f2;
$blurple-65-rgb: 58, 72, 163;

$green-new-25-hex: #75c383;
$green-new-43-rgb: 35, 165, 90;
$green-new-37-hex: #3ba55c;
$green-new-38-rgb: 69, 163, 102;
$green-new-38-hex: #45a366;

$yellow-new-29-rgb: 255, 192, 78;
$yellow-new-29-hex: #ffc04e;

$red-new-46-rgb: 218, 62, 68;
$red-new-46-hex: #da3e44;

$guild-boosting-pink-hex: #ff73fa;
$twitch-hex: #9147ff;

/////////////////////////////////////////
// TODO: Bellow is OLD theme (need to be replaced)
$primary-400: hsl(223, calc(var(--saturation-factor, 1) * 5.8%), 52.9%);
$white-500: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
$brand-500: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
