@import 'discord-color';
@import 'colors/imports';

@import 'global.scss';
@import 'sidebar-left.scss';
@import 'hljs.scss';

@import 'user/imports';
@import 'server/imports';
@import 'discover.scss';
