.theme-dark .gradient_e9ef78 {
  background:
    radial-gradient(
      130.66% 324.98% at -3.95% 0%,
      var(--blue-new-31) 0%,
      hsl(var(--primary-600-hsl) / 0%) 100%
    ),
    var(--primary-600) !important;
}
.theme-light .gradient_e9ef78 {
  background:
    radial-gradient(
      130.66% 324.98% at -3.95% 0%,
      var(--blue-new-31) 0%,
      hsl(var(--nord-light1-hsl) / 0%) 100%
    ),
    var(--nord-light1) !important;
}

/*
 * > App
 */
.headerSuccess_b76614 /* "Add App" popup */ {
  background-image: url(svg('discover/app/success.svg'));
}

/*
 * > Servers > Server badge (verified, partnered)
 */
.verified__09691, /*+ Server > events (detail) */
.partnered__09691 {
  .icon__09691 {
    color: var(--black-500);
  }
}

/*
 * >> student hub
 */
.iconContainer_a76561 path[fill='var(--white)'] {
  fill: var(--black-500);
}
