.theme-dark .gradient_b97772 {
  background: radial-gradient(
      130.66% 324.98% at -3.95% 0%,
      var(--blue-330) 0%,
      hsl(var(--primary-600-hsl) / 0%) 100%
    ),
    var(--primary-600) !important;
}
.theme-light .gradient_b97772 {
  background: radial-gradient(
      130.66% 324.98% at -3.95% 0%,
      var(--blue-330) 0%,
      hsl(var(--nord-light1-hsl) / 0%) 100%
    ),
    var(--nord-light1) !important;
}

/* Server badge (partner, house and verified) */
.guildBadge_c73cee .icon_d082f7 {
  color: var(--black-500);
}

/*
 * > student hub
 */
.iconContainer_f11cbf path[fill='var(--white)'] {
  fill: var(--black-500);
}
.icon_f38045 /* ("Join Hub" popup) */ {
  background-image: url(svg('discover/hub.svg'));
}
