.card_eb1ca6,
.iconMask_eb1ca6 {
  background-color: var(--background-secondary) !important;

  &:hover {
    background-color: var(--background-modifier-hover) !important;
  }
}

.footerImage_a3a4ce[src='/assets/826b6a84605f7eb8a469.svg'] {
  content: url(svg('discover/discover.svg'));
}

/* Server badge (partner, house and verified) */
.guildBadge_eb1ca6 .icon_db1980,
.guildBadge_e90879 .icon_d082f7 /*+ Discover */ {
  color: var(--black-500);
}

/*
 * > student hub
 */
.icon__77722 /* ("Join Hub" popup) */ {
  background-image: url(svg('discover/hub.svg'));
}

/*
 * > Quests
 */
.contentContainer_a56260 {
  background: var(--background-primary) !important;
}
