.pageWrapper-2PwDoS {
  background-color: var(--background-primary) !important;
}
.card-2TuZPZ,
.iconMask-2fMR98 {
  background-color: var(--background-secondary) !important;

  &:hover {
    background-color: var(--background-modifier-hover) !important;
  }
}

.footerImage-3DpC_8[src='/assets/3ed9c7cdbea131bc485afa998a5ec93e.svg'] {
  content: url(svg('discover/discover.svg'));
}

/*
 * > student hub
 */
.icon-2kPPWH {
  background-image: url(svg('discover/hub.svg'));
}

.addButton-Jt0onL {
  color: var(--black-500);
}
