@use 'discord-color' as discord;

::selection {
  background-color: hsl(var(--blue-new-35-hsl) / 0.25);
}

/*
 * "beta" or some "new" tag
 */
._2b1f52e43a8f1c02-textBadge[style*='background-color: var(--brand-500)'] {
  color: var(--black-500);
}

/*
 * Tooltips
 */
.c36707910f687430-tooltipGreen, /* ping (when over badge) */
.c36707910f687430-tooltipBrand {
  color: var(--black-500);
}

/*
 * Toast
 */
._3fde7e375925af75-toast[data-type='success']
  path[fill='var(--status-positive)'] {
  fill: currentColor;
}

/*
 * Streamer mode bar
 */
._6e2b9359c6f84cfd-colorStreamerMode {
  --custom-notice-text: var(--black-500);
}

/*
 * Settings switch
 */
._3f21e80f8677ec40-slider {
  rect[fill='white'] {
    fill: var(--white-500);
  }
  path[fill^='rgba(#{discord.$blurple-49-rgb}'] {
    fill: var(--blurple-65);
  }
  path[fill^='rgba(#{discord.$neutral-49-rgb}'] {
    fill: var(--neutral-45);
  }
}
._3f21e80f8677ec40-container {
  &[style*='background-color: rgb(85, 95, 196'],
  &[style*='background-color: rgb(#{discord.$blurple-49-rgb})'] {
    background-color: var(--blurple-49) !important;
  }
  &[style*='background-color: rgb(81, 86, 134)'],
  &[style*='background-color: rgb(#{discord.$neutral-49-rgb})'] {
    background-color: var(--neutral-40) !important;
  }
}

/*
 * Settings radio/checkbox
 */
._88a69141dd70013a-refreshIcon, /* radio */
._09aca73e6d4b214b-checkbox._09aca73e6d4b214b-checked:not([style*='background-color']) path[fill='var(--white)'], /* checkbox */ {
  fill: var(--black-500);
}

/*
 * Buttons
 */
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend:not([aria-selected=true]),
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend:active, /* DM ("add friend" btn) */
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen, /* user settings > profiles + actions button */
.c1521037ef09de7e-activeButton, .c1521037ef09de7e-activeButton:hover, /* text channel > search result (pagination) + members table (pagination) */
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-join, .f1ceaca61b18918e-colorable.f1ceaca61b18918e-join .f1ceaca61b18918e-centerIcon, /* DM text channel > call + call popup */
.c2c6a6d2eee20594-customLabelContainer:hover, .c2c6a6d2eee20594-customLabelContainer:hover .c2c6a6d2eee20594-labelText,
._786f453be957f780-nagivateBackContainer:hover, ._786f453be957f780-otherDateLabel._786f453be957f780-focused /* server > members > filters dropdown */ {
  color: var(--black-500);
}

._786f453be957f780-nagivateBackContainer:hover .cf48127484dbde85-eyebrow /* server > members > filters dropdown  */ {
  color: currentColor !important;
}

/*
 * Circle checked icon
 */
.d40c56f847687e8d-activeIcon circle[fill='var(--white)'], /** user popup (sidebar left) > switch accounts */
.a16aea1526925c2c-selectedIcon circle[fill='white'], /** checkmark in dropdown (eg. user settings > Content & Social > Discord > ["show/block/blur"]) */
._36dee59b8fa89219-checkmarkCircle circle[fill='var(--white)'], /** user settings > app settings > Appearance */
._981f723644a1a061-descriptionSection:first-child ._981f723644a1a061-descriptionIcon circle[fill='var(--white)'], /** server settings > server template */
._50e4ecc92cc862b6-checklistIcon circle[fill='var(--white)'], /** server settings > enable community > get started (step 3) */
.e9b3cb124c21889c-icon circle[fill="var(--white)"], /* server settings > onboarding > defaults channels (right check mark) */
._270d7a28db32b312-checkIcon path[fill="var(--white)"], /* server > Channel & Roles (selected role) */
._4c5209741d147f1b-answerSelectionIcon circle[fill="var(--white)"], /* Text channel > poll answers */
.f69538e19b6eaacd-victorIcon circle[fill="var(--white)"], /* Text channel >  poll result */ {
  fill: var(--black-500);
}

.aae01227de06a74c-checkmark, /** Server > text channel (empty and complete some tasks) */
._5ea8ce30885a2f21-activeCircle, /** server settings > welcome screen */
.a685436e98c0d8fa-stepStatus[style*='background-color: var(--status-positive-background)'] /* Forum channel > "get started" */ {
  color: var(--black-500);
}

.theme-dark .d40c56f847687e8d-activeIcon circle[fill='var(--brand-500)'] /** user popup (sidebar left) > switch accounts (hover) */ {
  fill: var(--blurple-87);
}

/*
 * Search > date picker
 */
.d27f17593b8064c5-calendarPicker {
  .react-datepicker__day.react-datepicker__day--keyboard-selected,
  .react-datepicker__day.react-datepicker__day--selected:hover,
  .react-datepicker__day:hover {
    color: var(--black-500);
  }
}

/*
 * Stars
 */
._5d7c9a81ac5dd074-emptyIcon, /* empty "Channel & role" (when server not joined, from discover)  */
.d404a36e7b59cdcf-stars, /* inbox */
._1b24f0fdfb13e41c-stars /* server > text channels > empty threads */ {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
  path[fill='#58F287'] {
    fill: var(--nord-green);
  }
}
