::selection {
  background-color: hsl(var(--link-500-hsl) / 0.25);
}

.container-2o3qEW /* DM/Server > member sidebar */ {
  border-left: 1px solid var(--c-separator-border);
}

/*
 * Settings switch
 */
.slider-HJFN2i rect[fill='white'] {
  fill: var(--white-500);
}

.container-1QtPKm[style*='background-color: rgb(#{$status-green-600-rgb})'] {
  background-color: var(--status-green-560) !important;
}
.slider-HJFN2i path[fill^='rgba(#{$status-green-600-rgb}'] {
  fill: var(--status-green-760);
}

.container-1QtPKm[style*='background-color: rgb(#{$primary-dark-400-rgb})'] {
  background-color: var(--primary-dark-500) !important;
}
.slider-HJFN2i path[fill^='rgba(#{$primary-dark-400}'] {
  fill: var(--primary-dark-500);
}

/*
 * Button with brand background
 */
.lookFilled-1H2Jvj.colorBrand-2M3O3N:not(.button-1EGGcP):not(.button-35nmN9), /** User settings */
.lookOutlined-3RTC7c.colorBrand-2M3O3N:hover, /** User settings > privacy & safety */
.lookFilled-1H2Jvj.colorBrandNew-abZT3v, /** user settings > Accessibility */
.premiumLabel-3HPvdB.selected-2Uns2B, /** user settings > nitro (btn) */
.fakeButton-2eEUpc, /** server settings > rules screening (preview) */
.button-2WPG1w[style*='color: rgb(#{$white-500-rgb})'], /* server settings > onboarding (check it out) */
.botTagRegular-kpctgU:not(.botTagOP-3pUTXu), /** Bot tag */
.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui /** Discover */ {
  color: var(--black-500);
}

/*
 * Button with green background
 */
.lookFilled-1H2Jvj.colorGreen-jIPCAS, /** user settings > profiles */
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, /** sidebar (connected to voice channel) > share your screen (active) */
.allow-1h61-Z.selected-3jieYB /** server > channel/category settings > permissions (allow) */ {
  color: var(--black-500);
}

/*
 * Dropdown menus
 */
.colorDefault-CDqZdO .check-3HZJs4, /** checkbox + Profile Popup > status > switch account */
/** hover state */
.colorDefault-CDqZdO.focused-3qFvc8:not(.colorDanger-3n-KnP):not(.menuItemFocused-2cC4Ku), /** + Profile Popup > status > switch account */
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b,
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE {
  color: var(--black-500);
}

/*
 * Circle checked icon
 */
.selectedIcon-122rMx circle[fill='var(--white-500)'], /** user settings > profiles (server tab) > choose server */
.checkbox-1LuCGM[style*='background-color: var(--brand-experiment-500)'] path[fill='var(--white-500)'], /** user settings [> nitro > subscribe]/[> accessibility] + server > notification settings + ! Get nitro */
.activeIcon-1ykRnF circle[fill='var(--white-500)'], /** profile popup > status > switch account */
.descriptionIcon-3nDZrK circle[cx='12'][fill='var(--white-500)'], /** server settings > server template */
.checklistIcon-nKaK0A circle[fill='var(--white-500)'], /** server settings > enable community > get started (step 3)  */
.icon-2dMyvd circle[fill="var(--white-100)"] /* server settings > onboarding (check it out) */ {
  fill: var(--black-500);
}

.activeCircle-3rE6-u /** server settings > welcome screen */ {
  color: var(--black-500);
}

/*
 * Square checked icon
 */
.checked-22NTbO[style*='background-color: var(--brand-experiment-500)'] path[fill='var(--white-500)'] {
  fill: var(--black-500);
}

/*
 * What's new (popup)
 */
.content-FDHp32 a {
  color: var(--link-500);
}

.fixed-cTX7Hp {
  color: var(--status-danger);

  &::after {
    background-color: var(--status-danger);
  }
}

/*
 * Streamer mode enabled button
 */
.streamerModeEnabledBtn-2nlJTD:hover {
  background-color: #a3759b;
}

/*
 * Search > filter
 */
.searchAnswer-23w-CH,
.searchFilter-2UfsDk {
  background-color: var(--background-primary) !important;
  color: var(--text-normal);
}

/*
 * Search > date picker
 */
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker-sDhzdi .react-datepicker__day:hover {
  color: var(--black-500);
}

/*
 * Text/DM channel > drop file
 */
.uploadDropModal-13Kd20 .inner-rBP-MS {
  .title-3ChJ_v,
  .title-3ChJ_v strong,
  .instructions-272j2A {
    color: var(--black-500);
  }
}

.icon-HW4tZ-.two-1t2_74 {
  filter: drop-shadow(0 0 48px hsla(var(--brand-new-500-hsl) / 0.5));
}

.document-1u6V3N {
  background-image: url(svg('global/upload-document.svg'));
}
.code-rRQnfi {
  background-image: url(svg('global/upload-code.svg'));
}
.image-2ssF8k {
  background-image: url(svg('global/upload-image.svg'));
}
.webcode-18ObW7 {
  background-image: url(svg('global/upload-webcode.svg'));
}
