@use 'discord-color' as discord;

::selection {
  background-color: hsl(var(--blue-new-35-hsl) / 0.25);
}

/*
 * "beta" or some "new" tag
 */
.textBadge__2b1f5[style*='background-color: var(--brand-500)'],
.textBadge__2b1f5[style*='background-color: var(--bg-brand);'] {
  color: var(--black-500);
}

/*
 * Tooltips
 */
.tooltipGreen__382e7, /* ping (when over badge) */
.tooltipBrand__382e7 /* voice emoji (when over bottom emoji) */ {
  color: var(--black-500);
}
.tooltipBrand__382e7 .tooltipText__0ca35[style='color: white;']  /* voice emoji (when over nitro btn) */ {
  color: var(--black-500) !important;
}

/*
 * What's new (popup)
 */
.content__487be a {
  color: var(--text-link);
}

/*
 * Streamer mode bar
 */
.colorStreamerMode__6e2b9 {
  --custom-notice-text: var(--black-500);
}

/*
 * Settings switch
 */
.slider__87bf1 {
  rect[fill='white'] {
    fill: var(--white-500);
  }
  path[fill^='rgba(#{discord.$blurple-49-rgb}'] {
    fill: var(--blurple-65);
  }
  path[fill^='rgba(#{discord.$neutral-49-rgb}'] {
    fill: var(--neutral-45);
  }
}
.container__87bf1 {
  &[style*='background-color: rgb(85, 95, 196'],
  &[style*='background-color: rgb(#{discord.$blurple-49-rgb})'] {
    background-color: var(--blurple-49) !important;
  }
  &[style*='background-color: rgb(81, 86, 134)'],
  &[style*='background-color: rgb(#{discord.$neutral-49-rgb})'] {
    background-color: var(--neutral-40) !important;
  }
}

/*
 * Settings radio/checkbox
 */
.refreshIcon__001a7, /* radio */
.checkbox_f525d3.checked_f525d3:not([style*='background-color']) path[fill='var(--white)'], /* checkbox */
.checkbox_f525d3.checked_f525d3[style*='background-color: var(--brand-500)'] path[fill='var(--white)'] /* user settings > nitro > subscribe (tiers) */ {
  fill: var(--black-500);
}

.checkbox_f525d3.checked_f525d3[style*='background-color: rgb(#{discord.$green-new-43-rgb})'] /** server > notification settings */ {
  border-color: var(--nord-green) !important;
  background-color: var(--nord-green) !important;

  path[fill='var(--white)'] {
    fill: var(--black-500);
  }
}
.checkbox_f525d3.checked_f525d3[style*='background-color: rgba(#{discord.$green-new-43-rgb}'] /** server > notification settings */ {
  border-color: hsl(var(--nord-green-hsl) / 0.15) !important;
  background-color: hsl(var(--nord-green-hsl) / 0.15) !important;
}

/*
 * Buttons with brand, green ot nitro background
 */
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:not([aria-selected=true]), /* DM ("add friend" btn) */
.lookFilled__201d5.colorGreen__201d5, /** user settings > profiles + actions button */
.activeButton_c15210, /* text channel > search result (pagination) */
.lookFilled__201d5.colorBrand__201d5 .defaultColor__4bd52, /* server settings > onboarding > server guide */
.addButton_a76561, /** Discover > Student Hubs > "Join Hub" button  */
.colorable_f1ceac.join_f1ceac, .colorable_f1ceac.join_f1ceac .centerIcon_f1ceac /** DM (Call button)  */ {
  color: var(--black-500);
}

.button_c50183 .text-md\/medium_cf4812[style*='color: white'], /* user settings > gift inventory ("view quests" btn) */
.lookFilled__201d5.colorGreen__201d5 .text-sm\/medium_cf4812[style*='color: var(--text-normal)'] /* server settings > onboarding > server guide */ {
  color: var(--black-500) !important;
}

.tier2Gradient_e00877 /* "get nitro" buttons */ {
  color: var(--black-500) !important;
}

/*
 * Circle checked icon
 */
.activeIcon_d40c56 circle[fill='var(--white-500)'], /** user popup (sidebar left) > switch accounts */
.selectedIcon__3f413 circle[fill='white'], /** user settings > profiles > per-server-profiles (checkmark in dropdown "Choose a server") */
.checkmarkCircle__36dee circle[fill='var(--white-500)'], /** user settings > app settings > Appearance */
.descriptionSection__981f7:first-child .descriptionIcon__981f7 circle[fill='var(--white-500)'], /** server settings > server template */
.checklistIcon_ef2eb4 circle[fill='var(--white-500)'], /** server settings > enable community > get started (step 3) */
.icon_e9b3cb circle[fill="var(--white-100)"], /* server settings > onboarding > defaults channels (right check mark) */
.checkIcon__270d7 path[fill="var(--white-500)"], /* server > Channel & Roles (selected role) */
.answerSelectionIcon__4c520 circle[fill="var(--white-500)"], /* Text channel > poll answers */
.victorIcon_f69538 circle[fill="var(--white-500)"], /* Text channel >  poll result */ {
  fill: var(--black-500);
}

.checkmark_aae012, /** Server > text channel (empty and complete some tasks) */
.activeCircle__5ea8c, /** server settings > welcome screen */
.stepStatus_a68543[style*='background-color: var(--status-positive-background)'] /* Forum channel > "get started" */ {
  color: var(--black-500);
}

.theme-dark .activeIcon_d40c56 circle[fill='var(--brand-500)'] /** user popup (sidebar left) > switch accounts (hover) */ {
  fill: var(--blurple-87);
}

/*
 * Search > date picker
 */
.calendarPicker_d27f17 {
  .react-datepicker__day.react-datepicker__day--keyboard-selected,
  .react-datepicker__day.react-datepicker__day--selected:hover,
  .react-datepicker__day:hover {
    color: var(--black-500);
  }
}

/*
 * Drop file and files in text channel
 */
.uploadDropModal_dbca3c:not(.error_dbca3c) .inner_dbca3c {
  .title_dbca3c,
  .title_dbca3c strong,
  .instructions_dbca3c {
    color: var(--black-500);
  }
}
.icon_dbca3c {
  &.two_dbca3c {
    filter: drop-shadow(0 0 48px hsla(var(--brand-500-hsl) / 0.5)) !important;
  }

  &.document_dbca3c {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.image_dbca3c {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.code_dbca3c {
    background-image: url(svg('global/upload/code.svg'));
  }
}
