@use 'discord-color' as discord;

::selection {
  background-color: hsl(var(--blue-new-35-hsl) / 0.25);
}

/*
 * "beta" or some "new" tag
 */
.textBadge__2b1f5[style*='background-color: var(--brand-500)'] {
  color: var(--black-500);
}

/*
 * Tooltips
 */
.tooltipGreen_c36707, /* ping (when over badge) */
.tooltipBrand_c36707 /* voice emoji (when over bottom emoji) */ {
  color: var(--black-500);
}

/*
 * Toast
 */
.toast__3fde7[data-type='success'] path[fill='var(--status-positive)'] {
  fill: currentColor;
}

/*
 * Streamer mode bar
 */
.colorStreamerMode__6e2b9 {
  --custom-notice-text: var(--black-500);
}

/*
 * Settings switch
 */
.slider__3f21e {
  rect[fill='white'] {
    fill: var(--white-500);
  }
  path[fill^='rgba(#{discord.$blurple-49-rgb}'] {
    fill: var(--blurple-65);
  }
  path[fill^='rgba(#{discord.$neutral-49-rgb}'] {
    fill: var(--neutral-45);
  }
}
.container__3f21e {
  &[style*='background-color: rgb(85, 95, 196'],
  &[style*='background-color: rgb(#{discord.$blurple-49-rgb})'] {
    background-color: var(--blurple-49) !important;
  }
  &[style*='background-color: rgb(81, 86, 134)'],
  &[style*='background-color: rgb(#{discord.$neutral-49-rgb})'] {
    background-color: var(--neutral-40) !important;
  }
}

/*
 * Settings radio/checkbox
 */
.refreshIcon__88a69, /* radio */
.checkbox__09aca.checked__09aca:not([style*='background-color']) path[fill='var(--white)'], /* checkbox */ {
  fill: var(--black-500);
}

/*
 * Buttons
 */
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:not([aria-selected=true]), /* DM ("add friend" btn) */
.lookFilled__201d5.colorGreen__201d5, /* user settings > profiles + actions button */
.activeButton_c15210, /* text channel > search result (pagination) */
.theme-light .expressive_a22cb0 /* user settings > Appearance > "unlock with nitro" btn */ {
  color: var(--black-500);
}

/*
 * Circle checked icon
 */
.activeIcon_d40c56 circle[fill='var(--white-500)'], /** user popup (sidebar left) > switch accounts */
.selectedIcon_a16aea circle[fill='white'], /** checkmark in dropdown (eg. user settings > Content & Social > Discord > ["show/block/blur"]) */
.checkmarkCircle__36dee circle[fill='var(--white-500)'], /** user settings > app settings > Appearance */
.descriptionSection__981f7:first-child .descriptionIcon__981f7 circle[fill='var(--white-500)'], /** server settings > server template */
.checklistIcon_ef2eb4 circle[fill='var(--white-500)'], /** server settings > enable community > get started (step 3) */
.icon_e9b3cb circle[fill="var(--white-100)"], /* server settings > onboarding > defaults channels (right check mark) */
.checkIcon__270d7 path[fill="var(--white-500)"], /* server > Channel & Roles (selected role) */
.answerSelectionIcon__4c520 circle[fill="var(--white-500)"], /* Text channel > poll answers */
.victorIcon_f69538 circle[fill="var(--white-500)"], /* Text channel >  poll result */ {
  fill: var(--black-500);
}

.checkmark_aae012, /** Server > text channel (empty and complete some tasks) */
.activeCircle__5ea8c, /** server settings > welcome screen */
.stepStatus_a68543[style*='background-color: var(--status-positive-background)'] /* Forum channel > "get started" */ {
  color: var(--black-500);
}

.theme-dark .activeIcon_d40c56 circle[fill='var(--brand-500)'] /** user popup (sidebar left) > switch accounts (hover) */ {
  fill: var(--blurple-87);
}

/*
 * Search > date picker
 */
.calendarPicker_d27f17 {
  .react-datepicker__day.react-datepicker__day--keyboard-selected,
  .react-datepicker__day.react-datepicker__day--selected:hover,
  .react-datepicker__day:hover {
    color: var(--black-500);
  }
}

/*
 * Stars
 */
.emptyIcon__5d7c9, /* ! + empty "Channel & role" (when server not joined, from discover)  */
.stars_d404a3 /* ! + inbox */ {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
  path[fill='#58F287'] {
    fill: var(--nord-green);
  }
}
