@use 'discord-color' as discord;

::selection {
  background-color: hsl(var(--blue-new-35-hsl) / 0.25);
}

.mentionsBar__7aaec .barText__7aaec {
  color: var(--text-strong) !important;
}

/*
 * "beta" or some "new" tag
 */
.textBadge__2b1f5[style*='background-color: var(--brand-500)'] {
  color: var(--black-500);
}

/*
 * Tooltips
 */
.tooltipGreen_c36707, /* ping (when over badge) */
.tooltipBrand_c36707 {
  color: var(--black-500);
}

/*
 * Toast
 */
.toast__3fde7[data-type='success'] path[fill='var(--status-positive)'] {
  fill: currentColor;
}

/*
 * Streamer mode bar
 */
.colorStreamerMode__6e2b9 {
  --custom-notice-text: var(--black-500);
}

/*
 * Settings switch
 */
.switchIndicator_a28278 {
  &[style*='background-color: rgb(#{discord.$blurple-49-rgb})'] /* Selected */ {
    background-color: var(--blurple-49) !important;
  }
  &[style*='background-color: rgb(#{discord.$blurple-60-rgb})'] /* selected hover */ {
    background-color: var(--blurple-65) !important;
  }
  &[style*='background-color: rgb(#{discord.$blurple-65-rgb})'] /* selected active */ {
    background-color: var(--blurple-87) !important;
  }
}

/*
 * Buttons
 */
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:not([aria-selected=true]),
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:active, /* DM ("add friend" btn) */
.lookFilled__201d5.colorGreen__201d5, /* user settings > profiles + actions button */
.activeButton_c15210, .activeButton_c15210:hover, /* text channel > search result (pagination) */
.colorable_f1ceac.join_f1ceac, .colorable_f1ceac.join_f1ceac .centerIcon_f1ceac, /* DM text channel > call + call popup */
.customLabelContainer_c2c6a6:hover, .customLabelContainer_c2c6a6:hover .labelText_c2c6a6,
.nagivateBackContainer__786f4:hover, .otherDateLabel__786f4.focused__786f4 /* server > members > filters dropdown */ {
  color: var(--black-500);
}

.nagivateBackContainer__786f4:hover .eyebrow_cf4812 /* server > members > filters dropdown  */ {
  color: currentColor !important;
}

/*
 * Circle checked icon
 */
.activeIcon_d40c56 circle[fill='var(--white)'], /** user popup (sidebar left) > switch accounts */
.selectedIcon_a16aea circle[fill='white'], /** checkmark in dropdown (eg. user settings > Content & Social > Discord > ["show/block/blur"]) */
.checkmarkCircle__36dee circle[fill='var(--white)'], /** user settings > app settings > Appearance */
.descriptionSection__981f7:first-child .descriptionIcon__981f7 circle[fill='var(--white)'], /** server settings > server template */
.checklistIcon_ef2eb4 circle[fill='var(--white)'], /** server settings > enable community > get started (step 3) */
.icon_e9b3cb circle[fill="var(--white)"], /* server settings > onboarding > defaults channels (right check mark) */
.checkIcon__270d7 path[fill="var(--white)"], /* server > Channel & Roles (selected role) */
.answerSelectionIcon__4c520 circle[fill="var(--white)"], /* Text channel > poll answers */
.victorIcon_f69538 circle[fill="var(--white)"], /* Text channel >  poll result */ {
  fill: var(--black-500);
}

.checkmark_aae012, /** Server > text channel (empty and complete some tasks) */
.activeCircle__5ea8c, /** server settings > welcome screen */
.stepStatus_a68543[style*='background-color: var(--status-positive-background)'] /* Forum channel > "get started" */ {
  color: var(--black-500);
}

.theme-dark .activeIcon_d40c56 circle[fill='var(--brand-500)'] /** user popup (sidebar left) > switch accounts (hover) */ {
  fill: var(--blurple-87);
}

/*
 * Search > date picker
 */
.calendarPicker_d27f17 {
  .react-datepicker__day.react-datepicker__day--keyboard-selected,
  .react-datepicker__day.react-datepicker__day--selected:hover,
  .react-datepicker__day:hover {
    color: var(--black-500);
  }
}

/*
 * Stars
 */
.emptyIcon__5d7c9, /* empty "Channel & role" (when server not joined, from discover)  */
.stars_d404a3, /* inbox */
.stars__1b24f /* server > text channels > empty threads */ {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
  path[fill='#58F287'] {
    fill: var(--nord-green);
  }
}
