@if is_uniform() {
  .wrapper_fea3ef, /* Servers sidebar */
  .sidebar_a4d4d9, /* Left sidebar (servers + discover) */
  .sidebarRegionScroller_c25c6d, /* Settings > sidebar */
  .privateChannels_f0963d, .scroller_c47fa9, /* DM > channels */
  .container_ee69e0, /* Server > channels */
  .members_cbd271 /* ! DM group/Server > members sidebar */ {
    background-color: var(--background-primary) !important;
  }

  .wrapper_fea3ef, /* Servers sidebar */
  .sidebar_a4d4d9, /* Left sidebar (servers + discover) */
  .sidebarRegionScroller_c25c6d /* Settings > sidebar */ {
    border-right: 1px solid var(--background-secondary-alt);
  }

  .wrapper_f90abb:not(.selected_f90abb) .childWrapper_f90abb, /* server without avatar */
  .expandedFolderBackground_bc7085, /* servers folder */
  .circleIconButton_db6521:not(.selected_db6521) /* add and discover button */ {
    background-color: var(--background-secondary);
  }

  .container_b2ca13, /* user area */
  .container_adcaac /* user area (in voice) */ {
    background-color: var(--background-secondary) !important;
  }
  .container_adcaac /* user area (in voice) */ {
    border-bottom-color: var(--background-secondary-alt);
  }

  .folder_bc7085.hover_bc7085, /* server folder icon */
  .wrapper_bc7085 .wrapper_f90abb:not(.selected_f90abb) .childWrapper_f90abb /* server (in folder) without avatar */ {
    background-color: var(--c-background-secondary-alt2) !important;
  }
} @else {
  .wrapper_fea3ef /* Servers sidebar */ {
    background-color: var(--background-secondary-alt) !important;
  }

  .panels_a4d4d9 /* user area (global) */ {
    border-left: 1px solid var(--background-modifier-accent);
  }

  .expandedFolderBackground_bc7085, /* servers folder */
  .folder_bc7085:not(.hover_bc7085) /* server folder icon */ {
    background-color: var(--background-primary) !important;
  }

  .theme-dark .folder_bc7085.hover_bc7085, /* server folder icon */
  .theme-dark .wrapper_bc7085 .wrapper_f90abb:not(.selected_f90abb) .childWrapper_f90abb /* server (in folder) without avatar */ {
    background-color: var(--primary-500);
  }
  .theme-light .folder_bc7085.hover_bc7085, /* server folder icon */
  .theme-light .wrapper_bc7085 .wrapper_f90abb:not(.selected_f90abb) .childWrapper_f90abb /* server (in folder) without avatar */ {
    background-color: var(--primary-160);
  }
}

.footer_aa1bff /* Servers sidebar */ {
  background: none;
}

/*
 * DM
 * server without image
 */
.wrapper_f90abb:hover .childWrapper_f90abb,
.wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
  color: var(--black-500);
}

.container_e85446 div[style*='background-color: rgb(#{$green-360-rgb})'] /* Typing on DM group */ {
  background-color: var(--user-status-online) !important;
}

/*
 * voice connected badge
 */
@if is_uniform() {
  .iconBadge_c96c45 {
    // (When other people are connected)
    background-color: var(--background-secondary-alt);
  }
}

.iconBadge_c96c45.isCurrentUserConnected_c96c45 {
  color: var(--black-500);
}

/*
 * User area (in voice)
 */
@if is_uniform() {
  .button_adcaac.buttonColor_adcaac.fauxDisabled_adcaac,
  .button_adcaac .buttonColor_adcaac.fauxDisabled_adcaac,
  .button_adcaac.buttonColor_adcaac:disabled,
  .button_adcaac .buttonColor_adcaac:disabled,
  .button_adcaac.buttonColor_adcaac,
  .button_adcaac .buttonColor_adcaac {
    background-color: var(--c-background-secondary-alt2);
  }
  .button_adcaac.buttonColor_adcaac:hover,
  .button_adcaac .buttonColor_adcaac:hover {
    background-color: var(--background-primary);
  }
}

/*
 * add server
 * discover
 */
.circleIconButton_db6521.selected_db6521 {
  color: var(--black-500);
}

/*
 ! > add server > Customize your server ('+' image)
 */
.iconContainer_a2aef9 circle[fill='#{$brand-500-hex}' i] {
  fill: var(--brand-500);

  & + path[fill='white'] {
    fill: var(--black-500);
  }
}
