@use 'discord-color' as discord;

.panels_c48ade {
  background: var(--background-base-lower) !important;
}

.theme-dark
  .folderGroup__48112
  .wrapper__6e9f8:not(.selected__6e9f8)
  .childWrapperNoHoverBg__6e9f8 {
  background-color: var(--background-mod-strong);
}

/*
 * DM
 * server without image
 */
.wrapper__6e9f8:hover .childWrapper__6e9f8,
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
  color: var(--black-500);
}

/*
 * voice connected badge
 */
.iconBadge__650eb.isCurrentUserConnected__650eb {
  color: var(--black-500);
}

/*
 * add server
 * discover
 */
.circleIconButton__5bc7e.selected__5bc7e {
  color: var(--black-500);
}

/*
 ! > add server > Customize your server ('+' image)
 */
.iconContainer__98cf7 circle[fill='#{discord.$blurple-49-hex}' i] {
  fill: var(--blurple-49);

  & + path[fill='white'] {
    fill: var(--black-500);
  }
}

/*
 * Typing on DM group
 */
.container__1ce5d
  div[style*='background-color: rgb(#{discord.$green-new-38-rgb})'] {
  background-color: var(--user-status-online) !important;
}
