@use 'discord-color' as discord;

/* Server without image in folder */
.theme-dark
  ._48112cbe77dc5022-folderGroup
  ._6e9f8dce4cc18de3-wrapper:not(._6e9f8dce4cc18de3-selected)
  ._6e9f8dce4cc18de3-childWrapperNoHoverBg {
  background-color: var(--background-mod-strong);
}

/*
 * DM
 * server without image
 */
._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper,
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected
  ._6e9f8dce4cc18de3-childWrapper {
  color: var(--black-500);
}

/*
 * voice connected badge
 */
._650eb104245d257b-iconBadge._650eb104245d257b-isCurrentUserConnected {
  color: var(--black-500);
}

/*
 * add server
 * discover
 */
._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected {
  color: var(--black-500);
}

/*
 ! > add server > Customize your server ('+' image)
 */
._98cf72876e6760d6-iconContainer circle[fill='#{discord.$blurple-49-hex}' i] {
  fill: var(--blurple-49);

  & + path[fill='white'] {
    fill: var(--black-500);
  }
}

/*
 * Typing on DM group
 */
._1ce5d425feffd32a-container
  div[style*='background-color: rgb(#{discord.$green-new-38-rgb})'] {
  background-color: var(--user-status-online) !important;
}
