@if is_uniform() {
  .wrapper_a7e7a8, /* servers sidebar */
  .sidebarRegionScroller__1fa7e, /* Settings > sidebar */
  .privateChannels__93473, .scroller__4b984, /* DM > channels */
  .sidebar_ded4b5, /* Server > channels */
  .sidebar_ded4b5, /* Discover > tabs */
  .members__9f47b, /* DM group/Server > members sidebar */
  .profilePanel__12596 .userProfileOuterUnthemed__48723 .userPanelInnerThemed__1804b /* DM unthemed user profile sidebar */ {
    background-color: var(--background-primary) !important;
  }

  .wrapper_a7e7a8, /* Servers sidebar */
  .sidebar_ded4b5, /* Server > channels */
  .sidebarRegionScroller__1fa7e /* Settings > sidebar */ {
    border-right: 1px solid var(--background-secondary-alt);
  }

  .wrapper_d281dd:not(.selected_f5ec8e) .childWrapper__01b9c, /* server without avatar */
  .expandedFolderBackground__1bec6, /* servers folder */
  .folder__17546:not(.hover__043de), /* server folder icon */
  .circleIconButton_d8df29:not(.selected__5250e) /* add and discover button */ {
    background-color: var(--background-secondary);
  }
  .container_ca50b9, /* user area */
  .container_d667ff /* user area (in voice) */ {
    background-color: var(--background-secondary) !important;
  }

  .theme-dark .folder__17546.hover__043de, /* server folder icon */
  .theme-dark .wrapper__3af0b .wrapper_d281dd:not(.selected_f5ec8e) .childWrapper__01b9c /* server (in folder) without avatar */ {
    background-color: var(--c-background-secondary-alt2);
  }
  .theme-light .folder__17546.hover__043de, /* server folder icon */
  .theme-light .wrapper__3af0b .wrapper_d281dd:not(.selected_f5ec8e) .childWrapper__01b9c /* server (in folder) without avatar */ {
    background-color: var(--background-modifier-hover);
  }
} @else {
  .wrapper_a7e7a8 /* Servers sidebar */ {
    background-color: var(--background-secondary-alt) !important;
  }

  .panels__58331 /* user area */ {
    border-left: 1px solid var(--background-secondary);
  }

  .expandedFolderBackground__1bec6, /* servers folder */
  .folder__17546:not(.hover__043de) /* server folder icon */ {
    background-color: var(--background-primary) !important;
  }

  .theme-dark .folder__17546.hover__043de, /* server folder icon */
  .theme-dark .wrapper__3af0b .wrapper_d281dd:not(.selected_f5ec8e) .childWrapper__01b9c /* server (in folder) without avatar */ {
    background-color: var(--primary-500);
  }
  .theme-light .folder__17546.hover__043de, /* server folder icon */
  .theme-light .wrapper__3af0b .wrapper_d281dd:not(.selected_f5ec8e) .childWrapper__01b9c /* server (in folder) without avatar */ {
    background-color: var(--primary-160);
  }
}

/*
 * DM (snowsgiving)
 */
.childWrapper__01b9c rect[fill='#6370f4'] {
  fill: var(--brand-500);
}
.wrapper_d281dd.selected_f5ec8e
  .childWrapper__01b9c
  g[fill='var(--white-500)'] {
  fill: var(--white-100);
}

/*
 * DM
 * server without image
 */
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c {
  color: var(--black-500);
}

/*
 * voice connected badge
 */
.iconBadge_fdf33a.isCurrentUserConnected_d9734f {
  color: var(--black-500);
}

/*
 * User area (in voice)
 */
@if is_uniform() {
  .button__66e8c.buttonColor_a6eb73.fauxDisabled__095d8,
  .button__66e8c .buttonColor_a6eb73.fauxDisabled__095d8,
  .button__66e8c.buttonColor_a6eb73:disabled,
  .button__66e8c .buttonColor_a6eb73:disabled,
  .button__66e8c.buttonColor_a6eb73,
  .button__66e8c .buttonColor_a6eb73 {
    background-color: var(--c-background-secondary-alt2);
  }
  .button__66e8c.buttonColor_a6eb73:hover,
  .button__66e8c .buttonColor_a6eb73:hover {
    background-color: var(--background-primary);
  }
}

/*
 * add server
 * discover
 */
.circleIconButton_d8df29.selected__5250e {
  color: var(--black-500);
}

/*
 ! > add server > Customize your server ('+' image)
 */
.iconContainer_cd2671 circle[fill='#{$brand-500-hex}' i] {
  fill: var(--brand-500);

  & + path[fill='white'] {
    fill: var(--black-500);
  }
}
