/*
 * Download bar
 */
.iconApple__9671b {
  background-image: url(svg('web/apple.svg'));
}
.iconAndroid__9671b {
  background-image: url(svg('web/android.svg'));
}
.iconWindows__9671b {
  background-image: url(svg('web/windows.svg'));
}

.button__6e2b9 {
  color: currentColor !important;

  &:not(:hover) {
    border-color: currentColor !important;
  }
}
