/*
 * Download bar
 */
.iconApple-3GcJtX {
  background-image: url(svg('web/apple.svg'));
}
.iconAndroid-2DSyPS {
  background-image: url(svg('web/android.svg'));
}
.iconWindows-1o_-54 {
  background-image: url(svg('web/windows.svg'));
}

.button-1iHNQ2 {
  color: var(--black-500);
  border-color: currentColor;
}

.closeIcon-3eoP1e path {
  fill: var(--black-500);
}
