/**
 * Button
 */
.actionButton-uPB8Fs:hover {
  background-color: var(--background-accent);
}

.actionButton-uPB8Fs.actionAccept-LV-szU:hover {
  color: var(--nord-green) !important;
}

.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
  color: var(--nord-red) !important;
}

/* Grey/Primary */
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.iconWrapper-3LVgIo .icon-TYbVk4:not(.disabled-24YXy-),
.button-3HqqDX,
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--button-grey) !important;
  color: var(--button-grey-text) !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.iconWrapper-3LVgIo:hover .icon-TYbVk4:not(.disabled-24YXy-),
.button-3HqqDX:hover,
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
  background-color: var(--button-grey-hover) !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:active,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.iconWrapper-3LVgIo:active .icon-TYbVk4:not(.disabled-24YXy-),
.button-3HqqDX:active,
.colorable-1bkp8v.primaryDark-3mSFDl:active {
  background-color: var(--button-grey-active) !important;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  color: var(--text-normal) !important;
  border-color: var(--text-normal) !important;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover {
  background-color: var(--background-modifier-hover) !important;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6:active {
  background-color: var(--background-modifier-active) !important;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
  color: var(--button-grey-ghost-text);
  background-color: var(--button-grey-ghost);
}
.lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--text-normal) !important;
}

/* Brand (primary now) */
.lookFilled-1Gx00P.colorBrand-3pXr91,
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
.selectorButtonSelected-t5V9On,
.selectedBrand-1UKrSX,
.activeButton-rvKcqq,
.activeButton-rvKcqq:hover {
  background-color: var(--button-primary) !important;
  color: var(--button-primary-text) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover,
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover,
.selectedBrand-1UKrSX.focused-dKLoQt,
.selectedBrand-1UKrSX:hover {
  background-color: var(--button-primary-hover) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active,
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:active,
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):active {
  background-color: var(--button-primary-active) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--button-primary-disabled);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  border-color: var(--button-primary);
  color: var(--button-primary);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
  border-color: var(--button-primary-hover);
  color: var(--button-primary-hover);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91:active {
  border-color: var(--button-primary-active);
  background-color: var(--button-primary-active-outlined);
  color: var(--button-primary);
}
.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  color: var(--button-primary-ghost-text);
  background-color: var(--button-primary-ghost);
}
.lookGhost-2Fn_0-.colorBrand-3pXr91:hover {
  background-color: var(--button-primary-ghost-hover);
}
.lookGhost-2Fn_0-.colorBrand-3pXr91:active {
  background-color: var(--button-primary-ghost-active);
}
.side-8zPYf6 .item-PXvHYJ[style*='color: rgb(114, 137, 218)'] {
  color: var(--button-primary) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*='background-color: rgba(114, 137, 218, 0.1)'] {
  background-color: var(--button-primary-active-outlined) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*='background-color: rgb(114, 137, 218)'] {
  background-color: var(--button-primary) !important;
  color: var(--button-primary-text) !important;
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: var(--nord-primary);
}

/* Red */
.lookFilled-1Gx00P.colorRed-1TFJan,
.filled-1iCBCZ,
.colorable-1bkp8v.red-33-Lnk {
  background-color: var(--button-red);
  color: var(--button-red-text);
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.filled-1iCBCZ:hover,
.colorable-1bkp8v.red-33-Lnk:hover {
  background-color: var(--button-red-hover);
}
.lookFilled-1Gx00P.colorRed-1TFJan:active,
.filled-1iCBCZ:active,
.colorable-1bkp8v.red-33-Lnk:active {
  background-color: var(--button-red-active);
}
.lookFilled-1Gx00P.colorRed-1TFJan:disabled {
  background-color: var(--button-red-disabled);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
  border-color: var(--button-red);
  color: var(--button-red);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  border-color: var(--button-red-hover);
  color: var(--button-red-hover);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:active {
  border-color: var(--button-red-active);
  background-color: var(--button-red-active-outlined);
  color: var(--button-red);
}
.lookLink-9FtZy-.colorRed-1TFJan,
.side-8zPYf6 .item-PXvHYJ[style*='color: rgb(240, 71, 71)'] {
  color: var(--button-red) !important;
}
.lookLink-9FtZy-.colorRed-1TFJan:hover .contents-18-Yxp {
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--button-red) 0,
    var(--button-red) 2px,
    transparent 0
  );
}
.side-8zPYf6 .item-PXvHYJ[style*='background-color: rgba(240, 71, 71, 0.1)'] {
  background-color: var(--button-red-active-outlined) !important;
}
.side-8zPYf6 .item-PXvHYJ[style*='background-color: rgb(240, 71, 71)'] {
  background-color: var(--button-red) !important;
  color: var(--button-red-text) !important;
}

/* Green */
.lookFilled-1Gx00P.colorGreen-29iAKY,
.tabBar-ZmDY9v .item-3HknzM[style*='background-color: rgb(67, 181, 129)'],
.circleIconButton-1QV--U:hover,
.circleIconButton-1QV--U.selected-1JjBPm,
.colorable-1bkp8v.green-plH-Mj {
  background-color: var(--button-green) !important;
  color: var(--button-green-text) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.tabBar-ZmDY9v .item-3HknzM[style*='background-color: rgb(67, 181, 129)']:hover,
.circleIconButton-1QV--U:active,
.colorable-1bkp8v.green-plH-Mj:hover {
  background-color: var(--button-green-hover) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active,
.tabBar-ZmDY9v .item-3HknzM[style*='background-color: rgb(67, 181, 129)']:active {
  background-color: var(--button-green-active) !important;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY,
.colorable-1bkp8v.green-plH-Mj:active {
  color: var(--button-green);
  border-color: var(--button-green);
}
.lookGhost-2Fn_0-.colorGreen-29iAKY,
.tabBar-ZmDY9v .item-3HknzM[style*='color: rgb(67, 181, 129)']:not([style*='background-color: rgb(67, 181, 129)']) {
  color: var(--button-green-ghost-text) !important;
  background-color: var(--button-green-ghost) !important;
}
.lookGhost-2Fn_0-.colorGreen-29iAKY:hover,
.tabBar-ZmDY9v
  .item-3HknzM[style*='color: rgb(67, 181, 129)']:not([style*='background-color: rgb(67, 181, 129)']):hover {
  background-color: var(--button-green-ghost-hover) !important;
}
.lookGhost-2Fn_0-.colorGreen-29iAKY:active,
.tabBar-ZmDY9v
  .item-3HknzM[style*='color: rgb(67, 181, 129)']:not([style*='background-color: rgb(67, 181, 129)']):active {
  background-color: var(--button-green-ghost-active) !important;
}

/* White */
.colorable-1bkp8v.white-3GPOIp {
  background-color: var(--button-white);
  color: var(--button-white-text);
}
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: var(--button-white-text);
}
.colorable-1bkp8v.white-3GPOIp:hover {
  background-color: var(--button-white-hover);
}
.colorable-1bkp8v.white-3GPOIp:active {
  background-color: var(--button-white-active);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  border-color: var(--button-white);
  color: var(--button-white);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
  border-color: var(--button-white-hover);
  color: var(--button-white-hover);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:active {
  border-color: var(--button-white-active);
  background-color: var(--button-white-outlined);
  color: var(--button-white);
}
