.input-2g-os5.focused-1AtTHC,
.input-2g-os5:focus {
  border-color: var(--nord-primary);
}

.copyInputSuccess-3ALwde,
.input-2g-os5.success-3HR983 {
  border-color: var(--button-green);
}
.inputSuccess-3U9sNd {
  color: var(--button-green);
}

.submitText-Kp_2uE {
  color: var(--text-primary-background);
}

/* Keybind input */
.container-1_EVMa:not(.disabled-3S7pz8):focus-within,
.container-1_EVMa:not(.disabled-3S7pz8):hover {
  border-color: rgba(191, 97, 106, 0.3);
}
.container-1_EVMa.recording-3ny5_E .input-3MU9bJ {
  color: var(--text-danger);
}

/**
 * Checkbox / Radio
 */
.checkbox-1ix_J3 {
  border-color: var(--interactive-normal) !important;
}

.colorDefault-CDqZd0 .checkbox-hADx5o,
.colorDefault-CDqZd0 .radioSelection-1UHp0b {
  color: var(--nord-primary);
}

.checkbox-1ix_J3.checked-3_4uQ9 {
  border-color: var(--nord-primary) !important;
  background-color: var(--nord-primary) !important;
}

/**
 * Checkbox (slider)
 */
.container-2nx-BQ[style*='background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)'] {
  background-color: var(--button-grey) !important;
}
.slider-32CRPX > rect {
  fill: var(--nord-light1);
}
.slider-32CRPX path[fill='background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)'] {
  fill: var(--button-grey);
}

.container-2nx-BQ[style*='background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  background-color: var(--button-primary) !important;
}
.slider-32CRPX path[fill='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  fill: var(--button-primary);
}

/**
 * Slider
 */
.bar-1Bhnl9:not(.sliderBar-3DezvM),
.progress-1IcQ3A {
  background-color: var(--background-slider) !important;
}

.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
  background-color: var(--nord-green);
}

.markValue-2U_-UG {
  color: var(--interactive-muted) !important;
}

.markDash-yk2kJ- {
  background-color: var(--interactive-muted) !important;
}

/**
 * Select
 */
.css-3vaxre-menu,
.css-1x99fvh-menu {
  background-color: var(--background-floating);
  color: var(--text-normal);
}

.css-3vaxre-menu {
  border-color: var(--nord-black1);
}
.css-1x99fvh-menu {
  border-color: var(--nord-grey1);
}

.css-1ye7vu0::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thin-thumb);
}
.css-1ye7vu0::-webkit-scrollbar-track {
  background-color: var(--scrollbar-thin-track);
}

.css-rzbxvl-option {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}

.css-1ba14n5-option {
  background-color: var(--background-modifier-active);
  color: var(--text-normal);
}

/**
 * Search box
 */
.search-25t1e9 .searchBox-31Zv9h,
.header-2bNvm4 {
  background-color: var(--background-primary) !important;
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz,
.container-VSDcQc .input-1ppKdn {
  color: var(--text-normal) !important;
}
.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0,
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder,
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
.container-VSDcQc .sectionTag-pXyto9,
.container-VSDcQc .input-1ppKdn::placeholder {
  color: var(--text-muted) !important;
}

.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0:hover {
  color: var(--text-searchbox-close) !important;
}

.search-25t1e9 .searchBox-31Zv9h:focus,
.search-25t1e9 .searchBox-31Zv9h:focus-within {
  box-shadow: 0 0 0 2.2px var(--nord-primary);
  border-color: transparent;
}
