/**
 * Guild icon
 */
.voiceSectionIconWrapper-FO7UEY,
.voiceSectionNoGuildImageWrapper-TicZR3,
.childWrapper-anI2G9,
.icon-27yU2q {
  background-color: var(--background-server) !important;
  color: var(--text-normal);
}

.voiceSectionIcon-1b3cOo,
.xboxSectionIcon-1Y8MqF {
  color: var(--header-primary);
}

.icon-3o6xvg {
  background-color: var(--background-friends-server) !important;
  color: var(--text-normal);
}

/**
 * Servers list
 */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--nord-primary) !important;
  color: var(--text-primary-background) !important;
}

.item-2hkk8m {
  background-color: var(--nord-primary);
}

.circleIconButton-1VxDrg {
  color: var(--nord-green);
}

.iconBadge-32fMme.participating-2Z81oO {
  background-color: var(--button-green);
  color: var(--button-green-text);
}

.guildsError-b7zR5H {
  border-color: var(--button-red);
}

.guildsError-b7zR5H:hover {
  background-color: var(--button-red);
  color: var(--button-red-text);
}

/**
 * Goal
 */
.progressBarContainer-2E4oR- {
  background-color: var(--background-slider) !important;
}

/**
 * Channel
 */
.modeUnread-3Cxepe .channelName-3KPsGw {
  color: var(--interactive-active));
  font-weight: 700;
}

/* Unread */
.divider-2rZFJK {
  --divider-color: var(--nord-red);
}

/**
 * Mention
 */
.wrapper-1ZcZW- {
  color: var(--text-mention) !important;
  background-color: var(--background-mention) !important;
}
.message-2CShn3:not(.mentioned-Tre-dv) .wrapper-1ZcZW-:hover {
  color: var(--text-mention-hover);
  background-color: var(--background-mention-hover);
}
.message-2CShn3.mentioned-Tre-dv .mention:hover {
  text-decoration: underline;
}

/**
 * Messages actions
 */
.wrapper-2aW0bm {
  background-color: var(--background-secondary);
}

.operations-36ENbA {
  color: var(--text-muted) !important;
}
.operations-36ENbA > a {
  color: var(--nord-primary) !important;
}

/* Spoiler */
.spoilerText-27bIiA {
  background-color: var(--background-accent) !important;
}

.spoilerText-27bIiA.hidden-3B-Rum {
  background-color: var(--background-tertiary) !important;
}

/**
 * Mentioned
 */
.mentioned-Tre-dv:before {
  background-color: var(--text-brand);
}

.mentioned-Tre-dv .mention.interactive:hover {
  color: var(--text-mention) !important;
}

.mentioned-Tre-dv.compact-T3H92H .timestamp-p1Df1m,
.mentioned-Tre-dv.cozy-VmLDNB .timestamp-p1Df1m.alt-1uNpEt {
  color: var(--mentioned-timestamp);
}

/**
 * Reaction
 */
.reactionCount-1zkLcN {
  color: var(--reaction-count);
}

.reaction-2A2y9y.reactionMe-3I9gFK {
  background-color: var(--reaction-me);
}

.reactionMe-3I9gFK .reactionCount-1zkLcN,
.reaction-2A2y9y:hover .reactionCount-1zkLcN {
  color: var(--reaction-hover);
}

/**
 * Ephemeral/Replying
 */
.ephemeral-2nDdnn,
.replying-eZ7p5z {
  background-color: var(--background-ephemeral);
}

.message-2CShn3.ephemeral-2nDdnn.selected-2LX7Jy,
.message-2CShn3.replying-eZ7p5z.selected-2LX7Jy,
.mouse-mode.full-motion .ephemeral-2nDdnn:hover,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
  background-color: var(--background-ephemeral-hover);
}

.ephemeral-2nDdnn::before,
.replying-eZ7p5z::before {
  background-color: var(--message-ephemeral);
}

.ephemeralMessage-1fEWtQ a,
.replying-1x3H0T a {
  color: var(--message-ephemeral);
}

/**
 * Message bars
 */
/* Unread */
.barButtonBase-Sk2mdB {
  color: var(--button-primary-text);
}

.messagesErrorBar-nyJGU7 {
  background-color: var(--nord-red);
  color: var(--text-normal);
}

/**
 * Voice
 */
.colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
  color: var(--button-red-text);
}
.colorable-1bkp8v.green-plH-Mj .centerIcon-2G6o-T {
  color: var(--button-green-text);
}

.border-2BJQjd.speaking-3RWJBr {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px var(--background-floating);
}
.border-2Vy6FN.speaking-7QZEkv {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px #000000;
}
.avatarSpeaking-2pCGrZ,
.avatarSpeaking-2c8-9i {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px var(--background-secondary);
}

.mention-1f5kbO {
  background-color: var(--nord-red);
}

/* RTC status */
.rtcConnectionStatusConnected-VRZDjy,
.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {
  color: var(--nord-green);
}
.rtcConnectionStatusConnecting-3322Pa,
.rtcConnectionQualityAverage-3KV0u- .pingForeground-2uAOZ3:not(:last-child) {
  color: var(--nord-orange);
}
.rtcConnectionStatusError-2hLzrL,
.rtcConnectionQualityBad-1J7mUU .pingForeground-2uAOZ3:first-child {
  color: var(--nord-red);
}

/* Screen share */
.segmentControlOption-1vCKaY {
  color: var(--text-secondary);
}

.segmentControlOption-1vCKaY:hover {
  color: var(--nord-normal);
}

.selected-P8xTeN {
  color: var(--nord-primary);
  border-bottom-color: var(--nord-primary) !important;
}

.tile-2w4k5N:hover .sourceThumbnail-27dolk,
.sourceThumbnail-27dolk.selected-1nOkyc {
  box-shadow: inset 0 0 0 2px var(--nord-primary);
}

.tile-2w4k5N:hover .sourceName-1y7Taj,
.tile-2w4k5N.selected-1nOkyc .sourceName-1y7Taj {
  color: var(--nord-primary);
}

.selectorTextSelected-1ymya_,
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover,
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):active {
  color: currentColor;
}

/* No people */
.tile-2naSqK {
  background-color: var(--background-primary);
}

.header-2Zv56X {
  color: var(--text-normal);
}

/**
 * Send file
 */
/* Trash */
.button-3bklZh.dangerous-Y36ifs {
  color: var(--nord-red);
}

/* Spoil */
.actionBarIcon-3IdPoi rect[fill='hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)'] {
  fill: var(--nord-red) !important;
}

.altTag-2Bi3uP {
  background-color: var(--background-floating);
  color: var(--text-normal);
}
