/** Members wrapper (this is for force full height on members list) **/
.container_cbd271 .membersWrap_cbd271 {
  flex-grow: 1;
}

/*
 * Voice channels limits
 */
@if is_uniform() {
  .users_a5bc92 {
    background-color: var(--background-secondary);
  }
} @else {
  .theme-light .users_a5bc92 {
    background-color: var(--primary-100);
  }
}

/*
 * "new" badge
 */
.newChannel_ecb303, /* Sidebar left > new channel tag */
.newBadgeText_d6a475, /* Event (popup) */
.title_a33974 .textBadge_df8943[style="background-color: var(--bg-brand);"], /* Event (popup) > Create new (step 2) */
.newBadge_f1fd9c, /* Browse Channels (navbar) */
.titleBadge_f04d06, /* Browse Channels */
.newBadge_c6b11b /* Channels & Roles > Customise*/ {
  color: var(--brand-900);
}

/*
 * Members list > items
 */
@if is_uniform() {
  .member_a31c43 {
    background-color: transparent;
  }
}

/*
 * Server badge (partner, house and verified)
 */
.flowerStarContainer_ff7d90
  .childContainer_ff7d90
  path[fill='var(--white-400)'] {
  fill: var(--black-500);
}

/*
 * Events
 */
.eventStatusContainer_d6a475 path[fill='#{$brand-360-hex}'] /** (popup) > Create new (step 3) */ {
  fill: var(--brand-360);
}

/*
 * Modified settings
 *   Server settings
 *   Channel settings
 */
.container_b6cd66[style*='background-color: rgb(#{$primary-800-rgb})'] {
  background-color: var(--background-floating) !important;
}

/*
 * New server settings popup
 */
.upsellTooltipWrapper_dafa63 {
  .upsellTooltipHeader_dafa63,
  .upsellTooltipText_dafa63 {
    color: var(--black-500) !important;
  }
}

/*
 * "Emoji Picker"
 */
.badgeLabel_c3120f /* (label when over "popular" or "new") */ {
  & > .newlyAddedBadgeIcon_c3120f,
  & > .text-sm\/semibold_dc00ef[style*='color: white'] {
    color: currentColor !important;
  }
}

@if is_uniform() {
  .wrapper_ba23fe /* (sidebar) */ {
    background-color: var(--background-secondary);
    border-right: 1px solid hsl(var(--primary-900-hsl) / 0.2);
  }
}

.topGuildEmojiBadge_c3120f /* "popular" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--red-500) 0%,
    var(--orange-500) 102.45%
  );
  color: var(--black-900);
}

/* "new" emoji */
.newlyAddedHighlight_fbfedd {
  border-color: var(--green-500);
}
.newlyAddedBadge_fbfedd {
  background-color: var(--green-500);

  .newlyAddedBadgeStar_fbfedd,
  .text-xs\/semibold_dc00ef[style*='color: white'] {
    color: var(--black-500) !important;
  }
}
.newlyAddedBadge_c3120f /* (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--blue-330) 0%,
    var(--green-500) 102.45%
  );
}

.upsellButton_a3bc57 /* "Get Nitro" btn */ {
  color: var(--primary-660) !important;
}
