/** Members wrapper (this is for force full height on members list) **/
.container_c8ffbb .membersWrap_c8ffbb {
  flex-grow: 1;
}

/*
 * Voice channels limits
 */
@if is_uniform() {
  .users__260e1 {
    background-color: var(--background-secondary);
  }
} @else {
  .theme-light .users__260e1 {
    background-color: var(--primary-100);
  }
}

/*
 * "new" badge
 */
.newChannel__599fa, /* Sidebar left > new channel tag */
.newBadgeText__29021, /* Event (popup) */
.title__0396e .textBadge__2b1f5[style="background-color: var(--bg-brand);"], /* Event (popup) > Create new (step 2) */
.newBadge__270d7, /* Browse Channels (navbar) */ // ? Not sure
.titleBadge_e4503a, /* Browse Channels */
.newBadge__5d7c9 /* Channels & Roles > Customise */ {
  color: var(--brand-900);
}

/*
 * Server badge (partner, house and verified)
 */
.rowIconV2_b1f768,
.guildBadge__85d16 {
  .childContainer__3e3b0 path[fill='var(--white-400)'] {
    fill: var(--black-500);
  }
}

/*
 * Events icons
 */
.eventStatusContainer__29021 {
  path[fill='#{$brand-360-hex}'] /** + (popup) > Create new (step 3) */ {
    fill: var(--brand-360);
  }
  path[fill='#{$green-330-hex}'] {
    fill: var(--green-330);
  }
}
.guildIcon__4591d {
  color: var(--black-500);
}

/*
 * New server settings popup
 */
.upsellTooltipWrapper__675aa {
  .upsellTooltipHeader__675aa,
  .upsellTooltipText__675aa {
    color: var(--black-500) !important;
  }
}

/*
 * "Emoji Picker"
 */
.badgeLabel_aeaaeb /* (label when over "popular" or "new") */ {
  & > .newlyAddedBadgeIcon_aeaaeb,
  & > .text-sm\/semibold_cf4812[style*='color: white'] {
    color: currentColor !important;
  }
}

@if is_uniform() {
  .wrapper__4e6ce /* (sidebar) */ {
    background-color: var(--background-secondary);
    border-right: 1px solid hsl(var(--primary-900-hsl) / 0.2);
  }
}

.topGuildEmojiBadge_aeaaeb /* "popular" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--red-500) 0%,
    var(--orange-500) 102.45%
  );
  color: var(--black-900);
}

/* "new" emoji */
.newlyAddedHighlight_fc7141 {
  border-color: var(--green-500);
}
.newlyAddedBadge_fc7141 {
  background-color: var(--green-500);

  .newlyAddedBadgeStar_fc7141,
  .text-xs\/semibold_cf4812[style*='color: white'] {
    color: var(--black-500) !important;
  }
}
.newlyAddedHighlightContainer_fc7141:hover {
  .newlyAddedHighlight_fc7141 {
    border-color: var(--button-positive-background-hover);
  }
  .newlyAddedBadge_fc7141 {
    background-color: var(--button-positive-background-hover);
  }
}
.newlyAddedBadge_aeaaeb /* (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--blue-330) 0%,
    var(--green-500) 102.45%
  );
}

.nitroTopDividerLockCircle_b3fb5f path[fill='white'] {
  fill: var(--black-500);
}
.upsellButton__0b69f /* "Get Nitro" btn */ {
  color: var(--primary-660) !important;
}
