@use '../discord-color' as discord;

/*
 * "new" badge
 */
.textBadge__2b1f5[style*='background-color: var(--badge-background-brand)'], /* Sidebar left > Browse Channels/Channels & Roles */
.newBadgeText__29021, /* Event (popup) */
.newBadge__5d7c9[style*='background-color: var(--brand-260)'], /* Channels & Roles > Customise */
.newBadge_faa96b[style*='background-color: var(--brand-260)'], /* ! Forum (list)  */
.newBadge__9a337[style*='background-color: var(--brand-260)'] /* ! Forum (gallery)  */ {
  color: var(--black-500);
}

/*
 * Server badge (all except house)
 */
.guildIconV2Container__85d16,
.rowGuildName_b1f768 {
  div[tabindex='0'] /* Exclude home badge */
  .childContainer__3e3b0
  path[fill='var(--white)'],
  .childContainer__3e3b0 svg[width="13"] path[fill='var(--white)'] /* verified badge */ {
    fill: var(--black-500);
  }
}

/*
 * Events popup
 */
.sparkleIcon__05cdc {
  &[src='/assets/3a6a08a976f34e04.svg'] {
    content: url(svg('server/channel/stage/star.svg'));
  }
  &[src='/assets/30d1720360dd2c40.svg'] {
    content: url(svg('server/channel/stage/cross.svg'));
  }
}

.eventStatusContainer__29021 {
  path[fill='#{discord.$blurple-26-hex}'] /** + (popup) > Create new (step 3) */ {
    fill: var(--blurple-49);
  }
  path[fill='#{discord.$green-new-25-hex}'] {
    fill: var(--green-new-25);
  }
}
.guildIcon__4591d {
  color: var(--black-500);
}

/*
 * "Emoji Picker"
 */
.badgeLabel_aeaaeb /* (label when over "popular" or "new") */ {
  & > .newlyAddedBadgeIcon_aeaaeb,
  & > .text-sm_cf4812\/semibold[style*='color: white'] {
    color: currentColor !important;
  }
}

.topGuildEmojiBadge_aeaaeb /* "popular" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--red-new-61) 0%,
    var(--orange-new-63) 102.45%
  );
  color: var(--black-900);
}
.newlyAddedBadge_aeaaeb /* "new" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--blue-new-31) 0%,
    var(--green-new-62) 102.45%
  );
}

/* "new" emoji */
.newlyAddedHighlight_fc7141 {
  border-color: var(--green-new-62);
}
.newlyAddedBadge_fc7141 {
  background-color: var(--green-new-62);

  .newlyAddedBadgeStar_fc7141,
  .text-xs_cf4812\/semibold[style*='color: white'] {
    color: var(--white-500) !important;
  }
}
.newlyAddedHighlightContainer_fc7141:hover {
  .newlyAddedHighlight_fc7141 {
    border-color: hsla(var(--green-new-55-hsl) / 0.5);
  }
  .newlyAddedBadge_fc7141 {
    background-color: hsla(var(--green-new-55-hsl) / 0.5);
  }
}

.upsellContainerShadow__0b69f {
  filter: drop-shadow(0 0 10px hsl(var(--twitch-secondary-hsl) / 0.5));
}

/*
 * "View as role" bar
 */
.notice_c9e42f {
  color: var(--black-500);

  .button_c9e42f {
    border-color: currentColor !important;
    color: currentColor !important;
  }
}

/*
 * "preview mode" bar
 */
.notice_c5cd6a {
  color: var(--black-500);

  .header_c5cd6a {
    color: currentColor !important;
  }
  .button_c5cd6a {
    border-color: currentColor !important;
    color: currentColor !important;
  }
}

/*
 * "Boost goal" bar
 */
.progress__0d0f9 {
  background: linear-gradient(
    270deg,
    hsl(var(--nord-pink-hsl) / 0.7),
    hsl(var(--neutral-45-hsl) / 0.1)
  );
}
.container__0d0f9:hover .progress__0d0f9 {
  background: linear-gradient(
    270deg,
    var(--nord-pink),
    hsl(var(--neutral-45-hsl) / 0.25)
  );
}
.theme-dark .text__0d0f9 {
  color: var(--white);
}
.boostCountText__0d0f9 {
  opacity: 0.8;
}

/*
 * > Members > (selected some)
 */
.messageContainer__7796e path[fill='#{discord.$primary-500-hex}'] {
  fill: var(--neutral-36);
}
