/*
 * "new" badge
 */
.newChannel__599fa, /* Sidebar left > new channel tag */
.newBadgeText__29021, /* Event (popup) */
.title__0396e .textBadge__2b1f5[style="background-color: var(--bg-brand);"], /* Event (popup) > Create new (step 2) */
.newBadge__270d7, /* Browse Channels (navbar) */ // ? Not sure
.titleBadge_e4503a, /* Browse Channels */
.newBadge__5d7c9, /* Channels & Roles > Customise */
.textBadge__2b1f5[style*='background-color: var(--bg-brand);'] /* ! Context menu */ {
  color: var(--brand-900);
}

/*
 * Server badge (partner, house and verified)
 */
.flowerStarContainer__3e3b0 .flowerStar__3e3b0 path[fill='var(--primary-500)'] {
  fill: var(--white);
}
.flowerStarContainer__3e3b0
  .childContainer__3e3b0
  path[fill='var(--white-400)'] {
  fill: var(--black-500);
}

.flowerStar__3e3b0 path[fill='url(#bf28dbaa-eff0-424f-b25b-646f0eacee7a)'] {
  fill: var(--guild-boosting-pink);
}

.tooltipPremiumFooterContainer__7d7fe {
  background: var(--guild-boosting-pink);

  .text-xs\/semibold_cf4812[style*='color: white'] {
    color: var(--black-500) !important;
  }
  .gemIcon__7d7fe path[fill='white'] {
    fill: var(--black-500);
  }
}

/*
 * Events icons
 */
.eventStatusContainer__29021 {
  path[fill='#{$blurple-28-hex}'] /** + (popup) > Create new (step 3) */ {
    fill: var(--blurple-49);
  }
  path[fill='#{$green-330-hex}'] {
    fill: var(--green-new-62);
  }
}
.guildIcon__4591d {
  color: var(--black-500);
}

/*
 * New server settings popup
 */
.upsellTooltipWrapper__675aa {
  .upsellTooltipHeader__675aa,
  .upsellTooltipText__675aa {
    color: var(--black-500) !important;
  }
}

/*
 * "Emoji Picker"
 */
.badgeLabel_aeaaeb /* (label when over "popular" or "new") */ {
  & > .newlyAddedBadgeIcon_aeaaeb,
  & > .text-sm\/semibold_cf4812[style*='color: white'] {
    color: currentColor !important;
  }
}

.topGuildEmojiBadge_aeaaeb /* "popular" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--red-new-61) 0%,
    var(--orange-new-63) 102.45%
  );
  color: var(--black-900);
}

/* "new" emoji */
.newlyAddedHighlight_fc7141 {
  border-color: var(--green-new-62);
}
.newlyAddedBadge_fc7141 {
  background-color: var(--green-new-62);

  .newlyAddedBadgeStar_fc7141,
  .text-xs\/semibold_cf4812[style*='color: white'] {
    color: var(--black-500) !important;
  }
}
.newlyAddedHighlightContainer_fc7141:hover {
  .newlyAddedHighlight_fc7141 {
    border-color: var(--button-positive-background-hover);
  }
  .newlyAddedBadge_fc7141 {
    background-color: var(--button-positive-background-hover);
  }
}
.newlyAddedBadge_aeaaeb /* (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--blue-new-31) 0%,
    var(--green-new-62) 102.45%
  );
}

.nitroTopDividerLockCircle_b3fb5f path[fill='white'] {
  fill: var(--black-500);
}
.upsellContainerShadow__0b69f {
  filter: drop-shadow(0 0 10px hsl(var(--twitch-secondary-hsl) / 0.5));
}

/*
 * "View as role" bar
 */
.notice_c9e42f {
  color: var(--black-500);

  .button_c9e42f {
    border-color: currentColor !important;
    color: currentColor !important;
  }
}
