/** Sidebar left > new channel tag */
.newChannel-3q3LPr {
  background-color: var(--brand-260) !important;
  color: var(--brand-900);
}

/** discord partner badge */
.icon-3BYlXK {
  color: var(--black-500);
}

/** boosted server badge */
.iconBackgroundTierNone-3M21Zn,
.iconBackgroundTierOne-1S68CI,
.iconBackgroundTierThree-2hfNBO,
.iconBackgroundTierTwo-2XoNXD {
  color: var(--primary-500) !important;
}

/*
 * Popup "Stop @everyone spam"
 ? TODO: check utility
 */
.ping-2J18Tq {
  content: url(svg('server/ping.svg'));
}

.checklistIcon-S-7rG0 circle[fill='var(--white-100)'] {
  fill: var(--black-500);
}

/*
 * Modified settings
 *   Server settings
 *   Channel settings
 */
.container-20TyK0[style*='background-color: rgb(#{$primary-800-rgb})'] {
  background-color: var(--background-floating) !important;
}

/*
 * Preview server (from discover) - hover buttons
 * Server settings > Onboarding > Check it out (step 3 > preview) - hover buttons
 */
.button-3_1yil:hover,
.button-29sJG8:hover {
  background-color: var(--brand-experiment-500);
  color: var(--black-500);
}

/*
 * Popup "Invite People"
 */
@if is_uniform() {
  .theme-dark .inviteBannerUpsell-1t_LYM {
    background-color: var(--c-background-secondary-alt2);
  }
}
