@use '../discord-color' as discord;

/*
 * "new" badge
 */
._2b1f52e43a8f1c02-textBadge[style*='background-color: var(--badge-background-default);'], /* Sidebar left > Browse Channels/Channels & Roles */
._290218226e53085c-newBadgeText, /* Event (popup) */
// .title__0396e .textBadge__2b1f5[style="background-color: var(--bg-brand)"], /* Event (popup) > Create new (step 2) */ // ? Not sure
// .newBadge__270d7, /* Browse Channels (navbar) */ // ? Not sure
// .titleBadge_e4503a, /* Browse Channels */ // ? Not sure
._5d7c9a81ac5dd074-newBadge[style*='background-color: var(--brand-260)'], /* Channels & Roles > Customise */
// .textBadge__2b1f5[style*='background-color: var(--bg-brand)'], /* ! Context menu */ // ? Not sure
.faa96b2163f6a142-newBadge[style*='background-color: var(--brand-260)'], /* ! Forum (list)  */
._9a337c84ff86a914-newBadge[style*='background-color: var(--brand-260)'] /* ! Forum (gallery)  */ {
  color: var(--black-500);
}

/*
 * Server badge (all except house)
 */
._85d1663d6a9fc7f6-guildIconV2Container,
.b1f768426adf64d9-rowGuildName {
  div[tabindex='0'] /* Exclude home badge */
  ._3e3b0b1c0f688f9e-childContainer
  path[fill='var(--white-400)'],
  ._3e3b0b1c0f688f9e-childContainer svg[width="13"] path[fill='var(--white-400)'] /* verified badge */ {
    fill: var(--black-500);
  }
}

/*
 * Events popup
 */
._05cdce811fa6027a-sparkleIcon {
  &[src='/assets/3a6a08a976f34e04.svg'] {
    content: url(svg('server/channel/stage/star.svg'));
  }
  &[src='/assets/30d1720360dd2c40.svg'] {
    content: url(svg('server/channel/stage/cross.svg'));
  }
}

._290218226e53085c-eventStatusContainer {
  path[fill='#{discord.$blurple-26-hex}'] /** + (popup) > Create new (step 3) */ {
    fill: var(--blurple-49);
  }
  path[fill='#{discord.$green-new-25-hex}'] {
    fill: var(--green-new-25);
  }
}
._4591d8bfef72d059-guildIcon {
  color: var(--black-500);
}

/*
 * "Emoji Picker"
 */
.aeaaeb2a573807f0-badgeLabel /* (label when over "popular" or "new") */ {
  & > .aeaaeb2a573807f0-newlyAddedBadgeIcon,
  & > .cf48127484dbde85-text-sm\/semibold[style*='color: white'] {
    color: currentColor !important;
  }
}

.aeaaeb2a573807f0-topGuildEmojiBadge /* "popular" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--red-new-61) 0%,
    var(--orange-new-63) 102.45%
  );
  color: var(--black-900);
}
.aeaaeb2a573807f0-newlyAddedBadge /* "new" label (hover) */ {
  background: linear-gradient(
    268.26deg,
    var(--blue-new-31) 0%,
    var(--green-new-62) 102.45%
  );
}

/* "new" emoji */
.fc7141859aaa98b7-newlyAddedHighlight {
  border-color: var(--green-new-62);
}
.fc7141859aaa98b7-newlyAddedBadge {
  background-color: var(--green-new-62);

  .fc7141859aaa98b7-newlyAddedBadgeStar,
  .cf48127484dbde85-text-xs\/semibold[style*='color: white'] {
    color: var(--white-500) !important;
  }
}
.fc7141859aaa98b7-newlyAddedHighlightContainer:hover {
  .fc7141859aaa98b7-newlyAddedHighlight {
    border-color: hsla(var(--green-new-55-hsl) / 0.5);
  }
  .fc7141859aaa98b7-newlyAddedBadge {
    background-color: hsla(var(--green-new-55-hsl) / 0.5);
  }
}

._0b69f200eb3bf411-upsellContainerShadow {
  filter: drop-shadow(0 0 10px hsl(var(--twitch-secondary-hsl) / 0.5));
}

/*
 * "View as role" bar
 */
.c9e42fe11bb9448d-notice {
  color: var(--black-500);

  .c9e42fe11bb9448d-button {
    border-color: currentColor !important;
    color: currentColor !important;
  }
}

/*
 * "Boost goal" bar
 */
._0d0f9ddd12a3ace3-progress {
  background: linear-gradient(
    270deg,
    hsl(var(--nord-pink-hsl) / 0.7),
    hsl(var(--neutral-45-hsl) / 0.1)
  );
}
._0d0f9ddd12a3ace3-container:hover ._0d0f9ddd12a3ace3-progress {
  background: linear-gradient(
    270deg,
    var(--nord-pink),
    hsl(var(--neutral-45-hsl) / 0.25)
  );
}
.theme-dark ._0d0f9ddd12a3ace3-text {
  color: var(--white);
}
._0d0f9ddd12a3ace3-boostCountText {
  opacity: 0.8;
}
