/*
 * > [app]
 */
.premiumIcon__2b16f[src='/assets/0a7531c7a7a37dc8ac1b.svg'] {
  content: url(svg('server/app-directory/dollar.svg'));
}

/*
 * >> "premium" tab (subscribe btn)
 */
.button_f9cb38 {
  color: var(--primary-700) !important;
}

/*
 * > [app] > add to server
 */
.scopeIcon__68826 .icon_d5f2cc {
  color: var(--black-500);
}

.headerSuccess__45334 {
  background-image: url(svg('server/app-directory/success.svg'));
}
