.directoryModal-YJsOMv {
  background-color: var(--background-primary) !important;
}

/*
 * > [app]
 */
.premiumIcon-3uw5J0[src='/assets/61550500acf9704ea60d48d688f07f08.svg'] {
  content: url(svg('server/app-directory/dollar.svg'));
}

/*
 * >> "premium" tab
 */
.button-35nmN9 {
  color: var(--primary-dark-700);
}

/*
 * > [app] > add to server
 */
.scopeCheck-3trytX {
  color: var(--black-500);
}

.headerSuccess-3n55Ht {
  background-image: url(svg('server/app-directory/success.svg'));
}
