/*
 * > [app]
 */
.premiumIcon_a1eac2[src='/assets/45485d7fb82075646f32.svg'] {
  content: url(svg('server/app-directory/dollar.svg'));
}

/*
 * > [app] > "Add App" popup
 */
.scopeIcon_cf14a8 .icon_cf14a8 {
  color: var(--black-500);
}

.headerSuccess_e1a4cf {
  background-image: url(svg('server/app-directory/success.svg'));
}
