.header__6fd0e {
  background: center 15%/90% auto url(svg('server/boost/sparks.svg')) no-repeat,
    linear-gradient(
      359.37deg,
      rgba(0, 0, 0, 0.5) 12.68%,
      hsla(0, 0%, 100%, 0) 50.4%
    ),
    linear-gradient(
      159.15deg,
      var(--premium-tier-0-header-gradient-1) 8.49%,
      var(--premium-tier-0-header-gradient-2) 32.21%,
      var(--premium-tier-0-header-gradient-3) 42.9%,
      var(--premium-tier-0-header-gradient-4) 66.06%,
      var(--premium-tier-0-header-gradient-5) 71.4%
    );

  .heading__6fd0e,
  .guildName_f9f04c {
    color: var(--white-500) !important;
  }
}

.guildBoostCountWrapper_f9f04c,
.progressBarMarkerUnlocked__1f1cb .boostedTierIcon__1f1cb,
.progressBarMarkerLabel__1f1cb {
  color: var(--white);
}

.guildBoostCtaBoostContent_f9f04c {
  color: var(--blurple-87);
}

/*
 * >* Cards
 */
.tierCardCurrentTier_be48d0, /* ("curent" badge) + >* level up server */
.recommendedTierHighlightTag__686cf /* >* level up server ("recommended" badge) */ {
  background: var(--guild-boosting-purple);
  color: var(--black-500) !important;
}

.tierCardNewFeatureBadge_be48d0 {
  background: var(--white-500);
  color: var(--black-500);
}

// Text
.tierCardBoostRequirement_be48d0,
.tierCardHeading_be48d0,
.tierCardListItem_be48d0 {
  color: var(--black-500) !important;
}

.tierCardListIcon_be48d0 path[fill='var(--white)'] {
  fill: currentColor;
}
