.header_b9d0dd {
  background: center 15%/90% auto url(svg('server/boost/sparks.svg')) no-repeat,
    linear-gradient(
      359.37deg,
      rgba(0, 0, 0, 0.5) 12.68%,
      hsla(0, 0%, 100%, 0) 50.4%
    ),
    linear-gradient(
      159.15deg,
      var(--premium-tier-0-header-gradient-1) 8.49%,
      var(--premium-tier-0-header-gradient-2) 32.21%,
      var(--premium-tier-0-header-gradient-3) 62.9%,
      var(--premium-tier-0-header-gradient-4) 86.06%,
      var(--premium-tier-0-header-gradient-5) 91.4%
    );

  .heading__388a7,
  .guildName__488eb {
    color: var(--white-500) !important;
  }
}

.guildBoostCountWrapper__98177 {
  color: var(--white-100);
}

.guildBoostCtaBoostContent__2b1fb {
  color: var(--brand-800);
}

/*
 * >* Cards
 */
.tierCardCurrentTier__633bb, /* ("curent" badge) + >* level up server */
.recommendedTierHighlightTag_bac630 /* >* level up server ("recommended" badge) */ {
  background: var(--guild-boosting-purple);
  color: var(--black-500) !important;
}

.tierCardNewFeatureBadge__7b154 {
  background: var(--white-500);
  color: var(--black-500);
}

// Text
.tierCardBoostRequirement_b8c8fd {
  color: var(--primary-800) !important;
}
.tierCardHeading__27545,
.tierCardListItem_cdf44a {
  color: var(--primary-700) !important;
}

.tierCardListIcon_f1ff24 {
  circle[fill='white'],
  rect[fill='white'] {
    fill: currentColor;
  }
}
