.tierMarkerAccomplished-1SkbEJ[style*='background: rgb(#{$guild-boosting-pink-rgb})'] {
  background-color: var(--guild-boosting-pink) !important;

  .currentTierIcon-2rq-bv {
    color: var(--black-500);
  }
}

.tierUnlocked-1yG5Ic {
  color: var(--brand-new-800) !important;
}
