.theme-light ._5c9fcec194debbe7-root {
  ._6fd0e42f91edfda6-closeIconWrapper {
    mix-blend-mode: normal;
  }

  .c2b141c0f80863fb-closeButton,
  .c2b141c0f80863fb-keybind {
    color: var(--neutral-8);
  }
}

._6fd0e42f91edfda6-header {
  background: center 15%/90% auto url(svg('server/boost/sparks.svg')) no-repeat,
    linear-gradient(
      359.37deg,
      rgba(0, 0, 0, 0.5) 12.68%,
      hsla(0, 0%, 100%, 0) 50.4%
    ),
    linear-gradient(
      159.15deg,
      var(--premium-tier-0-header-gradient-1) 8.49%,
      var(--premium-tier-0-header-gradient-2) 32.21%,
      var(--premium-tier-0-header-gradient-3) 42.9%,
      var(--premium-tier-0-header-gradient-4) 66.06%,
      var(--premium-tier-0-header-gradient-5) 71.4%
    );

  ._6fd0e42f91edfda6-heading,
  .f9f04c96ff5e7a45-guildName {
    color: var(--white-500) !important;
  }
}

.f9f04c96ff5e7a45-guildBoostCountWrapper,
._1f1cb76e4e3b2f9e-progressBarMarkerUnlocked ._1f1cb76e4e3b2f9e-boostedTierIcon,
._1f1cb76e4e3b2f9e-progressBarMarkerLabel {
  color: var(--white);
}

.f9f04c96ff5e7a45-guildBoostCtaBoostContent {
  color: var(--blurple-87);
}

.roleStyleUpsellButtonContents__981c8 path[fill='white'] /* ! server settings > People > Role (edit) */ {
  fill: var(--black-500);
}

/*
 * >* Cards
 */
.be48d0ea9c89668f-tierCardCurrentTier, /* ("curent" badge) + >* level up server */
._686cf09df72934da-recommendedTierHighlightTag /* >* level up server ("recommended" badge) */ {
  background: var(--guild-boosting-purple);
  color: var(--black-500) !important;
}

// Text
.be48d0ea9c89668f-tierCardHeading,
.be48d0ea9c89668f-tierCardBoostRequirement,
.be48d0ea9c89668f-tierCardListItem {
  color: var(--white) !important;
}

.be48d0ea9c89668f-tierCardListIcon path[fill='var(--white)'] {
  fill: currentColor;
}

// "new" tag
.be48d0ea9c89668f-tierCardNewFeatureBadge {
  background: var(--white);
  color: var(--black-500);
}

.bb1234f41db08c20-sparkle.bb1234f41db08c20-sparkleStarTopRight {
  color: var(--nord-turquoise) !important;
}
.bb1234f41db08c20-sparkle.bb1234f41db08c20-sparkleStarRight {
  color: var(--nord-pink) !important;
}
