.bd-modal-wrapper .bd-modal-body,
.bd-modal-wrapper .header {
  background-color: var(--background-floating) !important;
}

/**
 * Plugin PinDM
 */
.pinnedChannelsHeaderContainer-89Gjv4 .headerAmount-_-7GrS {
  background-color: var(--interactive-muted);
}

/**
 * Plugin StatusEveryWhere
 */
/* Online */
.avatarWrapper[style='--status-color:#3BA55D;'] {
  --status-color: var(--status-online) !important;
}

/* Offline */
.avatarWrapper[style='--status-color:#747F8D;'] {
  --status-color: var(--status-offline) !important;
}

/* Idle */
.avatarWrapper[style='--status-color:#FAA81A;'] {
  --status-color: var(--status-idle) !important;
}

/* DND */
.avatarWrapper[style='--status-color:#ED4245;'] {
  --status-color: var(--status-dnd) !important;
}

/* Stream */
.avatarWrapper[style='--status-color:#593695;'] {
  --status-color: var(--status-stream) !important;
}
