/**
 * Button
 */
/* guild permission */
.passthrough-fbdFR.selected-3jieYB {
  color: var(--text-normal);
}

.allow-1h61-Z {
  color: var(--nord-green);
}

.deny-1GO6vI {
  color: var(--nord-red);
}

/* Grey/Primary */
.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.iconWrapper-2_MXbk,
.colorable-3rVGna.primaryDark-3mSFDl {
  background-color: var(--button-grey) !important;
  color: var(--button-grey-text) !important;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.iconWrapper-2_MXbk:hover,
.colorable-3rVGna.primaryDark-3mSFDl:hover {
  background-color: var(--button-grey-hover) !important;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B:active,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
.iconWrapper-2_MXbk:active,
.colorable-3rVGna.primaryDark-3mSFDl:active {
  background-color: var(--button-grey-active) !important;
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo,
.watchButton-2YRKxv /* Preview popout */ {
  color: var(--text-normal) !important;
  border-color: var(--text-normal) !important;
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover,
.watchButton-2YRKxv:hover /* Stream popout */ {
  background-color: var(--background-modifier-hover) !important;
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:active,
.watchButton-2YRKxv:active /* Stream popout */ {
  background-color: var(--background-modifier-active) !important;
}
.lookGhost-2Fn_0-.colorGrey-2iAG-B {
  color: var(--button-grey-ghost-text);
  background-color: var(--button-grey-ghost);
}
.lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--text-normal) !important;
}

/* Brand (primary now) */
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS,
.datePicker--70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
  background-color: var(--button-primary) !important;
  color: var(--button-primary-text) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover,
.datePicker--70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
  background-color: var(--button-primary-hover) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:active,
.datePicker--70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:active {
  background-color: var(--button-primary-active) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
  background-color: var(--button-primary-disabled);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
  border-color: var(--button-primary);
  color: var(--button-primary);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover {
  border-color: var(--button-primary-hover);
  color: var(--button-primary-hover);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:active {
  border-color: var(--button-primary-active);
  background-color: var(--button-primary-active-outlined);
  color: var(--button-primary);
}
.lookGhost-2Fn_0-.colorBrand-I6CyqQ {
  color: var(--button-primary-ghost-text);
  background-color: var(--button-primary-ghost);
}
.lookGhost-2Fn_0-.colorBrand-I6CyqQ:hover {
  background-color: var(--button-primary-ghost-hover);
}
.lookGhost-2Fn_0-.colorBrand-I6CyqQ:active {
  background-color: var(--button-primary-ghost-active);
}
.lookLink-15mFoz.colorBrand-I6CyqQ {
  color: var(--nord-primary);
}

/* Red */
.lookFilled-yCfaCM.colorRed-rQXKgM,
.colorable-3rVGna.red-3T8maV,
.filled-2zYazI, /* remove button */
.deny-1GO6vI.selected-3jieYB /* guild permission */ {
  background-color: var(--button-red);
  color: var(--button-red-text);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.colorable-3rVGna.red-3T8maV:hover,
.filled-2zYazI:hover /* remove button */ {
  background-color: var(--button-red-hover);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:active,
.colorable-3rVGna.red-3T8maV:active,
.filled-2zYazI:active /* remove button */ {
  background-color: var(--button-red-active);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:disabled {
  background-color: var(--button-red-disabled);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  border-color: var(--button-red);
  color: var(--button-red);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
  border-color: var(--button-red-hover);
  color: var(--button-red-hover);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:active {
  border-color: var(--button-red-active);
  background-color: var(--button-red-active-outlined);
  color: var(--button-red);
}
.lookLink-15mFoz.colorRed-rQXKgM,
.side-2ur1Qk .item-3XjbnG[style*='color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)'],
.actionButton-3-B2x-.actionDeny-1pQVuZ:hover /* Friends request */ {
  color: var(--button-red) !important;
}
.lookLink-15mFoz.colorRed-rQXKgM:hover .contents-18-Yxp {
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--button-red) 0,
    var(--button-red) 2px,
    transparent 0
  );
}
.side-2ur1Qk .item-3XjbnG[style*='background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)'] {
  background-color: var(--button-red) !important;
  color: var(--button-red-text) !important;
}

/* Green */
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.tabBar-ra-EuL .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="false"],
.circleIconButton-1VxDrg:hover,
.circleIconButton-1VxDrg.selected-2r1Hvo,
.colorable-3rVGna.green-plH-Mj,
.allow-1h61-Z.selected-3jieYB, /* guild permission */
.iconContainer-6xlTpK,
.iconContainer-3LclNk {
  background-color: var(--button-green) !important;
  color: var(--button-green-text) !important;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover,
.tabBar-ra-EuL
  .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="false"]:hover,
.circleIconButton-1VxDrg:active,
.colorable-3rVGna.green-plH-Mj:hover {
  background-color: var(--button-green-hover) !important;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:active,
.tabBar-ra-EuL
  .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="false"]:active {
  background-color: var(--button-green-active) !important;
}
.lookOutlined-3yKVGo.colorGreen-3y-Z79,
.colorable-3rVGna.green-plH-Mj:active {
  color: var(--button-green);
  border-color: var(--button-green);
}
.lookGhost-2Fn_0-.colorGreen-3y-Z79,
.tabBar-ra-EuL .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="true"]:hover {
  color: var(--button-green-ghost-text) !important;
  background-color: var(--button-green-ghost) !important;
}
.lookGhost-2Fn_0-.colorGreen-3y-Z79:hover,
.tabBar-ra-EuL .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="true"]:active {
  background-color: var(--button-green-ghost-hover) !important;
}
.lookGhost-2Fn_0-.colorGreen-3y-Z79:active {
  background-color: var(--button-green-ghost-active) !important;
}
.actionButton-3-B2x-.actionAccept-2nmnLv:hover, /* friends request */
.tabBar-ra-EuL .item-3mHhwr[style*='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'][aria-selected="true"] {
  color: var(--button-green) !important;
}
.lookInverted-2mDUMi.colorGreen-29iAKY {
  background-color: var(--nord-light5);
  color: var(--nord-green);
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.tierUnlocked-1yG5Ic, /* server boost */
.upsellButtonPrimary-1OnWlC,
.upsellButtonPrimary-1OnWlC+button {
  background-color: var(--button-primary-text) !important;
  color: var(--button-primary) !important;
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover,
.upsellButtonPrimary-1OnWlC:hover, /* server boost */
.upsellButtonPrimary-1OnWlC+button:hover {
  background-color: var(--nord-black2) !important;
}


/* White */
.colorable-3rVGna.white-11auuQ,
.lookFilled-yCfaCM.colorWhite-1H92hK {
  background-color: var(--button-white);
  color: var(--button-white-text);
}
.colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi {
  color: var(--button-white-text);
}
.colorable-3rVGna.white-11auuQ:hover,
.lookFilled-yCfaCM.colorWhite-1H92hK:hover {
  background-color: var(--button-white-hover);
}
.colorable-3rVGna.white-11auuQ:active {
  background-color: var(--button-white-active);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK,
.lookFilled-yCfaCM.colorWhite-1H92hK:active {
  border-color: var(--button-white);
  color: var(--button-white);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK:hover {
  border-color: var(--button-white-hover);
  color: var(--button-white-hover);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK:active {
  border-color: var(--button-white-active);
  background-color: var(--button-white-outlined);
  color: var(--button-white);
}
