.copyInputSuccess-3ALwde, /* guild invite */
.input-2g-os5.success-3HR983 {
  border-color: var(--button-positive-background);
}

.input-2g-os5.error-8r7mjf {
  border-color: var(--button-red);
}

.submitText-Kp_2uE {
  color: var(--text-primary-background);
}

.colorPickerCustom-1swUKF {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary) !important;
}

/* field star */
.required---V9PF {
  color: var(--nord-red);
}

/* Keybind input */
.container-1_EVMa:not(.disabled-3S7pz8):focus-within,
.container-1_EVMa:not(.disabled-3S7pz8):hover {
  border-color: rgba(191, 97, 106, 0.3);
}
.container-1_EVMa.recording-3ny5_E .input-3MU9bJ {
  color: var(--text-danger);
}

/**
 * Checkbox / Radio
 */
.colorDefault-CDqZd0 .checkbox-hADx5o,
.colorDefault-CDqZd0 .radioSelection-1UHp0b {
  color: var(--nord-primary);
}

.checkbox-f1HnKB:not([style*='border-color: var(--control-brand-foreground);']) {
  border-color: var(--text-muted) !important;
}
.checkbox-f1HnKB[style*='background-color: var(--brand-experiment-500);'] {
  border-color: var(--button-brand-background) !important;
  background-color: var(--button-brand-background) !important;
}
.checkbox-f1HnKB path[fill='hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)'], /* Edit attachment */
.checkbox-f1HnKB path[fill='hsl(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%)'] /* create DM group */ {
  fill: var(--button-brand-background) !important;
}

.checked-1pZh2h[style*='background-color: var(--brand-experiment-500);']
  path[fill='hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%)'] {
  fill: var(--button-brand-text) !important;
}

/* Notification settings */
.checkbox-f1HnKB path[fill='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  fill: var(--text-positive) !important;
}
.checked-1pZh2h[style*='background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);'] {
  border-color: var(--button-positive-background);
  background-color: var(--button-positive-background);
}
.checked-1pZh2h[style*='background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);']
  path[fill='hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%)'] {
  fill: var(--button-positive-text) !important;
}

/**
 * Checkbox (slider)
 */
.container-2nx-BQ[style*='background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)'] {
  background-color: var(--button-secondary-background) !important;
}
.slider-32CRPX > rect {
  fill: var(--nord-light1);
}
.slider-32CRPX path[fill='background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)'] {
  fill: var(--button-secondary-background);
}

.container-2nx-BQ[style*='background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  background-color: var(--button-brand-background) !important;
}
.container-2nx-BQ[style*='background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)']
  .slider-32CRPX
  > rect {
  fill: var(--button-brand-text);
}
.slider-32CRPX path[fill='hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  fill: var(--button-brand-background);
}

/**
 * Slider
 */
.bar-1Bhnl9:not(.sliderBar-3DezvM),
.progress-1S-TDF /* Mic test */ {
  background-color: var(--background-slider) !important;
}

.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
  background-color: var(--nord-green);
}

.markDash-yk2kJ- {
  background-color: var(--interactive-muted) !important;
}

/**
 * Search box
 */
.search-25t1e9 .searchBox-31Zv9h {
  background-color: var(--background-primary) !important;
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
  color: var(--text-normal) !important;
}
.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0,
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder,
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL {
  color: var(--text-muted) !important;
}

.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0:hover {
  color: var(--text-searchbox-close) !important;
}

.search-25t1e9 .searchBox-31Zv9h:focus,
.search-25t1e9 .searchBox-31Zv9h:focus-within {
  box-shadow: 0 0 0 2.2px var(--nord-primary);
  border-color: transparent;
}
