/**
 * Servers list
 */
.circleIconButton-1VxDrg {
  color: var(--nord-green);
}

.iconBadge-32fMme.participating-2Z81oO {
  background-color: var(--button-green);
  color: var(--button-green-text);
}

.guildsError-YJjW3A {
  border-color: var(--button-red) !important;
}

.guildsError-YJjW3A:hover {
  background-color: var(--button-red);
  color: var(--button-red-text);
}

/**
 * Goal
 */
.progressBarContainer-2E4oR- {
  background-color: var(--background-slider) !important;
}

/**
 * Channel
 */
.modeUnread-3Cxepe .channelName-3KPsGw {
  color: var(--interactive-active));
  font-weight: 700;
}

/* Unread */
.divider-2rZFJK {
  --divider-color: var(--nord-red);
}

/**
 * Message
 */
/* mention */
.wrapper-1ZcZW-:not([style*='color']) {
  color: var(--text-mention) !important;
  background-color: var(--background-mention) !important;
}
.message-2CShn3:not(.mentioned-Tre-dv) .wrapper-1ZcZW-:not([style*='color']):hover {
  color: var(--text-mention-hover);
  background-color: var(--background-mention-hover);
}
.message-2CShn3.mentioned-Tre-dv .mention:hover {
  text-decoration: underline;
}

/* Spoiler */
.spoilerText-27bIiA {
  background-color: var(--background-accent) !important;
}

.spoilerText-27bIiA.hidden-3B-Rum {
  background-color: var(--background-tertiary) !important;
}

/* Mentioned */
.mentioned-Tre-dv:before {
  background-color: var(--text-brand);
}

.mentioned-Tre-dv .mention.interactive:hover {
  color: var(--text-mention) !important;
}

.mentioned-Tre-dv.compact-T3H92H .timestamp-p1Df1m,
.mentioned-Tre-dv.cozy-VmLDNB .timestamp-p1Df1m.alt-1uNpEt {
  color: var(--mentioned-timestamp);
}

/**
 * Reaction
 */
.reactionCount-1zkLcN {
  color: var(--reaction-count);
}

.reaction-2A2y9y.reactionMe-3I9gFK {
  background-color: var(--reaction-me);
}

.reactionMe-3I9gFK .reactionCount-1zkLcN,
.reaction-2A2y9y:hover .reactionCount-1zkLcN {
  color: var(--reaction-hover);
}

/**
 * Ephemeral/Replying
 */
.ephemeral-2nDdnn,
.replying-eZ7p5z {
  background-color: var(--background-ephemeral);
}

.message-2CShn3.ephemeral-2nDdnn.selected-2LX7Jy,
.message-2CShn3.replying-eZ7p5z.selected-2LX7Jy,
.mouse-mode.full-motion .ephemeral-2nDdnn:hover,
.mouse-mode.full-motion .replying-eZ7p5z:hover {
  background-color: var(--background-ephemeral-hover);
}

.ephemeral-2nDdnn::before,
.replying-eZ7p5z::before {
  background-color: var(--message-ephemeral);
}

/**
 * Message bars
 */
/* Unread */
.newMessagesBar-1hF-9G .barButtonBase-Sk2mdB {
  color: var(--button-primary-text);
}

/**
 * Voice
 */
.border-2BJQjd.speaking-3RWJBr /* DM */ {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px var(--background-floating);
}
.border-2Vy6FN.speaking-7QZEkv /* full screen */ {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px #000000;
}

.avatarSpeaking-2pCGrZ /* List */ {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px var(--background-secondary);
}
.avatarSpeaking-33RRJU /* Self */ {
  box-shadow: inset 0 0 0 2px var(--nord-green), inset 0 0 0 3px var(--background-secondary-alt);
}

/**
 * Send file
 */
/* Spoil */
.actionBarIcon-3IdPoi rect[fill='hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)'] {
  fill: var(--nord-red) !important;
}

.altTag-2Bi3uP {
  background-color: var(--background-floating);
  color: var(--text-normal);
}
