::selection {
  background-color: var(--background-selection);
}

.highlight {
  background-color: var(--highlight);
}

.pageWrapper-2PwDoS,
.container-2cd8Mz {
  background-color: var(--background-primary) !important;
  color: var(--text-normal) !important;
}

/**
 * Text
 */
/* Primary */
.colorBrand-3cPPsm {
  color: var(--nord-primary);
}

/* Green */
.colorStatusGreen-2HKYOW,
.pro-3GwLMX[style*='color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'],
.unlocked-Vc8qg9, /* .server boost */
.description-1EvxpH.success-t0oxXf,
.eventStatusGreen-2-f2N8 /* Event detail */ {
  color: var(--nord-green) !important;
}

/* Red */
.colorDanger-3n-KnP,
.colorDanger-3n-KnP:not(.focused-3qFvc8) .checkbox-hADx5o,
.colorDanger-3n-KnP .radioSelection-1UHp0b,
.warning-2DeIgm, /* .server settings */
.doesNot-21xPGK,
.container-YkUktl .redIcon-1ppjsM,
.pruneLink-jE0uo7, /* server member */
.iconServer-GeSR0b, /* voice mute/deaf icons */
.error-1SecXe, /* Command argument */
.error-29IZEE /* Command arg err reason */ {
  color: var(--nord-red) !important;
}

/**
 * Channel header
 */
.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--background-channel-header);
}

.children-3xh0VB::after {
  background: var(--background-channel-header-gradient) !important;
}

.selected-29KTGM .icon-2xnN2Y {
  color: var(--nord-primary) !important;
}

/* self mute */
.strikethrough-2Kl6HF {
  color: var(--nord-red);
}

.activeCircle-3yNg6t {
  background-color: var(--nord-primary);
  color: var(--text-primary-background);
}

/**
 * Friends
 */
.outer-2JOHae.active-1W_Gl9,
.outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--background-accent) !important;
}

.inset-SbsSFp {
  background-color: var(--background-friends-activity) !important;
}

/**
  * Tooltip
  */
/* Primary */
.tooltipBrand-20XsMA {
  background-color: var(--nord-primary) !important;
}
.tooltipBrand-20XsMA .tooltipPointer-3L49xb {
  border-top-color: var(--nord-primary) !important;
}

/* Black */
.tooltipBlack-vMYxvw {
  background-color: var(--nord-black3) !important;
}
.tooltipBlack-vMYxvw .tooltipPointer-3L49xb {
  border-top-color: var(--nord-black3) !important;
}

/* Green */
.tooltipGreen-oouJdx {
  background-color: var(--nord-green) !important;
}
.tooltipGreen-oouJdx .tooltipPointer-3L49xb {
  border-top-color: var(--nord-green) !important;
}

/* Red */
.tooltipRed-2z14Wl {
  background-color: var(--nord-red) !important;
}
.tooltipRed-2z14Wl .tooltipPointer-3L49xb {
  border-top-color: var(--nord-red) !important;
}

/* Yellow */
.tooltipYellow-3a3Cmr {
  background-color: var(--nord-orange) !important;
}
.tooltipYellow-3a3Cmr .tooltipPointer-3L49xb {
  border-top-color: var(--nord-orange) !important;
}

/**
 * Changelog
 */
.fixed-cTX7Hp {
  color: var(--text-danger);
}

.fixed-cTX7Hp::after {
  background-color: var(--info-danger-foreground);
}

.improved-2SJXHz {
  color: var(--nord-primary) !important;
}

.improved-2SJXHz::after {
  background-color: var(--nord-primary) !important;
}

/**
 * Streamer bar
 */
.colorStreamerMode-8uoRWd {
  background-color: var(--nord-pink);
  color: var(--nord-light5);
}

.button-1iHNQ2 {
  border-color: var(--nord-light5) !important;
}
