/**
 * Hover actions
 */
.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--nord-primary);
  color: var(--text-primary-background);
}

.colorDefault-CDqZdO:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--button-primary-active);
}

.colorDefault-CDqZdO.focused-3qFvc8 .check-1JyqgN {
  color: var(--text-primary-background);
}

.colorDanger-3n-KnP.focused-3qFvc8 {
  background-color: var(--button-red);
  color: var(--button-red-text) !important;
}

.colorDanger-CDqZdO.focused-3qFvc8 .check-1JyqgN {
  color: var(--button-red-text) !important;
}

/**
 * Modal
 */
.root-g14mjS:not(.modal-qgFCbT),
.addGamePopout-3yePJc,
.container-KM8BU6, /* .Reaction */
.reactors-1VXca7,
.contentWrapper-3oy4Xo, /* Join server */
.streamPreview-3qoMP4 /* Stream popout */ {
  background-color: var(--background-floating) !important;
}

.footer-31IekZ,
.footer-VCsJQY,
.scroller-2GkvCq,
.previewContainer-21fFBz, /* .Stream popout */
.optionContainer-yOpaLq {
  background-color: var(--background-secondary-alt) !important;
}

/**
 * Notice
 */
.noticeRegion-qjyUVg > .elevationHigh-28Pty4[style*='background-color: rgba(32, 34, 37, 0.9)'] {
  background-color: var(--background-tertiary) !important;
}

.noticeRegion-qjyUVg > .elevationHigh-28Pty4[style*='background-color: rgba(237, 66, 69, 0.9)'] {
  background-color: var(--nord-red) !important;
}

/**
 * Search results
 */
.container-2McqkF,
.searchAnswer-23w-CH,
.searchFilter-2UfsDk {
  background-color: var(--background-floating) !important;
}

/* Header */
.queryContainer-ZunrLZ,
.resultsGroup-1BPR25 .header-3A13BX,
.resultsGroup-1BPR25 .plusIcon-2V7coV,
.resultsGroup-1BPR25 .searchClearHistory-2Be-92,
.resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
  color: var(--header-primary);
}

.queryContainer-ZunrLZ,
.option-2KkUJO[aria-selected='true'] /* Selected */ {
  background-color: var(--background-secondary-alt) !important;
}

.option-2KkUJO::after {
  background: var(--background-floating-gradient) !important;
}

.option-2KkUJO[aria-selected='true']::after {
  background: var(--background-modifier-hover-gradient) !important;
}

/**
 * Calendar picker
 */
.calendarPicker-sDhzdi .react-datepicker,
.calendarPicker-sDhzdi .react-datepicker__header {
  background-color: var(--background-floating) !important;
}

.calendarPicker-sDhzdi .react-datepicker__day--disabled,
.calendarPicker-sDhzdi .react-datepicker__day--outside-month {
  background-color: transparent !important;
  color: var(--text-muted) !important;
}

.calendarPicker-sDhzdi .react-datepicker__day {
  background-color: var(--background-primary) !important;
  border-top-color: var(--calendar-border) !important;
  border-left-color: var(--calendar-border) !important;
  color: var(--text-normal) !important;
}
.calendarPicker-sDhzdi .react-datepicker__week .react-datepicker__day:last-of-type {
  border-right-color: var(--nord-black2) !important;
}
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type .react-datepicker__day {
  border-bottom-color: var(--nord-black2) !important;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: var(--nord-primary) !important;
}
.calendarPicker-sDhzdi
  .react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month).react-datepicker__day--keyboard-selected,
.calendarPicker-sDhzdi
  .react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month).react-datepicker__day--selected:hover,
.calendarPicker-sDhzdi
  .react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month):hover {
  background-color: var(--nord-primary) !important;
  color: var(--text-primary-background) !important;
}

/**
 * Server boost
 */
.perksModal-CLcR1c,
.tierMarkerBackground-G8FoN4 {
  background-color: var(--background-primary) !important;
}

.currentTierIcon-2rq-bv,
.selectedTier-24Xj0k .tierMarkerLabelText-1wk8KK {
  color: var(--text-normal) !important;
}

.perk-19D_HN {
  background-color: var(--background-floating) !important;
}

.headerLogo-2M4f14 {
  color: var(--header-primary);
}

/**
 * Upload area
 */
.uploadArea-2uvx-B {
  color: var(--text-primary-background);
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS,
.content-1rltH5 {
  color: currentColor;
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background-color: var(--nord-red);
  color: var(--text-normal);
}

/**
 * Delete message
 */
.message-G6O-Wv {
  background-color: var(--background-secondary-alt) !important;
}

/**
 * Auto complete
 */
.autocomplete-3NRXG8 {
  background-color: var(--background-floating) !important;
}

.selected-3H3-RC {
  background-color: var(--background-secondary-alt) !important;
}

.contentTitle-3CylD3 {
  color: var(--header-secondary) !important;
}

.contentTitle-3CylD3 > strong {
  color: var(--header-primary) !important;
}

.content-Qb0rXO {
  color: var(--text-normal) !important;
}

.descriptionUsername-J_75O8 {
  color: var(--header-secondary) !important;
}

.descriptionDiscriminator-3vUOCc {
  color: var(--text-muted) !important;
}

/* Commands */
.categoryHeader-OpJ1Ly {
  background-color: var(--background-accent) !important;
}

.option-Tt7anD {
  background-color: var(--background-primary) !important;
}

/**
 * Quick select
 */
.quickSelectPopout-X1hvgV,
.popoutList-10IFAa {
  background-color: var(--background-floating) !important;
}

.quickSelectPopoutOption-opKBx9:hover,
.selectableItem-3-fmiM:hover {
  background-color: var(--background-secondary-alt) !important;
}

.selectableItem-3-fmiM {
  color: var(--text-muted);
}

.regionSelectName-c5qL8O,
.phoneFieldPopout-3O-1C3 .countryCode-geijl7 {
  color: var(--text-normal) !important;
}

/**
 * Add role/member
 */
.autocompleteArrow-jJE9TQ,
.header-3i_Csh {
  background-color: var(--background-secondary-alt) !important;
}

.container-1S70rv .sectionTag-28mLyE {
  background-color: var(--background-floating) !important;
  color: var(--interactive-muted) !important;
}

/**
 * Server notification
 */
.checkbox-f1HnKB.checked-1pZh2h {
  background-color: var(--nord-green) !important;
  border-color: var(--nord-green) !important;
}
