.selected-g-kMVV.item-3XjbnG,
.selected-g-kMVV.item-3XjbnG:hover {
  color: var(--nord-primary);
}

/**
 * Security selector
 */
.radioBar-3w9XY-[style*='--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)'] {
  border-left-color: var(--nord-green);
}

.radioBar-3w9XY-[style*='--radio-bar-accent-color:hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)'] {
  border-left-color: var(--nord-yellow);
}

.radioBar-3w9XY-[style*='--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%)'], /* user */
.radioBar-3w9XY-[style*='--radio-bar-accent-color:hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)'] /* server */ {
  border-left-color: var(--nord-orange);
}

.radioBar-3w9XY-[style*='--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)'] {
  border-left-color: var(--nord-red);
}

/**
 * Redemption redirect, video preview & keybind hover
 */
.codeRedemptionRedirect-3SBiCp {
  background-color: var(--card-settings-background) !important;
  border-color: var(--card-settings-border) !important;
  color: var(--text-normal) !important;
}

/**
 * Keybind
 */
.keybindShortcut-3zF1P9 span {
  background-color: var(--keybind-background) !important;
  color: var(--keybind-text) !important;
  box-shadow: inset 0 -4px 0 var(--keybind-shadow) !important;
}

/**
 * Game activity
 */
.notDetected-2HEmAp,
.default-1Tkeeg,
.gameNameInput-3TuPuA:focus,
.gameNameInput-3TuPuA:hover {
  background-color: var(--background-secondary) !important;
}

.default-1Tkeeg:hover {
  background-color: var(--background-secondary-alt) !important;
}

.gameName-Uw4dbt {
  color: var(--text-normal) !important;
}

.lastPlayed-3aHvxk,
.overlayStatusText-AHDYB3 {
  color: var(--text-muted) !important;
}

.nowPlaying-zBamm2 {
  background-color: var(--nord-green) !important;
}

.nowPlaying-zBamm2 .gameName-Uw4dbt {
  color: var(--header-primary) !important;
}

.nowPlaying-zBamm2 .lastPlayed-3aHvxk,
.nowPlaying-zBamm2 .overlayStatusText-AHDYB3 {
  color: var(--text-normal) !important;
}

.gameVerifiedIcon {
  fill: var(--nord-primary);
}

/**
 * Avatar
 */
.avatarUploaderInner-3UNxY3,
.avatarUploaderInnerSquareDisabled-e_U2MZ {
  background-color: var(--nord-black1);
}

/**
 * Server boost
 */
.background-3xJH_4 {
  color: var(--background-slider) !important;
}

.tierMarkerInProgress-2Tdxjz,
.barBackground-unEPD {
  background-color: var(--background-slider) !important;
}

.tierMarkerLabelPlusIcon-2zLkr7,
.tierMarkerInProgress-2Tdxjz .currentTierIcon-2rq-bv.tier3Icon-959FdD,
.foreground-3_3Pgi,
.guildBoostingIcon-35OwPQ {
  color: var(--nord-pink) !important;
}

.tierAccomplished-1I5NaT,
.tierCurrent-2nowYi,
.tierDefault-39L2SF,
.barForeground-2kwBa_,
.tierMarkerAccomplished-1SkbEJ {
  background-color: var(--nord-pink) !important;
}

.tierHeaderLocked-3ItHYn, /* server boost */
.tierHeaderLocked-30MLlO /* settings */ {
  background-color: var(--background-secondary-alt) !important;
  color: var(--text-muted) !important;
}

.tierHeaderUnlocked-2RhWqn,
.bannerUpsellContainer-31E9J5 {
  background-color: var(--background-accent) !important;
  color: var(--text-normal) !important;
}

.tierHeaderUnlocked-1IvR2R,
.wrapper-3Zq_cJ,
.progressBarFill-r3JZQ7,
.progressBar-2yl2pi /* Goal */ {
  background-image: linear-gradient(90deg, var(--nord-blue), var(--nord-pink)) !important;
}

.progressBarMarkerNextTier-1lj6AI .progressBarMarkerIndicator-2Vf_sE,
.progressBarMarkerUnlocked-2l_py0 .progressBarMarkerIndicator-2Vf_sE {
  background-image: linear-gradient(45deg, var(--nord-blue), var(--nord-pink)) !important;
}

.perksTableHighlightedColumnHeaderCopy-2DMeJr {
  background-image: linear-gradient(11deg, var(--nord-blue), var(--nord-pink)) !important;
}

.tierBody-3ju-rc,
.tierBody-1d3UiS {
  background-color: var(--background-floating) !important;
}

.tierLock-1uBqZ0, /* server boost */
.tierLock-3CSxSX /* settings */ {
  color: var(--interactive-muted) !important;
}

.circleBackgroundAlt-32_kWx {
  fill: var(--background-slider);
}

.gemWithoutLabel-1od40y {
  color: var(--text-muted) !important;
}

.gemIndicatorContainer-PqApbX {
  background-color: var(--background-secondary) !important;
}

.upsellContainer-22N_CL {
  background-image: url(https://discord.com/assets/421e9ec77829ec1e4b1dd492dfad2f8a.svg),
    linear-gradient(90deg, var(--nord-blue), var(--nord-pink)) !important;
}

.upsellButton-36YQ7c {
  color: currentColor !important;
}

/**
 * Server
 */
.typeUpdate-34INPr {
  color: var(--nord-orange);
}

.typeCreate--o_pRH {
  color: var(--nord-green);
}

.typeDelete-1AYMTg,
.cross-22YsmA,
.slash-2yrR11 /* Mic mute slash */ {
  color: var(--nord-red);
}

.overflowRolesPopout-1Puiuq,
.overflowRolesPopoutArrow-2R7g3K {
  background-color: var(--background-floating) !important;
}
