@use 'sass:math';

@function hexToHSL($color: '1') {
  $hue: math.div(math.round(hue($color) * 100), 100);
  $saturation: math.div(math.round(saturation($color) * 100), 100);
  $lightness: math.div(math.round(lightness($color) * 100), 100);

  @return unquote('#{$hue} calc(var(--saturation-factor, 1) * #{$saturation}) #{$lightness}');
}

@mixin colorVars($name, $color) {
  --#{$name}-hsl: #{$color};
  --#{$name}: hsl(var(--#{$name}-hsl) / 1);
}

@import 'nord-colors.scss';
@import 'colors.scss';
// @import 'fix-theme.scss';
@import 'variables.scss';
