.visual-refresh {
  @include colorVars('neutral-1', hexToHSL(#fcfcfd));
  @include aliasColor('neutral-2', 'nord-light3');
  @include aliasColor('neutral-4', 'nord-light2');
  @include aliasColor('neutral-6', 'neutral-4');
  @include aliasColor('neutral-8', 'nord-light1'); /*! nord color */
  @include colorVars('neutral-9', hexToHSL(#ced6e3));
  @include aliasColor('neutral-11', 'neutral-8');
  @include colorVars('neutral-12', hexToHSL(#d2d6e0));
  @include colorVars('neutral-15', hexToHSL(#b6bcc9));
  @include colorVars('neutral-19', hexToHSL(#97a1b4));
  @include aliasColor('neutral-22', 'neutral-19');
  @include aliasColor('neutral-27', 'neutral-19');
  @include aliasColor('neutral-28', 'neutral-19');
  @include aliasColor('neutral-29', 'neutral-19');
  @include colorVars('neutral-31', hexToHSL(#7a879f));
  @include aliasColor('neutral-34', 'neutral-31');
  @include colorVars('neutral-36', hexToHSL(#606d85));
  @include aliasColor('neutral-37', 'neutral-36');
  @include aliasColor('neutral-38', 'neutral-36');
  @include aliasColor('neutral-39', 'neutral-36');
  @include aliasColor('neutral-40', 'neutral-36');
  @include aliasColor('neutral-45', 'nord-dark4'); /*! nord color */
  @include aliasColor('neutral-49', 'nord-dark3'); /*! nord color */
  @include aliasColor('neutral-59', 'neutral-49');
  @include aliasColor('neutral-60', 'neutral-49');
  @include colorVars('neutral-63', hexToHSL(#424a5c));
  @include aliasColor('neutral-64', 'neutral-66');
  @include aliasColor('neutral-65', 'neutral-66');
  @include colorVars('neutral-66', hexToHSL(#404859));
  @include aliasColor('neutral-69', 'nord-dark2'); /*! nord color */
  @include aliasColor('neutral-70', 'neutral-69');
  @include aliasColor('neutral-71', 'neutral-69');
  @include aliasColor('neutral-72', 'nord-dark1'); /*! nord color */
  @include aliasColor('neutral-73', 'neutral-72');
  @include aliasColor('neutral-74', 'neutral-72');
  @include colorVars('neutral-76', hexToHSL(#2b303b));
  @include aliasColor('neutral-79', 'neutral-76');
  @include colorVars('neutral-83', hexToHSL(#20242c));
  @include aliasColor('neutral-87', 'neutral-83');
  @include aliasColor('neutral-91', 'neutral-83');
  @include aliasColor('neutral-92', 'neutral-83');
  @include aliasColor('neutral-95', 'neutral-83');
  @include colorVars('neutral-97', hexToHSL(#15181e));
  @include aliasColor('neutral-99', 'neutral-97');

  @include aliasColor('green-new-24', 'green-new-62');
  @include aliasColor('green-new-25', 'green-new-62');
  @include aliasColor('green-new-26', 'green-new-62');
  @include aliasColor('green-new-38', 'green-new-62');
  @include aliasColor('green-new-44', 'green-new-62');
  @include aliasColor('green-new-52', 'green-new-62');
  @include aliasColor('green-new-62', 'nord-green'); /*! nord color */
  @include aliasColor('green-new-55', 'green-new-62');
  @include aliasColor('green-new-77', 'green-new-62');
  @include colorVars('green-new-87', hexToHSL(#93ac7e));
  @include colorVars('green-new-91', hexToHSL(#82996f));

  @include aliasColor('red-new-23', 'red-new-61');
  @include aliasColor('red-new-29', 'red-new-61');
  @include aliasColor('red-new-38', 'red-new-61');
  @include aliasColor('red-new-45', 'red-new-61');
  @include aliasColor('red-new-47', 'red-new-61');
  @include aliasColor('red-new-61', 'nord-red'); /*! nord color */
  @include colorVars('red-new-70', hexToHSL(#ac5861));
  @include colorVars('red-new-78', hexToHSL(#975056));

  @include aliasColor('yellow-new-24', 'yellow-new-57');
  @include aliasColor('yellow-new-28', 'yellow-new-57');
  @include aliasColor('yellow-new-39', 'yellow-new-57');
  @include aliasColor('yellow-new-54', 'yellow-new-57');
  @include aliasColor('yellow-new-57', 'nord-yellow'); /*! nord color */

  @include aliasColor('orange-new-63', 'nord-orange'); /*! nord color */

  @include aliasColor('white-500', 'nord-light2'); /*! nord color */
  @include aliasColor('black-500', 'neutral-79'); /*! nord color */

  @include aliasColor('blue-new-31', 'nord-blue'); /*! nord color */
  @include colorVars('blue-new-35', hexToHSL(#4c91e6));

  @include colorVars('blurple-1', hexToHSL(#f0f4f4));
  @include colorVars('blurple-4', hexToHSL(#d8e7e7));
  @include aliasColor('blurple-10', 'blurple-4');
  @include aliasColor('blurple-25', 'blurple-49'); /* For tabs */
  @include aliasColor('blurple-28', 'blurple-49'); /* For some links */
  @include colorVars('blurple-37', hexToHSL(#afcfce));
  @include aliasColor('blurple-44', 'blurple-37');
  @include aliasColor('blurple-49', 'nord-green-blue'); /*! nord color */
  @include aliasColor('blurple-50', 'blurple-49');
  @include colorVars('blurple-54', hexToHSL(#7da8a8));
  @include aliasColor('blurple-59', 'blurple-54');
  @include colorVars('blurple-65', hexToHSL(#709494));
  @include aliasColor('blurple-70', 'blurple-87');
  @include colorVars('blurple-87', hexToHSL(#4d6666));

  --opacity-blurple-8: var(
    --opacity-blurple-16
  ); /* server > Channel & Roles (selected role) */
  --opacity-blurple-16: hsl(
    var(--blurple-49-hsl) / 0.07
  ); /* "add friend" active btn */
  --opacity-blurple-24: hsl(var(--blurple-49-hsl) / 0.2);
  --opacity-blurple-32: hsl(var(--blurple-49-hsl) / 0.2);

  @include aliasColor('twitch', 'nord-pink');
  @include colorVars('twitch-secondary', hexToHSL(#a3759b));
  @include aliasColor('partner', 'nord-blue');

  --status-positive: var(--nord-green);
  --status-danger: var(--nord-red);

  --guild-boosting-blue: var(--nord-blue);
  --guild-boosting-blue-for-gradients: var(--nord-blue);
  --guild-boosting-purple: var(--nord-pink);
  --guild-boosting-purple-for-gradients: var(--nord-pink);
  --guild-boosting-pink: var(--nord-pink);
  --premium-tier-0-header-gradient-1: var(--nord-blue);
  --premium-tier-0-header-gradient-2: var(--nord-blue);
  --premium-tier-0-header-gradient-3: var(--nord-blue);
  --premium-tier-0-header-gradient-4: var(--nord-pink);
  --premium-tier-0-header-gradient-5: var(--nord-pink);
  --premium-tier-0-purple-for-gradients: var(--nord-blue);
  --premium-tier-0-blue-for-gradients: var(--nord-blue);
  --premium-tier-2-purple-for-gradients: var(--nord-pink);
  --premium-tier-2-pink-for-gradients: var(--nord-pink);
  --premium-tier-2-purple-for-gradients-2: var(--nord-pink);
  --custom-premium-colors-premium-gradient-tier-2-diagonal: var(--nord-pink);
  @include aliasColor('premium-tier-2-purple', 'nord-pink');
  @include aliasColor('premium-tier-2-pink', 'nord-pink');
  @include aliasColor('premium-perk-blue', 'nord-blue');
  @include aliasColor('premium-perk-dark-blue', 'blue-new-35');
  @include aliasColor('premium-perk-green', 'nord-turquoise');
  @include aliasColor('premium-perk-light-blue', 'nord-cyan');
  @include aliasColor('premium-perk-orange', 'nord-orange');
  @include aliasColor('premium-perk-pink', 'nord-pink');
  @include aliasColor('premium-perk-purple', 'nord-pink');
  @include aliasColor('premium-perk-yellow', 'nord-yellow');
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark,
.visual-refresh.theme-light,
.visual-refresh .theme-light {
  --button-danger-background: var(--nord-red);
  --button-danger-background-active: var(--red-new-78);
  --button-danger-background-disabled: var(--nord-red);
  --button-danger-background-hover: var(--red-new-70);
  --button-danger-border: hsl(var(--nord-red-hsl) / 0.08);
  --button-filled-brand-text: var(--black-500);
  --button-filled-brand-inverted-text: var(--blurple-87);
  --button-positive-background: var(--nord-green);
  --button-positive-background-active: var(--green-new-91);
  --button-positive-background-disabled: var(--nord-green);
  --button-positive-background-hover: var(--green-new-87);
  --button-positive-border: hsl(var(--nord-green-hsl) / 0.08);
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  --background-mentioned: hsl(var(--blurple-49-hsl) / 0.16);
  --background-mentioned-hover: hsl(var(--blurple-49-hsl) / 0.12);
  --background-message-highlight: hsl(var(--blurple-49-hsl) / 0.16);
  --background-message-highlight-hover: hsl(var(--blurple-49-hsl) / 0.12);
  --background-message-hover: hsl(var(--neutral-45-hsl) / 0.15);
  --background-modifier-accent: hsl(var(--neutral-34-hsl) / 0.3);
  --background-modifier-active: hsl(var(--neutral-34-hsl) / 0.25);
  --background-modifier-hover: hsl(var(--neutral-34-hsl) / 0.2);
  --background-modifier-selected: hsl(var(--neutral-40-hsl) / 0.5);
  --background-primary: var(--neutral-66);
  --bg-base-secondary: var(--neutral-69);
  --bg-mod-faint: hsl(var(--neutral-34-hsl) / 0.1);
  --bg-mod-strong: hsl(var(--neutral-40-hsl) / 0.5);
  --bg-mod-subtle: hsl(var(--neutral-40-hsl) / 0.2);
  --button-outline-danger-background: hsl(var(--nord-dark4-hsl) / 0.5);
  --button-outline-danger-background-active: hsl(var(--nord-dark4-hsl) / 0.7);
  --button-outline-danger-background-hover: var(--nord-dark4);
  --button-outline-danger-border: transparent;
  --button-outline-danger-border-active: transparent;
  --button-outline-danger-border-hover: transparent;
  --button-outline-danger-text: var(--nord-red);
  --button-outline-danger-text-active: var(--nord-red);
  --button-outline-danger-text-hover: var(--nord-red);
  --button-secondary-background: hsl(var(--neutral-40-hsl) / 0.2);
  --button-secondary-background-active: hsl(var(--neutral-40-hsl) / 0.5);
  --button-secondary-background-disabled: hsl(var(--neutral-40-hsl) / 0.2);
  --button-secondary-background-hover: hsl(var(--neutral-40-hsl) / 0.35);
  --icon-primary: var(--neutral-8);
  --info-danger-background: hsl(var(--nord-red-hsl) / 0.1);
  --info-danger-text: var(--nord-red);
  --info-help-background: hsl(var(--nord-blue-hsl) / 0.15);
  --info-help-text: var(--nord-blue);
  --info-positive-background: hsl(var(--nord-green-hsl) / 0.1);
  --info-positive-text: var(--nord-green);
  --info-warning-background: hsl(var(--nord-yellow-hsl) / 0.08);
  --info-warning-text: var(--nord-yellow);
  --input-background: hsl(var(--black-hsl) / 0.1);
  --mention-background: var(--opacity-blurple-24);
  --mention-foreground: var(--blurple-1);
  --message-reacted-background: hsl(var(--blurple-49-hsl) / 0.3);
  --message-reacted-text: var(--blurple-1);
  --premium-nitro-pink-text: var(--nord-pink);
  --text-link: var(--blue-new-35);
  --text-normal: var(--neutral-12);
  --text-primary: var(--neutral-8);
  --text-secondary: var(--neutral-12);
  --background-base-low: var(--neutral-63);
  --background-base-lower: var(--neutral-69);
  --background-code: hsl(var(--nord-dark1-hsl) / 0.1);
  --background-code-addition: hsl(var(--nord-green-hsl) / 0.45);
  --background-code-deletion: hsl(var(--nord-red-hsl) / 0.45);
  --background-feedback-critical: hsl(var(--nord-red-hsl) / 0.1);
  --background-feedback-info: hsl(var(--nord-blue-hsl) / 0.1);
  --background-feedback-positive: hsl(var(--nord-green-hsl) / 0.1);
  --background-feedback-warning: hsl(var(--nord-yellow-hsl) / 0.1);
  --background-mod-faint: hsl(var(--neutral-34-hsl) / 0.1);
  --background-mod-normal: hsl(var(--neutral-34-hsl) / 0.25);
  --background-mod-strong: hsl(var(--neutral-40-hsl) / 0.4);
  --background-mod-subtle: hsl(var(--neutral-40-hsl) / 0.3);
  --background-surface-higher: var(--neutral-66);
  --border-feedback-critical: hsl(var(--nord-red-hsl) / 0.2);
  --chat-background-default: var(--neutral-49);
  --notice-background-critical: var(--nord-red);
  --notice-background-info: var(--nord-blue);
  --notice-background-positive: var(--nord-green);
  --notice-background-warning: var(--nord-yellow);
  --notice-text-critical: var(--white-500);
  --notice-text-info: var(--white-500);
  --notice-text-positive: var(--black-500);
  --notice-text-warning: var(--black-500);
  --text-code-addition: var(--white);
  --text-code-builtin: var(--nord-cyan);
  --text-code-bullet: var(--nord-cyan);
  --text-code-comment: var(--neutral-40);
  --text-code-default: var(--text-normal);
  --text-code-deletion: var(--white);
  --text-code-keyword: var(--nord-cyan);
  --text-code-section: var(--text-normal);
  --text-code-string: var(--nord-green);
  --text-code-tag: var(--nord-cyan);
  --text-code-title: var(--blurple-49);
  --text-code-variable: var(--header-secondary);

  --interactive-muted: var(--neutral-40);
  --search-popout-date-picker-hint-value-text: var(--black-500);
  --search-popout-date-picker-hint-value-background-hover: var(--blurple-54);
  --channel-text-area-placeholder: var(--neutral-34);
}

.theme-midnight {
  --bg-tile-gradient-magenta-start: hsl(var(--nord-pink-hsl) / 0.5);
  --bg-tile-gradient-magenta-end: hsl(var(--nord-pink-hsl) / 0.25);
}

.visual-refresh.theme-light,
.visual-refresh .theme-light {
  --background-mentioned: hsl(var(--blurple-49-hsl) / 0.45);
  --background-mentioned-hover: hsl(var(--blurple-49-hsl) / 0.35);
  --background-message-highlight: hsl(var(--blurple-49-hsl) / 0.45);
  --background-message-highlight-hover: hsl(var(--blurple-49-hsl) / 0.35);
  --background-message-hover: hsl(var(--neutral-8-hsl) / 0.4);
  --background-modifier-accent: hsl(var(--neutral-9-hsl) / 0.4);
  --background-modifier-active: hsl(var(--neutral-9-hsl) / 0.45);
  --background-modifier-hover: hsl(var(--neutral-9-hsl) / 0.8);
  --background-modifier-selected: hsl(var(--neutral-9-hsl) / 0.65);
  --background-primary: var(--neutral-1);
  --bg-mod-faint: hsl(var(--neutral-9-hsl) / 0.2);
  --bg-mod-strong: hsl(var(--neutral-9-hsl) / 0.5);
  --bg-mod-subtle: hsl(var(--neutral-9-hsl) / 0.3);
  --button-outline-danger-background: hsl(var(--neutral-9-hsl) / 0.4);
  --button-outline-danger-background-active: hsl(var(--neutral-9-hsl) / 0.55);
  --button-outline-danger-background-hover: hsl(var(--neutral-9-hsl) / 0.7);
  --button-outline-danger-border: transparent;
  --button-outline-danger-border-active: transparent;
  --button-outline-danger-border-hover: transparent;
  --button-outline-danger-text: var(--nord-red);
  --button-outline-danger-text-active: var(--nord-red);
  --button-outline-danger-text-hover: var(--nord-red);
  --button-secondary-background: hsl(var(--neutral-9-hsl) / 0.7);
  --button-secondary-background-active: var(--neutral-9);
  --button-secondary-background-disabled: hsl(var(--neutral-9-hsl) / 0.7);
  --button-secondary-background-hover: hsl(var(--neutral-9-hsl) / 0.8);
  --info-danger-background: hsl(var(--nord-red-hsl) / 0.1);
  --info-danger-text: var(--nord-red);
  --info-help-background: hsl(var(--nord-blue-hsl) / 0.15);
  --info-help-text: var(--nord-blue);
  --info-positive-background: hsl(var(--nord-green-hsl) / 0.1);
  --info-positive-text: var(--nord-green);
  --info-warning-background: hsl(var(--nord-yellow-hsl) / 0.08);
  --info-warning-text: var(--nord-yellow);
  --input-background: hsl(var(--neutral-9-hsl) / 0.4);
  --mention-background: hsl(var(--blurple-49-hsl) / 0.45);
  --mention-foreground: var(--black-500);
  --message-reacted-background: hsl(var(--blurple-49-hsl) / 0.3);
  --message-reacted-text: var(--blurple-87);
  --premium-nitro-pink-text: var(--nord-pink);
  --text-link: var(--blue-new-35);
  --text-default: var(--neutral-79);
  --text-muted: var(--neutral-45);
  --text-tertiary: var(--neutral-45);
  --background-code: var(--neutral-1);
  --background-code-addition: hsl(var(--nord-green-hsl) / 0.3);
  --background-code-deletion: hsl(var(--nord-red-hsl) / 0.3);
  --background-feedback-critical: hsl(var(--nord-red-hsl) / 0.1);
  --background-feedback-info: hsl(var(--nord-blue-hsl) / 0.1);
  --background-feedback-positive: hsl(var(--nord-green-hsl) / 0.1);
  --background-feedback-warning: hsl(var(--nord-yellow-hsl) / 0.1);
  --background-mod-faint: hsl(var(--neutral-9-hsl) / 0.45);
  --background-mod-normal: hsl(var(--neutral-9-hsl) / 0.55);
  --background-mod-strong: hsl(var(--neutral-9-hsl) / 0.8);
  --background-mod-subtle: hsl(var(--neutral-9-hsl) / 0.6);
  --border-feedback-critical: hsl(var(--nord-red-hsl) / 0.2);
  --notice-background-critical: var(--nord-red);
  --notice-background-info: var(--nord-blue);
  --notice-background-positive: var(--nord-green);
  --notice-background-warning: var(--nord-yellow);
  --notice-text-critical: var(--white-500);
  --notice-text-info: var(--white-500);
  --notice-text-positive: var(--black-500);
  --notice-text-warning: var(--black-500);
  --text-code-addition: var(--black-500);
  --text-code-builtin: var(--nord-cyan);
  --text-code-bullet: var(--nord-cyan);
  --text-code-comment: var(--neutral-40);
  --text-code-default: var(--text-normal);
  --text-code-deletion: var(--black-500);
  --text-code-keyword: var(--nord-cyan);
  --text-code-section: var(--text-normal);
  --text-code-string: var(--nord-green);
  --text-code-tag: var(--nord-cyan);
  --text-code-title: var(--blurple-49);
  --text-code-variable: var(--header-secondary);

  --search-popout-date-picker-hint-value-text: var(--black-500);
  --search-popout-date-picker-hint-value-background-hover: var(--blurple-54);
}
