@use 'utils';

.visual-refresh {
  @include utils.colorVars('neutral-1', utils.hexToHSL(#fcfcfd));
  @include utils.aliasColor('neutral-2', 'nord-light3');
  @include utils.aliasColor('neutral-4', 'nord-light2');
  @include utils.aliasColor('neutral-6', 'neutral-4');
  @include utils.aliasColor('neutral-8', 'nord-light1'); /*! nord color */
  @include utils.colorVars('neutral-9', utils.hexToHSL(#ced6e3));
  @include utils.aliasColor('neutral-11', 'neutral-8');
  @include utils.colorVars('neutral-12', utils.hexToHSL(#d2d6e0));
  @include utils.colorVars('neutral-15', utils.hexToHSL(#b6bcc9));
  @include utils.colorVars('neutral-19', utils.hexToHSL(#97a1b4));
  @include utils.aliasColor('neutral-22', 'neutral-19');
  @include utils.aliasColor('neutral-27', 'neutral-19');
  @include utils.aliasColor('neutral-28', 'neutral-19');
  @include utils.aliasColor('neutral-29', 'neutral-19');
  @include utils.colorVars('neutral-31', utils.hexToHSL(#7a879f));
  @include utils.aliasColor('neutral-32', 'neutral-31');
  @include utils.aliasColor('neutral-34', 'neutral-31');
  @include utils.colorVars('neutral-36', utils.hexToHSL(#606d85));
  @include utils.aliasColor('neutral-37', 'neutral-36');
  @include utils.aliasColor('neutral-38', 'neutral-36');
  @include utils.aliasColor('neutral-39', 'neutral-36');
  @include utils.aliasColor('neutral-40', 'neutral-36');
  @include utils.aliasColor('neutral-45', 'nord-dark4'); /*! nord color */
  @include utils.aliasColor('neutral-49', 'nord-dark3'); /*! nord color */
  @include utils.aliasColor('neutral-59', 'neutral-49');
  @include utils.aliasColor('neutral-60', 'neutral-49');
  @include utils.aliasColor('neutral-62', 'neutral-66');
  @include utils.colorVars('neutral-63', utils.hexToHSL(#424a5c));
  @include utils.aliasColor('neutral-64', 'neutral-66');
  @include utils.aliasColor('neutral-65', 'neutral-66');
  @include utils.colorVars('neutral-66', utils.hexToHSL(#404859));
  @include utils.aliasColor('neutral-69', 'nord-dark2'); /*! nord color */
  @include utils.aliasColor('neutral-70', 'neutral-69');
  @include utils.aliasColor('neutral-71', 'neutral-69');
  @include utils.aliasColor('neutral-72', 'nord-dark1'); /*! nord color */
  @include utils.aliasColor('neutral-73', 'neutral-72');
  @include utils.aliasColor('neutral-74', 'neutral-72');
  @include utils.aliasColor('neutral-75', 'neutral-76');
  @include utils.colorVars('neutral-76', utils.hexToHSL(#2b303b));
  @include utils.aliasColor('neutral-79', 'neutral-76');
  @include utils.colorVars('neutral-83', utils.hexToHSL(#20242c));
  @include utils.aliasColor('neutral-84', 'neutral-83');
  @include utils.aliasColor('neutral-87', 'neutral-83');
  @include utils.aliasColor('neutral-91', 'neutral-83');
  @include utils.aliasColor('neutral-92', 'neutral-83');
  @include utils.aliasColor('neutral-95', 'neutral-83');
  @include utils.colorVars('neutral-97', utils.hexToHSL(#15181e));
  @include utils.aliasColor('neutral-99', 'neutral-97');

  @include utils.aliasColor('white-500', 'nord-light2'); /*! nord color */
  @include utils.aliasColor('black-500', 'neutral-79'); /*! nord color */

  @include utils.aliasColor('green-new-23', 'green-new-61');
  @include utils.aliasColor('green-new-24', 'green-new-61');
  @include utils.aliasColor('green-new-25', 'green-new-61');
  @include utils.aliasColor('green-new-26', 'green-new-61');
  @include utils.aliasColor('green-new-30', 'green-new-61');
  @include utils.aliasColor('green-new-38', 'green-new-61');
  @include utils.aliasColor('green-new-44', 'green-new-61');
  @include utils.aliasColor('green-new-50', 'green-new-61');
  @include utils.aliasColor('green-new-52', 'green-new-61');
  @include utils.aliasColor('green-new-61', 'nord-green'); /*! nord color */
  @include utils.aliasColor(
    'green-new-62',
    'green-new-91'
  ); /* success button (active) */
  @include utils.aliasColor(
    'green-new-55',
    'green-new-87'
  ); /* success button (hover) */
  @include utils.aliasColor('green-new-76', 'green-new-61');
  @include utils.aliasColor('green-new-77', 'green-new-61');
  @include utils.colorVars('green-new-87', utils.hexToHSL(#93ac7e));
  @include utils.colorVars('green-new-91', utils.hexToHSL(#82996f));

  @include utils.aliasColor('red-new-23', 'red-new-61');
  @include utils.aliasColor('red-new-29', 'red-new-61');
  @include utils.aliasColor('red-new-38', 'red-new-61');
  @include utils.aliasColor('red-new-45', 'red-new-61');
  @include utils.aliasColor('red-new-50', 'red-new-61');
  @include utils.aliasColor(
    'red-new-55',
    'red-new-70'
  ); /* danger button (hover) */
  @include utils.aliasColor('red-new-47', 'red-new-61');
  @include utils.aliasColor('red-new-61', 'nord-red'); /*! nord color */
  @include utils.aliasColor(
    'red-new-62',
    'red-new-78'
  ); /* danger button (active) */
  @include utils.colorVars('red-new-70', utils.hexToHSL(#ac5861));
  @include utils.colorVars('red-new-78', utils.hexToHSL(#975056));

  @include utils.aliasColor('yellow-new-22', 'yellow-new-57');
  @include utils.aliasColor('yellow-new-24', 'yellow-new-57');
  @include utils.aliasColor('yellow-new-28', 'yellow-new-57');
  @include utils.aliasColor('yellow-new-39', 'yellow-new-57');
  @include utils.aliasColor('yellow-new-54', 'yellow-new-57');
  @include utils.aliasColor('yellow-new-57', 'nord-yellow'); /*! nord color */
  @include utils.aliasColor('yellow-new-75', 'yellow-new-57');

  @include utils.aliasColor('orange-new-63', 'nord-orange'); /*! nord color */

  @include utils.aliasColor('blue-new-24', 'blue-new-31');
  @include utils.aliasColor('blue-new-26', 'blue-new-35'); /* For links */
  @include utils.aliasColor('blue-new-31', 'nord-blue'); /*! nord color */
  @include utils.colorVars('blue-new-35', utils.hexToHSL(#4c91e6));

  @include utils.colorVars('blurple-1', utils.hexToHSL(#f0f4f4));
  @include utils.colorVars('blurple-4', utils.hexToHSL(#d8e7e7));
  @include utils.aliasColor('blurple-8', 'blurple-4');
  @include utils.aliasColor('blurple-10', 'blurple-4');
  @include utils.aliasColor('blurple-25', 'blurple-49'); /* For tabs */
  @include utils.aliasColor(
    'blurple-26',
    'blurple-49'
  ); /* For "--text-brand" variable */
  @include utils.aliasColor(
    'blurple-27',
    'blurple-49'
  ); /* start stream popup >  "cancel" button */
  @include utils.aliasColor('blurple-28', 'blurple-49'); /* For some links */
  @include utils.colorVars('blurple-37', utils.hexToHSL(#afcfce));
  @include utils.aliasColor('blurple-44', 'blurple-37');
  @include utils.aliasColor('blurple-49', 'nord-green-blue'); /*! nord color */
  @include utils.aliasColor('blurple-50', 'blurple-49');
  @include utils.colorVars('blurple-54', utils.hexToHSL(#7da8a8));
  @include utils.aliasColor('blurple-59', 'blurple-54');
  @include utils.aliasColor('blurple-60', 'blurple-54');
  @include utils.colorVars('blurple-65', utils.hexToHSL(#709494));
  @include utils.aliasColor('blurple-70', 'blurple-87');
  @include utils.colorVars('blurple-87', utils.hexToHSL(#4d6666));

  --opacity-4-hsl: var(--neutral-19-hsl);
  --opacity-8-hsl: var(--neutral-31-hsl);
  --opacity-16-hsl: var(--neutral-31-hsl);
  --opacity-20-hsl: var(--neutral-31-hsl);

  --opacity-green-8-hsl: var(--green-new-61-hsl);
  --opacity-green-12-hsl: var(--green-new-61-hsl);
  --opacity-green-24-hsl: var(--green-new-61-hsl);
  --opacity-green-36-hsl: var(--green-new-61-hsl);

  --opacity-red-8-hsl: var(--red-new-61-hsl);
  --opacity-red-12-hsl: var(--red-new-61-hsl);
  --opacity-red-16-hsl: var(--red-new-61-hsl);
  --opacity-red-24-hsl: var(--red-new-61-hsl);
  --opacity-red-36-hsl: var(--red-new-61-hsl);

  --opacity-yellow-8-hsl: var(--yellow-new-57-hsl);

  --opacity-blue-8-hsl: var(--blue-new-31-hsl);

  --opacity-blurple-8-hsl: var(
    --blurple-49-hsl
  ); /* server > Channel & Roles (selected role) */
  --opacity-blurple-16-hsl: var(--blurple-49-hsl); /* "add friend" active btn */
  --opacity-blurple-24-hsl: var(--blurple-49-hsl);
  --opacity-blurple-32: hsl(var(--blurple-49-hsl) / 0.2);

  --illo-green-50-hsl: var(--nord-green-hsl);
  --illo-pink-50-hsl: var(--nord-pink-hsl);
  --illo-pink-60-hsl: var(--nord-pink-hsl);
  --illo-pink-70-hsl: var(--nord-pink-hsl);
  --illo-purple-40-hsl: var(--nord-pink-hsl);
  --illo-purple-60-hsl: var(--nord-pink-hsl);
  --illo-nitro-blue-hsl: var(--nord-blue-hsl);

  @include utils.aliasColor('twitch', 'nord-pink');
  @include utils.colorVars('twitch-secondary', utils.hexToHSL(#a3759b));
  @include utils.aliasColor('partner', 'nord-blue');

  --status-positive: var(--nord-green);
  --status-danger: var(--nord-red);

  --guild-boosting-blue: var(--nord-blue);
  --guild-boosting-blue-for-gradients: var(--nord-blue);
  --guild-boosting-purple: var(--nord-pink);
  --guild-boosting-purple-for-gradients: var(--nord-pink);
  --guild-boosting-pink: var(--nord-pink);
  --premium-tier-0-header-gradient-1: var(--nord-blue);
  --premium-tier-0-header-gradient-2: var(--nord-blue);
  --premium-tier-0-header-gradient-3: var(--nord-blue);
  --premium-tier-0-header-gradient-4: var(--nord-pink);
  --premium-tier-0-header-gradient-5: var(--nord-pink);
  --premium-tier-0-purple-for-gradients: var(--nord-blue);
  --premium-tier-0-blue-for-gradients: var(--nord-blue);
  --premium-tier-2-purple-for-gradients: var(--nord-pink);
  --premium-tier-2-pink-for-gradients: var(--nord-pink);
  --premium-tier-2-purple-for-gradients-2: var(--nord-pink);
  --custom-premium-colors-premium-gradient-tier-2-diagonal: var(--nord-pink);
  @include utils.aliasColor('premium-tier-2-purple', 'nord-pink');
  @include utils.aliasColor('premium-tier-2-pink', 'nord-pink');
  @include utils.aliasColor('premium-perk-blue', 'nord-blue');
  @include utils.aliasColor('premium-perk-dark-blue', 'blue-new-35');
  @include utils.aliasColor('premium-perk-green', 'nord-turquoise');
  @include utils.aliasColor('premium-perk-light-blue', 'nord-cyan');
  @include utils.aliasColor('premium-perk-orange', 'nord-orange');
  @include utils.aliasColor('premium-perk-pink', 'nord-pink');
  @include utils.aliasColor('premium-perk-purple', 'nord-pink');
  @include utils.aliasColor('premium-perk-yellow', 'nord-yellow');
  @include utils.aliasColor('premium-nitro-pink-light', 'nord-pink');
}

.theme-light,
.theme-dark {
  --control-primary-text-default: var(--neutral-79);
  --control-primary-text-hover: var(--neutral-99);
  --control-primary-text-active: var(--neutral-99);
  --control-connect-text-default: var(--neutral-79);
  --control-connect-text-hover: var(--neutral-79);
  --control-connect-text-active: var(--neutral-99);

  --notice-text-positive: var(--neutral-79);
  --notice-text-warning: var(--neutral-79);
  --search-popout-date-picker-hint-value-text: var(--neutral-79);
}

.theme-dark {
  --message-mentioned-background-default: hsl(var(--blurple-49-hsl) / 0.16);
  --message-mentioned-background-hover: hsl(var(--blurple-49-hsl) / 0.12);
  --message-highlight-background-default: hsl(var(--blue-new-31-hsl) / 0.16);
  --message-highlight-background-hover: hsl(var(--blue-new-31-hsl) / 0.12);

  --interactive-muted: var(--neutral-40);

  --background-code: hsl(var(--nord-dark1-hsl) / 0.1);
  --background-code-addition: hsl(var(--nord-green-hsl) / 0.45);
  --background-code-deletion: hsl(var(--nord-red-hsl) / 0.45);
  --text-code-addition: var(--white);
  --text-code-builtin: var(--nord-cyan);
  --text-code-bullet: var(--nord-cyan);
  --text-code-comment: var(--neutral-40);
  --text-code-default: var(--text-normal);
  --text-code-deletion: var(--white);
  --text-code-keyword: var(--nord-cyan);
  --text-code-section: var(--text-normal);
  --text-code-string: var(--nord-green);
  --text-code-tag: var(--nord-cyan);
  --text-code-title: var(--blurple-49);
  --text-code-variable: var(--header-secondary);
}

.theme-light {
  --message-mentioned-background-default: hsl(var(--blurple-49-hsl) / 0.45);
  --message-mentioned-background-hover: hsl(var(--blurple-49-hsl) / 0.35);
  --message-highlight-background-default: hsl(var(--blue-new-31-hsl) / 0.45);
  --message-highlight-background-hover: hsl(var(--blue-new-31-hsl) / 0.35);

  --background-code: var(--neutral-1);
  --background-code-addition: hsl(var(--nord-green-hsl) / 0.3);
  --background-code-deletion: hsl(var(--nord-red-hsl) / 0.3);
  --text-code-addition: var(--black-500);
  --text-code-builtin: var(--nord-cyan);
  --text-code-bullet: var(--nord-cyan);
  --text-code-comment: var(--neutral-40);
  --text-code-default: var(--text-normal);
  --text-code-deletion: var(--black-500);
  --text-code-keyword: var(--nord-cyan);
  --text-code-section: var(--text-normal);
  --text-code-string: var(--nord-green);
  --text-code-tag: var(--nord-cyan);
  --text-code-title: var(--blurple-49);
  --text-code-variable: var(--header-secondary);
}
