.default-colors,
:root {
  /** Discord colors */
  --primary-160-hsl: #{hexToHSL(#fcfcfd)};
  --primary-200-hsl: var(--nord-light1-hsl); /*! nord color */
  --primary-260-hsl: #{hexToHSL(#d2d6e0)};
  --primary-300-hsl: #{hexToHSL(#b6bcc9)};
  --primary-330-hsl: #{hexToHSL(#97a1b4)};
  --primary-360-hsl: var(--primary-330-hsl);
  --primary-400-hsl: #{hexToHSL(#7a879f)};
  --primary-430-hsl: #{hexToHSL(#606d85)};
  --primary-500-hsl: var(--nord-dark4-hsl); /*! nord color */
  --primary-530-hsl: var(--primary-500-hsl);
  --primary-560-hsl: #{hexToHSL(#424a5c)};
  --primary-600-hsl: var(--nord-dark2-hsl); /*! nord color */
  --primary-630-hsl: var(--nord-dark1-hsl); /*! nord color */
  --primary-660-hsl: #{hexToHSL(#2b303b)};
  --primary-700-hsl: #{hexToHSL(#20242c)};
  --primary-800-hsl: #{hexToHSL(#15181e)};

  --green-230-hsl: var(--green-500-hsl);
  --green-330-hsl: var(--green-500-hsl);
  --green-360-hsl: var(--green-500-hsl);
  --green-400-hsl: var(--green-500-hsl);
  --green-430-hsl: var(--green-500-hsl);
  --green-500-hsl: var(--nord-green-hsl); /*! nord color */
  --green-560-hsl: var(--green-500-hsl);
  --green-600-hsl: var(--green-500-hsl);
  --green-660-hsl: var(--green-500-hsl);
  --green-730-hsl: #{hexToHSL(#93ac7e)};
  --green-760-hsl: #{hexToHSL(#82996f)};

  --red-360-hsl: var(--red-500-hsl);
  --red-400-hsl: var(--red-500-hsl);
  --red-430-hsl: var(--red-500-hsl);
  --red-500-hsl: var(--nord-red-hsl); /*! nord color */
  --red-530-hsl: var(--red-500-hsl);
  --red-560-hsl: #{hexToHSL(#ac5861)};
  --red-600-hsl: var(--red-560-hsl);
  --red-630-hsl: #{hexToHSL(#975056)};

  --yellow-300-hsl: var(--yellow-400-hsl);
  --yellow-360-hsl: var(--yellow-400-hsl);
  --yellow-400-hsl: var(--nord-yellow-hsl); /*! nord color */
  --yellow-430-hsl: var(--yellow-400-hsl);
  --yellow-500-hsl: var(--yellow-400-hsl);
  --yellow-560-hsl: var(--yellow-400-hsl);
  --yellow-630-hsl: var(--orange-500-hsl);
  --yellow-660-hsl: var(--orange-500-hsl);

  --orange-500-hsl: var(--nord-orange-hsl); /*! nord color */

  --white-500-hsl: var(--nord-light2-hsl); /*! nord color */

  --black-500-hsl: var(--primary-660-hsl);

  --blue-330-hsl: var(--nord-blue); /*! nord color */
  --blue-345-hsl: #{hexToHSL(#4c91e6)};

  /** Brand */
  --brand-100-hsl: #{hexToHSL(#f0f4f4)};
  --brand-200-hsl: #{hexToHSL(#d8e7e7)};
  --brand-260-hsl: var(--brand-200-hsl);
  --brand-360-hsl: var(--brand-500-hsl);
  --brand-400-hsl: #{hexToHSL(#afcfce)};
  --brand-430-hsl: var(--brand-400-hsl);
  --brand-500-hsl: var(--nord-green-blue-hsl); /*! nord color */
  --brand-530-hsl: #{hexToHSL(#7da8a8)};
  --brand-560-hsl: var(--brand-530-hsl);
  --brand-600-hsl: #{hexToHSL(#709494)};
  --brand-800-hsl: #{hexToHSL(#4d6666)};

  /** Nitro */
  --premium-tier-2-pink-hsl: var(--nord-pink-hsl); /*! nord color */
  --premium-tier-2-pink-for-gradients-hsl: var(--premium-tier-2-pink-hsl);
  --premium-tier-2-purple-hsl: var(--premium-tier-2-pink-hsl);
  --premium-tier-2-purple-for-gradients-hsl: var(--premium-tier-2-pink-for-gradients-hsl);
  --premium-tier-2-purple-for-gradients-2-hsl: var(--premium-tier-2-pink-for-gradients-hsl);
  --premium-tier-0-blue-hsl: var(--nord-blue-hsl); /*! nord color */
  --premium-tier-0-purple-hsl: var(--premium-tier-2-pink-hsl);
  --premium-tier-0-header-gradient-1-hsl: var(--premium-tier-0-blue-hsl);
  --premium-tier-0-header-gradient-2-hsl: var(--premium-tier-0-blue-hsl);
  --premium-tier-0-header-gradient-3-hsl: var(--premium-tier-0-purple-hsl);
  --premium-tier-0-header-gradient-4-hsl: var(--premium-tier-0-purple-hsl);
  --premium-tier-0-header-gradient-5-hsl: var(--premium-tier-0-purple-hsl);

  --guild-boosting-pink-hsl: var(--premium-tier-2-pink-hsl);
  --guild-boosting-purple-hsl: var(--premium-tier-2-pink-hsl);
  --guild-boosting-blue-hsl: var(--premium-tier-0-blue-hsl);
  --guild-boosting-blue-for-gradients-hsl: var(--premium-tier-0-blue-hsl);
  --guild-boosting-purple-for-gradients-hsl: var(--premium-tier-2-purple-for-gradients-hsl);

  --premium-perk-purple-hsl: var(--premium-tier-2-pink-hsl);
  --premium-perk-pink-hsl: var(--premium-tier-2-pink-hsl);
  --premium-perk-green-hsl: var(--green-560-hsl);
  --premium-perk-yellow-hsl: var(--nord-yellow-hsl); /*! nord color */
  --premium-perk-dark-blue-hsl: var(--nord-blue-hsl); /*! nord color */
  --premium-perk-light-blue-hsl: var(--nord-turquoise-hsl); /*! nord color */
  --premium-perk-blue-hsl: var(--nord-cyan-hsl); /*! nord color */
  --premium-perk-orange-hsl: var(--yellow-500-hsl);
  --premium-perk-gold-hsl: var(--yellow-500-hsl);

  /** Other */
  --partner-hsl: var(--nord-blue-hsl); /*! nord color */
  --twitch-hsl: var(--nord-pink-hsl); /*! nord color */

  --application-subscription-start-hsl: var(--nord-blue-hsl); /*! nord color */
  --application-subscription-end-hsl: var(--nord-cyan-hsl); /*! nord color */

  /* overwrite some variables */
  --elevation-low: 0 1px 0 var(--c-separator-border);
  --search-popout-date-picker-hint-text: var(--text-muted);

  --button-danger-background-hover: var(--red-560);
  --button-danger-background-active: var(--red-630);
  --button-outline-danger-background-active: var(--red-560);

  --button-positive-background-hover: var(--green-730);
  --button-positive-background-active: var(--green-760);

  --home-background: var(--background-primary);
}

.theme-light,
.theme-dark {
  --status-positive-text: var(--black-500);
  --search-popout-date-picker-hint-value-text: var(--black-500);
}

/** Uniformize colors */
.theme-dark {
  /* custom variables */
  --c-separator-border: var(--primary-560);
  --c-background-secondary-alt2: var(--primary-500);
  --c-reaction-border: var(--primary-660);

  /* override variables */
  --background-primary: var(--primary-630);
  --background-secondary: var(--primary-600);
  --background-secondary-alt: var(--primary-560);

  --interactive-muted: var(--primary-430);
  --channels-default: var(--primary-330);
  --channel-icon: var(--primary-400);
  --background-message-hover: hsl(var(--primary-560-hsl) / 0.25);
  --channeltextarea-background: var(--background-secondary);
  --background-mentioned: hsl(var(--brand-500-hsl) / 0.18);

  --background-mentioned-hover: hsl(var(--brand-500-hsl) / 0.15);
  --background-modifier-hover: hsl(var(--primary-500-hsl) / 0.6);
  --mention-background: hsl(var(--brand-500-hsl) / 0.25);

  --scrollbar-thin-thumb: var(--primary-500);
  --scrollbar-auto-thumb: var(--primary-500);
  --scrollbar-auto-track: var(--background-message-hover);
}

.theme-light {
  --search-popout-option-fade-hover: linear-gradient(90deg, hsl(var(--primary-200-hsl) / 0), var(--primary-200) 50%);

  /* custom variables */
  --c-separator-border: var(--primary-260);
  --c-background-secondary-alt2: var(--primary-260);
  --c-reaction-border: var(--primary-260);

  /* override variables */
  --background-tertiary: var(--primary-260);

  --interactive-muted: var(--primary-400);
  --background-message-hover: hsl(var(--primary-300-hsl) / 0.25);

  --background-mentioned: hsl(var(--brand-500-hsl) / 0.5);
  --background-mentioned-hover: hsl(var(--brand-500-hsl) / 0.4);
  --mention-foreground: var(--black-500);
  --mention-background: hsl(var(--brand-600-hsl) / 0.4);

  --scrollbar-thin-thumb: var(--primary-260);
  --scrollbar-auto-thumb: var(--primary-260);
  --scrollbar-auto-track: var(--background-message-hover);

  --input-background: var(--primary-160);
}
