$nordColors: (
  'dark1': #2e3440,
  'dark2': #3b4252,
  'dark3': #434c5e,
  'dark4': #4c566a,

  'light1': #d8dee9,
  'light2': #e5e9f0,
  'light3': #eceff4,

  'green-blue': #8fbcbb,
  'turquoise': #88c0d0,
  'cyan': #81a1c1,
  'blue': #5e81ac,

  'red': #bf616a,
  'orange': #d08770,
  'yellow': #ebcb8b,
  'green': #a3be8c,
  'pink': #b48ead,
);

:root {
  @each $name, $color in $nordColors {
    @include colorVars('nord-#{$name}', hexToHSL($color));
  }
}
