/*
 * > follow (popup when "follow" button clicked)
 */
.images-dark .header__5ca14 {
  background-image: url(svg('server/channel/announcement/follow-bg.svg'));
}
.images-light .header__5ca14 {
  background-image: url(svg('server/channel/announcement/follow-bg-light.svg'));
}
