/*
 * > follow (popup when "follow" button clicked)
 */
.images-dark ._5ca14cde5e287f4e-header {
  background-image: url(svg('server/channel/announcement/follow-bg.svg'));
}
.images-light ._5ca14cde5e287f4e-header {
  background-image: url(svg('server/channel/announcement/follow-bg-light.svg'));
}
