.header-3xB4vB {
  background-color: var(--background-primary) !important;
}
.innerHeader-1cC3Fp:after {
  background: linear-gradient(180deg, rgba(var(--background-primary-rgb), 0) 0, var(--background-primary))
    linear-gradient(180deg, rgba(var(--background-primary-rgb), 0) 0, var(--background-primary)) !important;
}

.container-1um7CU {
  background-color: var(--background-secondary-alt) !important;
}
