.container__6b2e5, /* Browse channels */
.header__71942, /* Channels & Roles (header bar) */
.container__03ec9, /* Channels & Roles (tabs navigation) */
.scrollerContainer_dda72c, /* Channels & Roles (content) */
.emptyPage_feb902 /*! Discover > preview mode > Channels & Roles */ {
  @if is_uniform() {
    background-color: var(--background-primary) !important;
  } @else {
    background-color: var(--background-secondary-alt) !important;
  }
}
.innerHeader_ccbd77:after /* Channels & Roles */ {
  background: linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    )
    linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    ) !important;
}

/*
 * > Browse Channels
 */
@if is_uniform() {
  .channelRow__538ef {
    background-color: var(--background-secondary);

    .lookOutlined__014b5.colorPrimary_ebe632 {
      border-color: var(--c-background-secondary-alt2);
    }
  }
}

.channelRow__538ef:hover:not(.disabled__556e5) {
  @if is_uniform() {
    background-color: var(--background-secondary-alt);
  } @else {
    background-color: var(--background-modifier-hover);
  }
}

/*
 * > Empty page
 */
.emptyIcon__99e5c {
  path[fill='#58F287'] {
    fill: var(--green-500);
  }
  path[fill='#FFD01A'] {
    fill: var(--yellow-500);
  }
}
