.emptyPage__3e15d, /*! Discover > preview mode > Channels & Roles */
.container__7590f, /* Browse channels */
.header__60bef, /* Channels & Roles (header bar) */
.container__10dc7, /* Channels & Roles (tabs navigation) */
.scrollerContainer_bf5dbd /* Channels & Roles (content) */ {
  background-color: var(--background-secondary-alt) !important;
}
.innerHeader_afca2f:after /* Channels & Roles */ {
  background: linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    )
    linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    ) !important;
}

/* "New" badge */
.titleBadge__6322b, /* (badge in channels > new channel) */
.newBadge_b013d6 /* (badge in customise > new options) */ {
  color: var(--brand-900);
}

/*
 * > Browse Channels
 */
.channelRow__96673:hover:not(.disabled__583e7) {
  background-color: var(--background-modifier-hover);
}

/*
 * > Empty page
 */
.emptyIcon__3ebb5 {
  path[fill='#58F287'] {
    fill: var(--green-500);
  }
  path[fill='#FFD01A'] {
    fill: var(--yellow-500);
  }
}
