.container__0b563, /* content */
.header__0b563 /* header bar */ {
  @if is_uniform() {
    background-color: var(--background-primary) !important;
  } @else {
    background-color: var(--background-secondary-alt) !important;
  }
}
.children__9293f:after /* Channels & Roles */ {
  background: linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    )
    linear-gradient(
      180deg,
      rgba(var(--background-primary-rgb), 0) 0,
      var(--background-primary)
    ) !important;
}

@if is_uniform() {
  .tabBar__0b563 /* Channels & Roles (active tab) */ {
    border-bottom-color: var(--background-secondary-alt);
  }
}

/*
 * > Customise
 */
@if is_uniform() {
  .prompt__5d7c9,
  .profileCard__5d7c9 {
    background-color: var(--background-secondary);
  }

  .theme-dark .optionButtonWrapper__270d7:not(.selected__270d7) {
    border-color: var(--interactive-muted);

    &:hover {
      border-color: var(--interactive-normal);
    }
  }

  .role__5d7c9 {
    background-color: var(--background-secondary-alt);
  }
} @else {
  .theme-dark .optionButtonWrapper__270d7:not(.selected__270d7) {
    border-color: var(--primary-460);

    &:hover {
      border-color: var(--interactive-normal);
    }
  }
}

/*
 * > Browse Channels
 */
@if is_uniform() {
  .channelRow_e4503a {
    background-color: var(--background-secondary);

    .lookOutlined__201d5.colorPrimary__201d5 {
      border-color: var(--c-background-secondary-alt2);
    }
  }
}

.channelRow_e4503a:hover:not(.disabled_e4503a) {
  @if is_uniform() {
    background-color: var(--background-secondary-alt);
  } @else {
    background-color: var(--background-modifier-hover);
  }
}

/*
 * > Empty page
 */
.emptyIcon__5d7c9 {
  path[fill='#58F287'] {
    fill: var(--green-500);
  }
  path[fill='#FFD01A'] {
    fill: var(--yellow-500);
  }
}
