.botTagOP__82f07 {
  color: var(--blurple-87);
}

.pinIcon__08166 path[fill='white'] {
  fill: var(--black-500);
}

.reaction_f8896c.reactionMe_f8896c .reactionCount_f8896c {
  color: var(--message-reacted-text-default);
}

/*
 * > filter
 */
.countText_f369db,
.countText__5808f /** Dropdown menu */ {
  color: var(--black-500);
}

/*
 * > Channel settings
 */
.addTags__3f6df path[fill='var(--white)'] {
  fill: var(--black-500);
}
