._82f0793afa59e5dc-botTagOP {
  color: var(--blurple-87);
}

._08166c4389c22135-pinIcon path[fill='white'] {
  fill: var(--black-500);
}

.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe
  .f8896c4f6be18f59-reactionCount {
  color: var(--message-reacted-text-default);
}

/*
 * > filter
 */
.f369dba7416c67f0-countText,
._5808f3d86030cee1-countText /** Dropdown menu */ {
  color: var(--black-500);
}
