.botTagOP_a02df3,
.newBadge_d331f1[style*='background-color: var(--brand-260)'], /* (list view) */
.newBadge_a57509[style*='background-color: var(--brand-260)'] /* (gallery view) */ {
  color: var(--brand-900);
}

@if is_uniform() {
  .mainCard_a6d69a {
    background-color: var(--background-secondary) !important;
  }
} @else {
  .mainCard_a6d69a {
    background-color: var(--background-primary) !important;
  }
}

/*
 * Get started
 */
@if is_uniform() {
  .container_a039eb,
  .container_a03b48 /* + first conversation */ {
    background-color: var(--background-secondary);
  }
  .stepContainer_a039eb {
    background-color: var(--background-primary);
  }
}

.stepStatus_a039eb[style*='background-color: var(--status-positive-background)'],
.discordIcon_ad4d4c {
  color: var(--black-500);
}

.stars_a03b48,
.emptyStateStars_b767ed /* + empty forum  */ {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
}

.inline_ad4d4c img[src='/assets/db8dd898bbfa31caea78.svg'] {
  content: url(svg('server/channel/forum/guide.svg'));
}

/*
 * Matching post ("Search or create a post")
 */
.theme-dark .matchingPostsRow_a6d69a {
  @if is_uniform() {
    background-color: var(--background-secondary-alt);
  } @else {
    background-color: var(--background-modifier-hover);
  }
}

/*
 * > filter
 */
.countText_a6d69a,
.countText_ae4f46 /** Dropdown menu */ {
  color: var(--black-500);
}

/*
 * Post
 */
@if is_uniform() == false {
  .contentPreview_a57509 {
    background-color: var(--background-secondary);
  }
  .theme-dark .textContentFooter_a57509 {
    background: linear-gradient(
      to top,
      hsl(var(--primary-630-hsl) / 1),
      hsl(var(--primary-630-hsl) / 0.97) 36px,
      hsl(var(--primary-630-hsl) / 0.4)
    );
  }
  .theme-dark .textContentFooter_a57509.noTags_a57509 {
    background: linear-gradient(
      to top,
      hsl(var(--primary-630-hsl) / 1),
      hsl(var(--primary-630-hsl) / 0)
    );
  }
}

.pinIcon_f451cd path[fill='white'], /* (list view) */
.pinIcon_f451cd path[fill='white'] /* (gallery view) */ {
  fill: var(--black-500);
}

@if is_uniform() {
  .mainCard_a6d69a .reaction_f61c73 {
    background-color: var(--background-secondary);
  }
}
