/*
 * new badge
 */
.newBadge-1LcB6t[style*='background-color: var(--brand-260)'] {
  color: var(--brand-new-800);
}

/*
 * > filter
 */
.countText-1d5thl,
.countText-35ewVE /** Dropdown menu */ {
  color: var(--black-500);
}

/*
 * Post
 */
.pinIcon-3I5-gm path[fill='white'] {
  fill: var(--black-500);
}

/*
 * > Post
 */
.botTagOP-3pUTXu {
  color: var(--brand-new-900);
}
