.botTagOP_fd6360,
.newBadge_b7f5a5[style*='background-color: var(--brand-260)'], /* (list view) */
.newBadge__40645[style*='background-color: var(--brand-260)'] /* (gallery view) */ {
  color: var(--brand-900);
}

@if is_uniform() {
  .mainCard__0ec2c {
    background-color: var(--background-secondary);
  }

  .increasedActivityDotIcon_feef86 {
    color: var(--background-primary);
  }
}

/*
 * Moderator guide
 */
.theme-dark .separator_ff8dd4 {
  background-color: var(--primary-500);
}

/*
 * Get started
 */
@if is_uniform() {
  .container__50cdd {
    background-color: var(--background-secondary);
  }
  .stepContainer_f61e92 {
    background-color: var(--background-primary);
  }
}

.stepStatus__6954b[style*='background-color: var(--status-positive-background)'],
.discordIcon__0c525 {
  color: var(--black-500);
}

.stars_c83456 {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
}

.inline__56a7e img[src='/assets/da4a237cced3fc35e9fb.svg'] {
  content: url(svg('server/channel/forum/guide.svg'));
}

/*
 * Matching post ("Search or create a post")
 */
.theme-dark .matchingPostsRow__6cdb0 {
  @if is_uniform() {
    background-color: var(--background-secondary-alt);
  } @else {
    background-color: var(--background-modifier-hover);
  }
}

/*
 * > filter
 */
.countText__90ea0,
.countText_d1ee8c /** Dropdown menu */ {
  color: var(--black-500);
}

/*
 * Post
 */
.pinIcon_a93f74 path[fill='white'], /* (list view) */
.pinIcon__39b6e path[fill='white'] /* (gallery view) */ {
  fill: var(--black-500);
}

@if is_uniform() {
  .increasedActivityMainCard_e53744, /* (list view) */
  .replies__1b03e:hover /* conversation line */ {
    background-color: var(--background-secondary);
  }

  .replies__1b03e,
  .container__5130c .addReactButton_c67c5a, /* (list view) */
  .reaction_ef7e09, /* (grid view) */
  .defaultReaction_cda082, .reaction_a0e18f /* (list view) */ {
    background-color: var(--background-primary);
  }
} @else {
  .theme-dark .contentPreview__122fc,
  .theme-dark .optionButtonWrapper_c86844:not(:hover):not(.selected__31118) /*! Channels & Roles > Customise */ {
    background-color: var(--primary-500);
  }
}
