@if is_uniform() {
  .mainCard_a6d69a {
    background: transparent;
    border-color: var(--background-secondary-alt);
  }
}

.botTagOP_a9e77f,
.newBadge_d331f1[style*='background-color: var(--brand-260)'], /* (list view) */
.newBadge_a57509[style*='background-color: var(--brand-260)'] /* (gallery view) */ {
  color: var(--brand-900);
}

.stepStatus_a039eb[style*='background-color: var(--status-positive-background)'],
.discordIcon_ad4d4c {
  color: var(--black-500);
}

.stars_a03b48,
.emptyStateStars_b767ed /* + empty forum  */ {
  path[fill='#ADF3FF'] {
    fill: var(--nord-cyan);
  }
  path[fill='#FFD01A'] {
    fill: var(--nord-yellow);
  }
}

.inline_ad4d4c img[src='/assets/db8dd898bbfa31caea78.svg'] {
  content: url(svg('server/channel/forum/guide.svg'));
}

/*
 * Matching post ("Search or create a post")
 */
.theme-dark .matchingPostsRow_a6d69a {
  @if is_uniform() {
    background-color: var(--background-secondary-alt);
  } @else {
    background-color: var(--background-modifier-hover);
  }
}

/*
 * > filter
 */
.countText_a6d69a,
.countText_ae4f46 /** Dropdown menu */ {
  color: var(--black-500);
}

.pinIcon_f451cd path[fill='white'], /* (list view) */
.pinIcon_f451cd path[fill='white'] /* (gallery view) */ {
  fill: var(--black-500);
}
