.background_cb0a80 {
  background-color: var(--background-secondary-alt);
}
.theme-dark .headerBarInner__4f0f6:after {
  background: linear-gradient(
    180deg,
    rgba(var(--primary-660-rgb), 0) 0,
    var(--background-secondary-alt)
  );
}
.theme-light .headerBarInner__4f0f6:after {
  background: linear-gradient(
    180deg,
    rgba(var(--primary-160-rgb), 0) 0,
    var(--background-secondary-alt)
  );
}
