.background-fkKrXt {
  background-color: var(--background-secondary-alt) !important;
}
.theme-dark .headerBarInner-2pcZSM:after {
  background: linear-gradient(180deg, rgba(var(--primary-660-rgb), 0) 0, var(--background-secondary-alt)) !important;
}
.theme-light .headerBarInner-2pcZSM:after {
  background: linear-gradient(180deg, rgba(var(--primary-160-rgb), 0) 0, var(--background-secondary-alt)) !important;
}
