@if is_uniform() {
  .mainTableContainer__09a38 {
    background-color: var(--background-secondary);
  }

  .table_b4ec0b,
  .paginationContainer_e8f197 {
    border-top-color: var(--background-secondary-alt);
  }

  .memberRowContainer__71c22 {
    td:after {
      background: var(--background-primary);
    }

    &:hover td {
      background-color: var(--background-secondary-alt);
    }
  }
}
