@if is_uniform() {
  .mainTableContainer_e23072 {
    background-color: var(--background-secondary);
  }

  .table_aabef9,
  .paginationContainer_cb152b {
    border-top-color: var(--background-secondary-alt);
  }

  .memberRowContainer_a39fe9 td:after {
    background: var(--background-primary);
  }

  .memberRowContainer_a39fe9:hover td {
    background-color: var(--background-secondary-alt);
  }
}
