.scroller__56ccd,
.rowContainer__8a920,
.participants__9c309,
.tileContainer__71eb2 {
  background-color: var(--black);
}
/* Match background and scrollbar with new call background */
.no-webkit-scrollbar .auto_c8b5c7,
.no-webkit-scrollbar .auto_c8b5c7.fade_c8b5c7:hover,
.no-webkit-scrollbar .fade_c8b5c7 {
  scrollbar-color: var(--black) var(--background-modifier-accent);
}
.auto_c8b5c7 {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background-color: var(--black);
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-color: var(--black);
  }
}
