._56ccd9a4ea869e7b-scroller,
._8a9209d2fbd9f45c-rowContainer,
._9c309f82892ed3cd-participants,
._71eb2d6ae9535ae3-tileContainer {
  background-color: var(--black);
}
/* Match background and scrollbar with new call background */
.no-webkit-scrollbar .c8b5c7128a90b79f-auto,
.no-webkit-scrollbar .c8b5c7128a90b79f-auto.c8b5c7128a90b79f-fade:hover,
.no-webkit-scrollbar .c8b5c7128a90b79f-fade {
  scrollbar-color: var(--black) var(--background-modifier-accent);
}
.c8b5c7128a90b79f-auto {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background-color: var(--black);
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-color: var(--black);
  }
}

/*
 * >> moderator badge
 */
.fdb9cf70bd87740b-container rect[fill='var(--white-500)'] + path {
  fill: var(--black-500);
}
