@use '../../discord-color' as discord;

/*
 * > interaction (mention)
 */
.interactive:hover {
  color: var(--black-500);
}

/*
 * > new messages bar
 */
.newMessagesBar__0f481 .barButtonBase__0f481 {
  color: var(--black-500);
}

/*
 * Text channel (user join)
 */
.icon__235ca[style*='background-image: url("/assets/8b9de960da063cb9.svg")'] {
  background-image: url(svg('server/channel/text/join.svg')) !important;
}
/* Reply message */
.userJoinSystemMessageIcon_c19a55 path[fill='#{discord.$green-new-37-hex}'] {
  fill: var(--nord-green);
}

/*
 * > mentioned/reply/ephemeral message
 */
.mentioned__5126c:before {
  background-color: var(--brand-500);
}
.replying__5126c:before,
.ephemeral__5126c:before {
  background-color: var(--nord-blue);
}
.ephemeral__5126c {
  background-color: var(--message-highlight-background-default);
}
.message__5126c.replying__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c.replying__5126c:hover {
  background-color: var(--message-highlight-background-hover);
}

/*
 * > Voice message
 */
.playIcon_a8e786 {
  color: var(--black-500);
}

.playing_a8e786 {
  .playButtonContainer_a8e786 {
    background: var(--black-500);
  }

  .duration_a8e786,
  .volumeButtonIcon_a8e786 {
    color: var(--black-500);
  }
}

/*
 * Sended files
 */
/* Drop file */
.uploadDropModal_b78547:not(.error_b78547) .inner_b78547 {
  .title_b78547,
  .title_b78547 strong,
  .instructions_b78547 {
    color: var(--black-500);
  }
}
.icon_b78547 {
  &.two_b78547 {
    filter: drop-shadow(0 0 48px hsla(var(--brand-500-hsl) / 0.5)) !important;
  }

  &.document_b78547 {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.image_b78547 {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.code_b78547 {
    background-image: url(svg('global/upload/code.svg'));
  }
}

/* edit attachment */
.icon__41ea0 {
  &.video__41ea0 {
    background-image: url(svg('global/upload/video.svg'));
  }
  &.acrobat__41ea0 {
    background-image: url(svg('global/upload/acrobat.svg'));
  }
  &.ae__41ea0 {
    background-image: url(svg('global/upload/ae.svg'));
  }
  &.sketch__41ea0 {
    background-image: url(svg('global/upload/sketch.svg'));
  }
  &.ai__41ea0 {
    background-image: url(svg('global/upload/ai.svg'));
  }
  &.archive__41ea0 {
    background-image: url(svg('global/upload/archive.svg'));
  }
  &.code__41ea0 {
    background-image: url(svg('global/upload/code.svg'));
  }
  &.document__41ea0 {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.ps__41ea0,
  &.photoshop__41ea0 {
    background-image: url(svg('global/upload/ps.svg'));
  }
  &.spreadsheet__41ea0 {
    background-image: url(svg('global/upload/spreadsheet.svg'));
  }
  &.image__41ea0 {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.webcode__41ea0 {
    background-image: url(svg('global/upload/webcode.svg'));
  }
  &.audio__41ea0 {
    background-image: url(svg('global/upload/audio.svg'));
  }
  &.unknown__41ea0 {
    background-image: url(svg('global/upload/unknown.svg'));
  }
}

/* in channel */
.icon__0ccae {
  &[src='/assets/a42338c030af6d9c.svg'] /* acrobat file */ {
    content: url(svg('global/upload/acrobat.svg'));
  }
  &[src='/assets/88b289225ff6142a.svg'] /* ae file */ {
    content: url(svg('global/upload/ae.svg'));
  }
  &[src='/assets/c9f0992f0ab98d49.svg'] /* sketch file */ {
    content: url(svg('global/upload/sketch.svg'));
  }
  &[src='/assets/93636da24d7ab467.svg'] /* ai file */ {
    content: url(svg('global/upload/ai.svg'));
  }
  &[src='/assets/f89b66e97ea52ba7.svg'] /* archive file */ {
    content: url(svg('global/upload/archive.svg'));
  }
  &[src='/assets/f4bad77442422ded.svg'] /* code file */ {
    content: url(svg('global/upload/code.svg'));
  }
  &[src='/assets/1084490cf680dd7c.svg'] /* ps file */ {
    content: url(svg('global/upload/ps.svg'));
  }
  &[src='/assets/b8ca4488a6d443bc.svg'] /* spreadsheet file */ {
    content: url(svg('global/upload/spreadsheet.svg'));
  }
  &[src='/assets/6e688b0c124e0ca8.svg'] /* webcode file */ {
    content: url(svg('global/upload/webcode.svg'));
  }
  &[src='/assets/94660b205108a49f.svg'] /* unknown */ {
    content: url(svg('global/upload/unknown.svg'));
  }
}
.audioMetadata_cf09d8:before {
  background-image: url(svg('global/upload/audio.svg'));
}

/* writing message */
.fileIcon_b78547 {
  &.video_b78547 {
    background-image: url(svg('global/upload/video.svg'));
  }
  &.acrobat_b78547 {
    background-image: url(svg('global/upload/acrobat.svg'));
  }
  &.ae_b78547 {
    background-image: url(svg('global/upload/ae.svg'));
  }
  &.sketch_b78547 {
    background-image: url(svg('global/upload/sketch.svg'));
  }
  &.ai_b78547 {
    background-image: url(svg('global/upload/ai.svg'));
  }
  &.archive_b78547 {
    background-image: url(svg('global/upload/archive.svg'));
  }
  &.code_b78547 {
    background-image: url(svg('global/upload/code.svg'));
  }
  &.document_b78547 {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.ps_b78547,
  &.photoshop_b78547 {
    background-image: url(svg('global/upload/ps.svg'));
  }
  &.spreadsheet_b78547 {
    background-image: url(svg('global/upload/spreadsheet.svg'));
  }
  &.image_b78547 {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.webcode_b78547 {
    background-image: url(svg('global/upload/webcode.svg'));
  }
  &.audio_b78547 {
    background-image: url(svg('global/upload/audio.svg'));
  }
  &.unknown_b78547 {
    background-image: url(svg('global/upload/unknown.svg'));
  }
}
