/*
 * > interaction
 */
.interactive:hover {
  color: var(--black-500);
}

/*
 * > new messages bar
 */
.newMessagesBar_cf58b5 .barButtonBase_cf58b5 {
  color: var(--black-500);
}

/*
 * Text channel (empty)
 */
.icon_f9902b[style*='background-image: url("/assets/fea1d92557530364cefd.svg")'] {
  background-image: url(svg('server/channel/text/invite.svg')) !important;
}
.icon_f9902b[style*='background-image: url("/assets/b8566c6e8b65576532c0.svg")'] {
  background-image: url(svg('server/channel/text/customize.svg')) !important;
}
.icon_f9902b[style*='background-image: url("/assets/cf6b9f0ee7c5cee7fb45.svg")'] {
  background-image: url(svg('server/channel/text/chat.svg')) !important;
}
.icon_f9902b[style*='background-image: url("/assets/9db0c99df4cb2d4dfa87.svg")'] {
  background-image: url(svg('server/channel/text/first-app.svg')) !important;
}

/*
 * Text channel (user join)
 */
.icon_d76df7[style*='background-image: url("/assets/db0473de8224a02f3a88.svg")'] {
  background-image: url(svg('server/channel/text/join.svg')) !important;
}
/* Reply message */
.userJoinSystemMessageIcon_f9f2ca path[fill='#{$status-green-600-hex}'] {
  fill: hsl(var(--user-status-online-hsl));
}

/*
 * > mentioned message
 */
.mentioned_d5deea:before {
  background-color: var(--brand-500);
}

/*
 * > Reaction
 */
@if is_uniform() {
  .message_ccca67 .reaction_ec6b19 {
    border-color: var(--background-secondary-alt);
  }
}

.theme-light .reaction_ec6b19 {
  background-color: var(--primary-160);
}

/*
 * > Embed
 */
@if is_uniform() == false {
  .theme-light .embedFull_ad0b71 {
    background-color: var(--primary-160);
  }
}

/*
 * > Voice message
 */
.playIcon_d6cb89 {
  color: var(--black-500);
}

.playing_d6cb89 .playButtonContainer_d6cb89 {
  background: var(--black-500);
}

.playing_d6cb89 .duration_d6cb89,
.playing_d6cb89 .volumeButtonIcon_d6cb89 {
  color: var(--black-500);
}
