@use '../../discord-color' as discord;

/*
 * > interaction (mention)
 */
.interactive:hover {
  color: var(--black-500);
}

/*
 * > new messages bar
 */
._0f481cbbd7530492-newMessagesBar {
  color: var(--black-500);
}

/*
 * Text channel (user join)
 */
._235ca3770d90ab7c-icon[style*='background-image: url("/assets/8b9de960da063cb9.svg")'] {
  background-image: url(svg('server/channel/text/join.svg')) !important;
}
/* Reply message */
.c19a557985eb7793-userJoinSystemMessageIcon
  path[fill='#{discord.$green-new-37-hex}'] {
  fill: var(--nord-green);
}

/*
 * > mentioned/reply/ephemeral message
 */
._5126c0cd07f243a0-mentioned:before {
  background-color: var(--brand-500);
}
._5126c0cd07f243a0-replying:before,
._5126c0cd07f243a0-ephemeral:before {
  background-color: var(--nord-blue);
}
._5126c0cd07f243a0-ephemeral {
  background-color: var(--message-highlight-background-default);
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-replying._5126c0cd07f243a0-selected,
.mouse-mode.full-motion
  ._5126c0cd07f243a0-message._5126c0cd07f243a0-replying:hover,
._5126c0cd07f243a0-message._5126c0cd07f243a0-ephemeral._5126c0cd07f243a0-selected,
.mouse-mode.full-motion
  ._5126c0cd07f243a0-message._5126c0cd07f243a0-ephemeral:hover {
  background-color: var(--message-highlight-background-hover);
}

/*
 * > Voice message
 */
.a8e786485f0c32f8-playIcon {
  color: var(--black-500);
}

.a8e786485f0c32f8-playing {
  .a8e786485f0c32f8-playButtonContainer {
    background: var(--black-500);
  }

  .a8e786485f0c32f8-duration,
  .a8e786485f0c32f8-volumeButtonIcon {
    color: var(--black-500);
  }
}

/*
 * Sended files
 */
/* Drop file */
.b7854763c4a57c63-uploadDropModal:not(.b7854763c4a57c63-error)
  .b7854763c4a57c63-inner {
  .b7854763c4a57c63-title,
  .b7854763c4a57c63-title strong,
  .b7854763c4a57c63-instructions {
    color: var(--black-500);
  }
}
.b7854763c4a57c63-icon {
  &.b7854763c4a57c63-two {
    filter: drop-shadow(0 0 48px hsla(var(--brand-500-hsl) / 0.5)) !important;
  }

  &.b7854763c4a57c63-document {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.b7854763c4a57c63-image {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.b7854763c4a57c63-code {
    background-image: url(svg('global/upload/code.svg'));
  }
}

/* edit attachment */
.b7854763c4a57c63-fileIcon {
  &.b7854763c4a57c63-video {
    background-image: url(svg('global/upload/video.svg'));
  }
  &.b7854763c4a57c63-acrobat {
    background-image: url(svg('global/upload/acrobat.svg'));
  }
  &.b7854763c4a57c63-ae {
    background-image: url(svg('global/upload/ae.svg'));
  }
  &.b7854763c4a57c63-sketch {
    background-image: url(svg('global/upload/sketch.svg'));
  }
  &.b7854763c4a57c63-ai {
    background-image: url(svg('global/upload/ai.svg'));
  }
  &.b7854763c4a57c63-archive {
    background-image: url(svg('global/upload/archive.svg'));
  }
  &.b7854763c4a57c63-code {
    background-image: url(svg('global/upload/code.svg'));
  }
  &.b7854763c4a57c63-document {
    background-image: url(svg('global/upload/document.svg'));
  }
  &.b7854763c4a57c63-ps,
  &.b7854763c4a57c63-photoshop {
    background-image: url(svg('global/upload/ps.svg'));
  }
  &.b7854763c4a57c63-spreadsheet {
    background-image: url(svg('global/upload/spreadsheet.svg'));
  }
  &.b7854763c4a57c63-image {
    background-image: url(svg('global/upload/image.svg'));
  }
  &.b7854763c4a57c63-webcode {
    background-image: url(svg('global/upload/webcode.svg'));
  }
  &.b7854763c4a57c63-audio {
    background-image: url(svg('global/upload/audio.svg'));
  }
  &.b7854763c4a57c63-unknown {
    background-image: url(svg('global/upload/unknown.svg'));
  }
}

/* writing message */
._41ea06378162693a-icon {
  &._41ea06378162693a-video {
    background-image: url(svg('global/upload/video.svg'));
  }
  &._41ea06378162693a-acrobat {
    background-image: url(svg('global/upload/acrobat.svg'));
  }
  &._41ea06378162693a-ae {
    background-image: url(svg('global/upload/ae.svg'));
  }
  &._41ea06378162693a-sketch {
    background-image: url(svg('global/upload/sketch.svg'));
  }
  &._41ea06378162693a-ai {
    background-image: url(svg('global/upload/ai.svg'));
  }
  &._41ea06378162693a-archive {
    background-image: url(svg('global/upload/archive.svg'));
  }
  &._41ea06378162693a-code {
    background-image: url(svg('global/upload/code.svg'));
  }
  &._41ea06378162693a-document {
    background-image: url(svg('global/upload/document.svg'));
  }
  &._41ea06378162693a-ps,
  &._41ea06378162693a-photoshop {
    background-image: url(svg('global/upload/ps.svg'));
  }
  &._41ea06378162693a-spreadsheet {
    background-image: url(svg('global/upload/spreadsheet.svg'));
  }
  &._41ea06378162693a-image {
    background-image: url(svg('global/upload/image.svg'));
  }
  &._41ea06378162693a-webcode {
    background-image: url(svg('global/upload/webcode.svg'));
  }
  &._41ea06378162693a-audio {
    background-image: url(svg('global/upload/audio.svg'));
  }
  &._41ea06378162693a-unknown {
    background-image: url(svg('global/upload/unknown.svg'));
  }
}

/* in channel */
._0ccaee68b77c7469-icon {
  &[src='/assets/a42338c030af6d9c.svg'] /* acrobat file */ {
    content: url(svg('global/upload/acrobat.svg'));
  }
  &[src='/assets/88b289225ff6142a.svg'] /* ae file */ {
    content: url(svg('global/upload/ae.svg'));
  }
  &[src='/assets/c9f0992f0ab98d49.svg'] /* sketch file */ {
    content: url(svg('global/upload/sketch.svg'));
  }
  &[src='/assets/93636da24d7ab467.svg'] /* ai file */ {
    content: url(svg('global/upload/ai.svg'));
  }
  &[src='/assets/f89b66e97ea52ba7.svg'] /* archive file */ {
    content: url(svg('global/upload/archive.svg'));
  }
  &[src='/assets/f4bad77442422ded.svg'] /* code file */ {
    content: url(svg('global/upload/code.svg'));
  }
  &[src='/assets/1084490cf680dd7c.svg'] /* ps file */ {
    content: url(svg('global/upload/ps.svg'));
  }
  &[src='/assets/b8ca4488a6d443bc.svg'] /* spreadsheet file */ {
    content: url(svg('global/upload/spreadsheet.svg'));
  }
  &[src='/assets/6e688b0c124e0ca8.svg'] /* webcode file */ {
    content: url(svg('global/upload/webcode.svg'));
  }
  &[src='/assets/94660b205108a49f.svg'] /* unknown */ {
    content: url(svg('global/upload/unknown.svg'));
  }
}
.cf09d85aafe7e124-audioMetadata:before {
  background-image: url(svg('global/upload/audio.svg'));
}
