@if is_uniform() {
  .wrapper-22rqw6 /* emoji picker */ {
    background-color: var(--background-secondary);
    border-right: 1px solid hsl(var(--primary-900-hsl) / 0.2);
  }
}

/*
 * > interaction
 */
.interactive:hover {
  color: var(--black-500);
}

/*
 * > new messages bar
 */
.newMessagesBar-1hF-9G .barButtonBase-Sk2mdB {
  color: var(--black-500);
}

/*
 * Text channel (empty)
 */
.icon-2dMhn4[style*='background-image: url("/assets/be71475205180432aaa6a89bd8ee306c.svg")'] {
  background-image: url(svg('server/channel/text/invite.svg')) !important;
}
.icon-2dMhn4[style*='background-image: url("/assets/40aa3feae87e9745dd56756762029544.svg")'] {
  background-image: url(svg('server/channel/text/customize.svg')) !important;
}
.icon-2dMhn4[style*='background-image: url("/assets/364cec2cc5dfb64873e3a33626a56ba1.svg")'] {
  background-image: url(svg('server/channel/text/chat.svg')) !important;
}

.checkmark-bW9BK8 {
  color: var(--black-500);
}

/*
 * Text channel (user join)
 */
.icon-JRJzJz[style*='background-image: url("/assets/d1382af8d9e755bc44811b1fd92990a8.svg")'] {
  background-image: url(svg('server/channel/text/join.svg')) !important;
}

.userJoinSystemMessageIcon-3FQ_Mo path[fill='#{$status-green-600-hex}'] {
  fill: var(--green-600);
}

/*
 * > mentioned message
 */
.mentioned-Tre-dv:before {
  background-color: var(--brand-500);
}

/*
 * > Reaction
 */
@if is_uniform() {
  .reaction-3vwAF2 {
    border-color: var(--background-tertiary);
  }
}

.theme-light .reaction-3vwAF2 {
  background-color: var(--primary-160);
}

/*
 * > Embed
 */
@if is_uniform() == false {
  .theme-light .embedFull-1HGV2S {
    background-color: var(--primary-160);
  }
}
