/*
 * Channel (sidebar left)
 */
.voiceChannelHighlightGlow_c69b6d {
  background-color: hsla(var(--green-new-44-hsl) / 0.8);
}

/*
 * > screen share
 */
.root__175e2 {
  .infoText__175e2,
  .ctaButtonText__175e2 {
    color: var(--black-500) !important;
  }

  .premiumIcon__175e2 path {
    fill: var(--black-500) !important;
  }
}
