/*
 * Channel (sidebar left)
 */
.c69b6db0641110f6-voiceChannelHighlightGlow {
  background-color: hsla(var(--green-new-44-hsl) / 0.8);
}

/*
 * > screen share
 */
._175e2a45f20d98e9-root {
  ._175e2a45f20d98e9-infoText,
  ._175e2a45f20d98e9-ctaButtonText {
    color: var(--black-500) !important;
  }

  ._175e2a45f20d98e9-premiumIcon path {
    fill: var(--black-500) !important;
  }
}
