/*
 * Channel (sidebar left)
 */
.voiceChannelHighlightGlow_c69b6d {
  background-color: hsla(var(--green-new-44-hsl) / 0.8);
}

/*
 * > screen share
 */
.root_a66361 {
  .infoText_a66361,
  .ctaButtonText_a66361 {
    color: var(--black-500) !important;
  }

  .premiumIcon_a66361 path {
    fill: var(--black-500) !important;
  }
}
