/*
 * open chat (not joined)
 * hover (joined)
 ! + stage bottom
 */
.gradientContainer_cdada6 {
  --color-rgb: var(--primary-700-hsl);
  background-image: linear-gradient(
    hsl(var(--color-rgb)),
    hsl(var(--color-rgb) / 0.738) 19%,
    hsl(var(--color-rgb) / 0.541) 34%,
    hsl(var(--color-rgb) / 0.382) 47%,
    hsl(var(--color-rgb) / 0.278) 56.5%,
    hsl(var(--color-rgb) / 0.194) 65%,
    hsl(var(--color-rgb) / 0.126) 73%,
    hsl(var(--color-rgb) / 0.075) 80.2%,
    hsl(var(--color-rgb) / 0.042) 86.1%,
    hsl(var(--color-rgb) / 0.021) 91%,
    hsl(var(--color-rgb) / 0.008) 95.2%,
    hsl(var(--color-rgb) / 0.002) 98.2%,
    transparent
  );
}

/*
 * > screen share (step 2)
 */
@if is_uniform() {
  .theme-dark .card__7756d /* (fields) */ {
    border-color: var(--primary-430);
    background-color: hsl(var(--black-500-hsl) / 0.5);
  }

  .theme-dark .qualitySettingsContainer__8f353,
  .theme-dark .item__126a6 {
    border-color: var(--primary-430);
  }
}

.selectorTextSelected__147ec {
  color: var(--black-500);
}

.enhancedSelectorNitroText__4daeb {
  color: var(--premium-perk-pink-hsl) !important;
}
