/*
 * Channel (sidebar left)
 */
.c69b6db0641110f6-voiceChannelHighlightGlow {
  background-color: hsla(var(--green-new-44-hsl) / 0.8);
}

/*
 * > screen share
 */
.a66361967cf9ac88-root {
  .a66361967cf9ac88-infoText,
  .a66361967cf9ac88-ctaButtonText {
    color: var(--black-500) !important;
  }

  .a66361967cf9ac88-premiumIcon path {
    fill: var(--black-500) !important;
  }
}
